<template>
  <section class="error error--404">
    <div class="row column">
      <h1>403 :: User not authorized</h1>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {}
    },

    props: [],
    components: {},
    methods: {},
    created() {},
    mounted() {}
  }
</script>
