<template>
  <section class="error error--404">
    <div class="row column">
      <h1>404 :: Not Found</h1>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {}
    },

    props: [],
    components: {},
    methods: {},
    created() {
      this.$emit('loading', false)
    },
    mounted() {}
  }
</script>
