// Navigation
$navbar-width: rem-calc(167);
$infobar-width: rem-calc(293);
$infobar-expanded: rem-calc(293);
$infobar-breakpoint: 1242px;
$titlebar-height: rem-calc(50);

// Forms
$input-toggle-width: rem-calc(30);
$input-toggle-color: $goldenrod;

