<template>
  <section class="news-articles">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allArticles'}">News &amp; Events</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Add
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Add New Article</h1>
        </div>
      </div>
    </header>

    <section class="form" v-if="!loading">
      <div class="column row">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-article"></i>
                <p>Article</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <zf-abide @abide-submit.prevent="createArticle">
              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="title">Title</label>
                  <input type="text" id="title" v-model="article.title" required>
                  <span
                  v-if="errors.title"
                  v-text="errors.title"
                  class="form-error is-visible"></span>

                  <label for="type">Type</label>
                  <vue-select
                  @input="verifyCategory"
                  v-model="article.category_id"
                  id="category"
                  :options="{tags: true}">
                    <option :value="option.id" v-text="option.name" v-for="option in categories"></option>
                  </vue-select>
                  <span
                  v-if="errors.category_id"
                  v-text="errors.category_id"
                  class="form-error is-visible"></span>

                  <label for="uploads">Files</label>
                  <vue-dropzone
                  id="uploads"
                  :options="dropzoneOptions"
                  @vdropzone-sending="appendDropzoneData"
                  @vdropzone-success="appendUploadIds"></vue-dropzone>
                  <span
                  v-if="errors.uploads"
                  v-text="errors.uploads"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="published_at">Date</label>
                  <vue-datepicker
                  ref="datepicker"
                  id="published_at"
                  v-model="article.published_at"
                  format="MM.dd.yyyy"
                  required></vue-datepicker>
                  <span
                  v-if="errors.published_at"
                  v-text="errors.published_at"
                  class="form-error is-visible"></span>

                  <label for="related_attorneys">Related Attorneys</label>
                  <vue-select
                  v-model="article.related_attorneys"
                  id="related_attorneys"
                  :options="{multiple: true}">
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    ></option>
                  </vue-select>
                  <span
                  v-if="errors.related_attorneys"
                  v-text="errors.related_attorneys"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 small-12 columns">
                  <label for="content">Content</label>
                  <froala
                  :config="froalaConfig"
                  id="content"
                  :tag="'textarea'"
                  v-model="article.content"
                  required></froala>
                  <span
                  v-if="errors.content"
                  v-text="errors.content"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';
  import FroalaConfig from '../../classes/FroalaConfig';

  export default FormRequest.extend({
    data() {
      return {
        froalaConfig: FroalaConfig,
        article: {
          author_id: this.$auth.user().id,
          related_attorneys: [],
          uploads: [],
          published_at: new Date()
        },
        attorneys: {},
        categories: {},
        dropzoneOptions: {
          url: '/api/uploads',
          headers: { 'Authorization': 'Bearer ' + this.$auth.token() }
        },
        saved: false
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      createArticle() {
        this.$store.commit('setLoading', true);

        this.article.published_at = (new Date(this.article.published_at)).toLocaleDateString();

        this.$http.post('/articles', this.article)
        .then((res) => {
          this.saved = true;
          this.$toast.success('Article was created successfully!');
          this.$store.commit('setLoading', false);
          this.$router.push({name: 'viewArticle', params: {id: res.data.id}});
        })
        .catch((res) => this._respondToErrors(res));
      },

      appendDropzoneData(file, xhr, formData) {
		    formData.append('uploadable_type', 'article');
      },

      appendUploadIds(file, res) {
        this.article.uploads.push(res.id);
      },

      verifyCategory(value) {
        if (!parseInt(value)) {
          this.article.add_category = true;
        } else {
          delete this.article.add_category;
        }
      }
    },

    created() {
      this.$http.get('/articles/create')
      .then(({data}) => {
        this.attorneys = data.attorneys;
        this.categories = data.categories;
      });
    },

    beforeDestroy() {
      // Uploads need to be stored and saved, even before the article is
      // This deletes any uploads that got stored to an abandoned article
      if (!this.saved) {
        if (this.article.uploads.length) {
          this.$http.delete('/uploads/batch', {
            data: {
              uploads: this.article.uploads
            }
          });
        }
      }
    }
  });
</script>
