<template>
  <section class="news-articles">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <span class="show-for-sr">Current: </span> News &amp; Events
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>View All News & Events</h1>
        </div>
      </div>
    </header>

    <section class="grid">
      <div class="row align-middle medium-unstack">
        <div class="column medium-order-2 text-right shrink">
          <section class="padded">
            <button
            v-if="categories.length"
            class="small teal dropdown action button"
            data-toggle="sort-categories">
              <span>
                {{ sort.currentCategory }}
              </span>
              <zf-dropdown id="sort-categories">
                <ul>
                  <li
                  :class="{'selected': sort.category == category.id}"
                  v-for="category in categories"
                  :key="category.id"
                  @click="setSortCategory(category.id, category.name)">
                    {{ category.name }}
                  </li>
                </ul>
              </zf-dropdown>
            </button>

            <button class="small teal dropdown action button" data-toggle="clients-actions"  v-if="$auth.check(['admin', 'hr', 'marketing'])">
              Actions
              <zf-dropdown id="clients-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'addArticle'}">
                    Add
                    <i class="oa-plus"></i>
                  </router-link>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>

        <div class="column medium-order-1">
          <div class="flex stack">
            <input type="search" name="search" placeholder="Search..." v-model="sort.search">
          </div>
        </div>
      </div>

      <div class="row large-up-2 medium-up-2 small-up-1" v-if="articles.length" >
        <div class="column" v-for="article in articles" :key="article.id">
          <div class="panel">
            <div class="panel--header border-bottom">
              <div class="title">
                <div class="heading">
                  <i class="oa-article"></i>
                  <p>{{ article.title }}</p>
                </div>

                <div class="subheading">
                  <h4>By: {{ article.author ? article.author.full_name : 'Anonymous' }}</h4>
                  <p>
                    <span v-if="article.category">
                    {{ article.category.name }}
                    |</span>
                    {{ article.published_at | dotDate }}
                  </p>
                </div>
              </div>
            </div>

            <div class="panel--content" v-html="article.excerpt"></div>

            <div class="panel--footer">
              <router-link class="teal icon button" :to="{name: 'viewArticle', params: {id: article.id}}">
                <i class="oa-arrow-right"></i>
              </router-link>
            </div>
          </div>
        </div>
      </div>

      <div v-if="!articles.length" class="row column">
        <section class="padded padded--top">
          <h4 class="text-center">Nothing here...</h4>
        </section>
      </div>

      <div class="row column">
        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        articles: [],
        categories: [],
        pagination: {},
        sort: {
          search: null,
          category: null,
          currentCategory: 'Categories'
        }
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getArticles(page);
      },

      // articles: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'allArticles'})
      //   }
      // },

      'sort.category': function() {
        this.getArticles();
      },

      'sort.search': _.debounce(function(search) {
        if (search.length >=3 || search.length === 0) {
          this.getArticles();
        }
      }, 500)
    },

    methods: {
      getArticles(page) {
        this.$store.commit('setLoading', true);

        this.$http.get('/articles', {
          params: {
            page: page,
            search: this.sort.search,
            category: this.sort.category
          }
        })
        .then(({data}) => {
          this.articles   = data.articles.data;
          this.categories = data.categories;
          this.pagination = data.articles;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false))
      },

      setSortCategory(category, name) {
        this.sort.category = (category === this.sort.category) ? null : category;
        this.sort.currentCategory = (name === this.sort.currentCategory) ? 'Categories' : name;
      },

      goToPage(page) {
        this.$router.push({name: 'allArticles', query: {page: page}})
      }
    },
    created() {
      this.getArticles(this.$route.query.page);
    }
  }
</script>
