<template>
  <section class="news-articles">
    <header>
      <div class="row column">
        <h5>News & Events / View</h5>
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allArticles'}">News &amp; Events</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> View
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>View Article</h1>
        </div>
      </div>
    </header>

    <section class="article" v-if="!loading">
      <div class="row column">
        <div class="text-right" v-if="$auth.check(['admin', 'hr', 'marketing'])">
          <section class="padded">
            <button class="small teal dropdown action button" data-toggle="clients-actions">
              Actions
              <zf-dropdown id="clients-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'editArticle', params: {id: id}}">
                    Edit
                    <i class="oa-edit"></i>
                  </router-link>

                  <li class="is-delete" @click="deleteArticle">
                    Delete
                    <i class="oa-close"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>

        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-article"></i>
                <p>
                  {{ article.title }} | {{ article.published_at | dotDate }}
                  <span class="label teal" v-if="article.category">{{ article.category.name }}</span>
                  <br>
                  By {{ article.author ? article.author.full_name : 'Anonymous' }}
                </p>
              </div>
            </div>
          </div>

          <div class="panel--content">
            <div class="article-entry" v-html="article.content">
            </div>
          </div>

          <div class="panel--content extra" v-if="article.related_attorneys.length">
            <hr>
            <h4>Related Attorneys</h4>
            <div class="related-attorneys">
              <router-link
              :to="{name: 'viewPerson', params: {id: attorney.id}}"
              v-for="attorney in article.related_attorneys"
              :key="attorney.id"
              :style="{backgroundImage: attorney.image ? `url(${attorney.image})` : false}"
              class="image">
              </router-link>
            </div>
          </div>

          <div class="panel--content extra" v-if="article.uploads.length">
            <hr>
            <h4>Files</h4>
            <ul class="menu dotted attachment vertical">
              <li v-for="file in article.uploads" :key="file.id">
                <a v-text="file.name" :href="file.link" target="_blank"></a>
              </li>
            </ul>
          </div>

          <div class="panel--footer">
            <div class="text-left">
              <a class="goldenrod button" @click="$router.go(-1)">
                Back To Archive
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        article: {
          related_attorneys: [],
          uploads: [],
          author: {}
        }
      }
    },

    watch: {
      id: function() {
        this.getArticle();
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      getArticle() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/articles/${this.id}`)
        .then(({data}) => {
          this.article = data;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      deleteArticle() {
        swal({
          text: "Are you sure you want to delete this article?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`/articles/${this.id}`)
            .then(() => {
              this.$toast.success('User was deleted successfully!');
              this.$router.push({name: 'allArticles'});
            })
          }
        });
      }
    },

    created() {
      this.getArticle()
    }
  }
</script>
