<template>
  <section class="request add">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allMatters'}">Matters</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Add
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>New Matter Request</h1>
        </div>
      </div>
    </header>

    <section class="form">
      <div class="column row" v-show="!matter.client_id">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-briefcase"></i>
                <p>Client</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <div class="inline-options" v-show="existingClient">
              <div class="row column">
                <label for="existing_client">Choose Existing Client</label>
              </div>
              <div class="row infobar-unstack align-middle">
                <div class="columns">
                  <vue-select
                  v-model="matter.client_id"
                  id="existing_client"
                  required>
                    <option
                    v-for="client in clients"
                    :value="client.id"
                    v-text="client.name"
                    :key="client.id"></option>
                  </vue-select>
                </div>
                <div class="columns shrink">
                  <p>OR</p>
                </div>
                <div class="columns">
                  <button class="goldenrod button expanded" @click="setExistingClient(false)">
                    Create New Client
                  </button>
                </div>
              </div>
            </div>

            <zf-abide @abide-submit.prevent="createClient" v-show="!existingClient">
              <div class="row">
                <div class="large-6 infobar-6 medium-6 small-12 columns">
                  <label for="name">Client Name</label>
                  <input type="text" id="name" v-model="client.name" required>
                  <span
                  v-if="errors.name"
                  v-text="errors.name"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-6 small-12 columns">
                  <label for="dba">DBA (if any)</label>
                  <input type="text" id="dba" v-model="client.dba">
                  <span
                  v-if="errors.dba"
                  v-text="errors.dba"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="originating_attorney">Originating Attorney</label>
                  <vue-select
                  v-model="client.originating_attorney"
                  id="originating_attorney"
                  required>
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    :key="attorney.id"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="working_attorney">Working Attorney</label>
                  <vue-select
                  v-model="client.working_attorney"
                  id="working_attorney">
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    :key="attorney.id"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="street_address">Street Address</label>
                  <input type="text" id="street_address" v-model="client.street_address" required>
                  <span
                  v-if="errors.street_address"
                  v-text="errors.street_address"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="city">City</label>
                  <input type="text" id="city" v-model="client.city" required>
                  <span
                  v-if="errors.city"
                  v-text="errors.city"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <div class="row">
                    <div class="large-6 infobar-6 medium-12 small-12 columns">
                      <label for="state">State</label>
                      <input type="text" id="state" v-model="client.state" required>
                      <span
                      v-if="errors.state"
                      v-text="errors.state"
                      class="form-error is-visible"></span>
                    </div>

                    <div class="large-6 infobar-6 medium-12 small-12 columns">
                      <label for="zip">Zip</label>
                      <input type="text" id="zip" v-model="client.zip" required>
                      <span
                      v-if="errors.zip"
                      v-text="errors.zip"
                      class="form-error is-visible"></span>
                    </div>
                  </div>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="originating_attorney">Country</label>
                  <vue-select
                  v-model="client.country"
                  id="country"
                  required>
                    <option
                    v-for="(label, value) in countries"
                    :value="value"
                    v-text="label"
                    :key="value"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="contact_name">Contact Name</label>
                  <input type="text" id="contact_name" v-model="client.contact_name">
                  <span
                  v-if="errors.contact_name"
                  v-text="errors.contact_name"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="contact_phone">Contact Phone</label>
                  <input
                  placeholder="(000) 000-0000"
                  type="text"
                  id="contact_phone"
                  v-model="client.contact_phone">
                  <span
                  v-if="errors.contact_phone"
                  v-text="errors.contact_phone"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="contact_email">Contact Email</label>
                  <input type="email" id="contact_email" v-model="client.contact_email">
                  <span
                  v-if="errors.contact_email"
                  v-text="errors.contact_email"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="details">Details</label>
                  <textarea
                    placeholder="How did you hear about us...?"
                    id="details"
                    v-model="client.details"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.details"
                  v-text="errors.details"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>

      <div class="column row" v-if="matter.client_id">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-scale"></i>
                <p>Matter</p>
              </div>
            </div>
          </div>

          <div class="panel--content">
            <zf-abide @abide-submit.prevent="createMatter">
              <h4>New Matter Details</h4>
              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="type">Type</label>
                  <vue-select
                  v-model="matter.type_name"
                  id="type"
                  required>
                    <option
                    v-for="(type, index) in matterTypes"
                    :value="type.name"
                    v-text="type.name"
                    :key="index"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="title">Title</label>
                  <input type="text" id="title" v-model="matter.title" required>
                  <span
                  v-if="errors.title"
                  v-text="errors.title"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="matter_responsible_attorney">Responsible Attorney</label>
                  <vue-select
                  v-model="matter.responsible_attorney"
                  id="matter_responsible_attorney"
                  required>
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    :key="attorney.id"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="matter_working_attorney">Working Attorney</label>
                  <vue-select
                  v-model="matter.working_attorney"
                  id="matter_working_attorney"
                  required>
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    :key="attorney.id"></option>
                  </vue-select>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="remarks">Remarks</label>
                  <textarea
                    id="remarks"
                    v-model="matter.remarks"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.remarks"
                  v-text="errors.remarks"
                  class="form-error is-visible"></span>
                </div>
              </div>
              <hr>

              <h4 v-if="matterClass === 2">New Patent Prosecution Information</h4>
              <div class="row" v-if="matterClass === 2">
                <div class="large-12 medium-12 small-12 columns">
                  <label for="inventors">Inventors</label>
                  <textarea
                    id="inventors"
                    v-model="matter.inventors"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.inventors"
                  v-text="errors.inventors"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="reference_number">Client Reference Number</label>
                  <input type="text" id="reference_number" v-model="matter.reference_number">
                  <span
                  v-if="errors.reference_number"
                  v-text="errors.reference_number"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="patent_country">Patent Country</label>
                  <input type="text" id="patent_country" v-model="matter.patent_country">
                  <span
                  v-if="errors.patent_country"
                  v-text="errors.patent_country"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="patent_type">Patent Type</label>
                  <input type="text" id="patent_type" v-model="matter.patent_type">
                  <span
                  v-if="errors.patent_type"
                  v-text="errors.patent_type"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="patent_application_type">Patent Application Type</label>
                  <input type="text" id="patent_application_type" v-model="matter.patent_application_type">
                  <span
                  v-if="errors.patent_application_type"
                  v-text="errors.patent_application_type"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="target_filing_date">Target Filing Date</label>
                  <vue-datepicker
                  ref="datepicker"
                  id="target_filing_date"
                  v-model="matter.target_filing_date"
                  format="MM.dd.yyyy"
                  required></vue-datepicker>
                  <span
                  v-if="errors.target_filing_date"
                  v-text="errors.target_filing_date"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <h4 v-if="matterClass === 3">New Trademark Registration Information</h4>
              <div class="row" v-if="matterClass === 3">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="mark">Mark</label>
                  <input type="text" id="mark" v-model="matter.mark">
                  <span
                  v-if="errors.mark"
                  v-text="errors.mark"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="class">Class</label>
                  <input type="text" id="class" v-model="matter.class">
                  <span
                  v-if="errors.class"
                  v-text="errors.class"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="mark_country">Mark Country</label>
                  <input type="text" id="mark_country" v-model="matter.mark_country">
                  <span
                  v-if="errors.mark_country"
                  v-text="errors.mark_country"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <hr v-if="matterClass > 1">

              <h4>Conflicts Check</h4>
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <label for="narrative_summary">Narrative Summary</label>
                  <textarea
                    id="narrative_summary"
                    v-model="matter.narrative_summary"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.narrative_summary"
                  v-text="errors.narrative_summary"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="adverse_party">Adverse Party/Parties</label>
                  <input type="text" id="adverse_party" v-model="matter.adverse_party">
                  <span
                  v-if="errors.adverse_party"
                  v-text="errors.adverse_party"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="representation">Nature of Representation</label>
                  <input type="text" id="representation" v-model="matter.representation">
                  <span
                  v-if="errors.representation"
                  v-text="errors.representation"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="keywords">Keywords</label>
                  <textarea
                    id="keywords"
                    v-model="matter.keywords"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.keywords"
                  v-text="errors.keywords"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        existingClient: true,
        client: {
          type: 1,
          status: 'pending',
          originating_attorney: this.$auth.user().id,
          country: 'US'
        },
        matter: {},
        attorneys: [],
        clients: [],
        countries: [],
        matterTypes: []
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      },

      matterClass() {
        if (this.matter.type_name) {
          let matterClass = this.matterTypes.find((type) => type.name === this.matter.type_name);

          this.matter.type_class = matterClass.class;

          return matterClass.class;
        }
      }
    },

    methods: {
      createClient() {
        this.$store.commit('setLoading', true);

        this.$http.post('/clients', this.client)
        .then((res) => {
          this.$store.commit('setLoading', false);
          this.matter.client_id = res.data.id;
          this.existingClient = true;
          this.client = {
            type: 1,
            originating_attorney: this.$auth.user().id
          }
        })
        .catch((res) => this._respondToErrors(res));
      },

      createMatter() {
        this.$store.commit('setLoading', true);

        if (this.matter.target_filing_date) {
          this.matter.target_filing_date = (new Date(this.matter.target_filing_date)).toLocaleDateString();
        }

        this.$http.post('/matters', this.matter)
        .then(({data}) => {
          this.$toast.success('New client matter was created successfully!');
          this.$store.commit('setLoading', false);
          this.$router.push({name: 'viewMatter', params: {id: data.id}});
        })
        .catch((res) => this._respondToErrors(res));
      },

      setExistingClient(state) {
        this.existingClient = state;
      }
    },

    created() {
      this.$http.get('/matters/create')
      .then(({data}) => {
        this.attorneys = data.attorneys;
        this.clients = data.clients;
        this.countries = data.countries;
        this.matterTypes = data.matter_types;
      });
    }
  })
</script>
