<template>
  <section class="matters">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <span class="show-for-sr">Current: </span> Matters
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>View All Matters</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row align-middle medium-unstack">
        <div class="column medium-order-2 text-right shrink">
          <section class="padded" v-if="$auth.check(['admin', 'marketing', 'user'])">
            <button class="small teal dropdown action button" data-toggle="matters-actions">
              Actions
              <zf-dropdown id="matters-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'addMatter'}">
                    Add
                    <i class="oa-plus"></i>
                  </router-link>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>

        <div class="column medium-order-1">
          <input type="search" name="search" placeholder="Search..." v-model="sort.search">
        </div>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-scale"></i>
                <p>Matters</p>
              </div>
            </div>
          </div>
          <table class="base table stack table--list unstriped links" v-if="matters.length">
            <thead>
              <tr class="sortable">
                <th class="sortable" @click="setSortOrder('title')">
                  <i
                  v-if="sort.order_by == 'title'"
                  :class="{
                    'oa-arrow-down': sort.order == 'asc',
                    'oa-arrow-up': sort.order == 'desc'
                    }">
                  </i>
                  Title
                </th>
                <th class="sortable" @click="setSortOrder('type_name')">
                  <i
                  v-if="sort.order_by == 'type_name'"
                  :class="{
                    'oa-arrow-down': sort.order == 'asc',
                    'oa-arrow-up': sort.order == 'desc'
                    }">
                  </i>
                  Type
                </th>
                <th>
                  Client
                </th>
              </tr>
            </thead>
            <tbody>
              <router-link
              v-for="matter in matters"
              tag="tr"
              :to="{name: 'viewMatter', params: { id: matter.id }}"
              :key="matter.id">
                <td v-text="matter.title"></td>
                <td v-text="matter.type_name"></td>
                <td v-text="matter.client.name"></td>
              </router-link>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !matters.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        matters: [],
        pagination: {},
        sort: {
          search: null,
          order: null,
          order_by: null
        }
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getMatters(page);
      },

      // matters: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'allMatters'})
      //   }
      // },

      'sort.search': _.debounce(function(search) {
        if (search.length >=3 || search.length === 0) {
          this.getMatters();
        }
      }, 500),

      'sort.order_by': function(value) {
        this.sort.order = 'asc';
      }
    },

    methods: {
      getMatters(page) {
        this.$store.commit('setLoading', true);

        this.sort.page = page;

        this.$http.get('/matters', {
          params: this.sort
        })
        .then(({data}) => {
          this.matters = data.data;
          this.pagination = data;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      setSortOrder(column) {
        this.sort.order = this.sort.order == 'asc' ? 'desc' : 'asc';
        this.sort.order_by = column;

        this.getMatters();
      },

      goToPage(page) {
        this.$router.push({name: 'allMatters', query: {page: page}})
      }
    },

    created() {
      this.getMatters(this.$route.query.page);
    }
  }
</script>
