<template>
  <section class="people add">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allMatters'}">Matters</router-link>
            </li>
            <li>
              <router-link :to="{name: 'viewMatter', params: { id: matter.id }}">View</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Edit
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Edit Matter</h1>
        </div>
      </div>
    </header>

    <section class="form">
      <div class="column row">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-scale"></i>
                <p>Matter</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <zf-abide @abide-submit.prevent="updateMatter">
              <h4>Matter Details</h4>
              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="type">Type</label>
                  <input type="text" id="type" v-model="matter.type_name" readonle required>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="title">Title</label>
                  <input type="text" id="title" v-model="matter.title" required>
                  <span
                  v-if="errors.title"
                  v-text="errors.title"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="remarks">Remarks</label>
                  <textarea
                    id="remarks"
                    v-model="matter.remarks"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.remarks"
                  v-text="errors.remarks"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <hr>

              <h4 v-if="matter.type_class === 2">Patent Prosecution Information</h4>
              <div class="row" v-if="matter.type_class === 2">
                <div class="large-12 medium-12 small-12 columns">
                  <label for="inventors">Inventors</label>
                  <textarea
                    id="inventors"
                    v-model="matter.inventors"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.inventors"
                  v-text="errors.inventors"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="reference_number">Client Reference Number</label>
                  <input type="text" id="reference_number" v-model="matter.reference_number">
                  <span
                  v-if="errors.reference_number"
                  v-text="errors.reference_number"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="patent_country">Patent Country</label>
                  <input type="text" id="patent_country" v-model="matter.patent_country">
                  <span
                  v-if="errors.patent_country"
                  v-text="errors.patent_country"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="patent_type">Patent Type</label>
                  <input type="text" id="patent_type" v-model="matter.patent_type">
                  <span
                  v-if="errors.patent_type"
                  v-text="errors.patent_type"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="patent_application_type">Patent Application Type</label>
                  <input type="text" id="patent_application_type" v-model="matter.patent_application_type">
                  <span
                  v-if="errors.patent_application_type"
                  v-text="errors.patent_application_type"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="target_filing_date">Target Filing Date</label>
                  <vue-datepicker
                  ref="datepicker"
                  id="target_filing_date"
                  v-model="matter.target_filing_date"
                  format="MM.dd.yyyy"
                  required></vue-datepicker>
                  <span
                  v-if="errors.target_filing_date"
                  v-text="errors.target_filing_date"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <h4 v-if="matter.type_class === 3">Trademark Registration Information</h4>
              <div class="row" v-if="matter.type_class === 3">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="mark">Mark</label>
                  <input type="text" id="mark" v-model="matter.mark">
                  <span
                  v-if="errors.mark"
                  v-text="errors.mark"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="class">Class</label>
                  <input type="text" id="class" v-model="matter.class">
                  <span
                  v-if="errors.class"
                  v-text="errors.class"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="mark_country">Mark Country</label>
                  <input type="text" id="mark_country" v-model="matter.mark_country">
                  <span
                  v-if="errors.mark_country"
                  v-text="errors.mark_country"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <hr v-if="matter.type_class > 1">

              <h4>Conflicts Check</h4>
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <label for="narrative_summary">Narrative Summary</label>
                  <textarea
                    id="narrative_summary"
                    v-model="matter.narrative_summary"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.narrative_summary"
                  v-text="errors.narrative_summary"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="adverse_party">Adverse Party/Parties</label>
                  <input type="text" id="adverse_party" v-model="matter.adverse_party">
                  <span
                  v-if="errors.adverse_party"
                  v-text="errors.adverse_party"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="representation">Nature of Representation</label>
                  <input type="text" id="representation" v-model="matter.representation">
                  <span
                  v-if="errors.representation"
                  v-text="errors.representation"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="keywords">Keywords</label>
                  <textarea
                    id="keywords"
                    v-model="matter.keywords"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.keywords"
                  v-text="errors.keywords"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        matter: {},
      }
    },

    watch: {
      id: function() {
        this.getMatter();
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      getMatter() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/matters/${this.id}/edit`)
        .then(({data}) => {
          this.matter    = data;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      updateMatter() {
        this.$store.commit('setLoading', true);

        this.$http.put(`/matters/${this.id}`, this.matter)
        .then((res) => {
          this.$toast.success('Matter was updated successfully!');
          this.$store.commit('setLoading', false);
          this.$router.push({name: 'viewMatter', params: {id: this.id }});
        })
        .catch((res) => this._respondToErrors(res));
      }
    },

    created() {
      this.getMatter();
    }
  })
</script>
