<template>
  <section class="matters view" v-if="!loading">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allMatters'}">Matters</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> View
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>
            Matter:
            <small>
              <router-link :to="{name: 'viewClient', params: {id:matter.client.id}}">
                {{ matter.client.name }}
              </router-link>
            </small>
          </h1>
        </div>
      </div>
    </header>

    <section class="details">
      <div class="row">
        <div class="small-12 columns text-right">
          <section class="padded"  v-if="$auth.check(['admin', 'docket'])">
            <button class="small teal dropdown action button" data-toggle="matter-actions">
              Actions
              <zf-dropdown id="matter-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'editMatter', params: { id: matter.id }}">
                    Edit
                    <i class="oa-edit"></i>
                  </router-link>

                  <li class="is-delete" @click="deleteMatter">
                    Delete
                    <i class="oa-close"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>
      </div>

      <div class="row column">
        <div class="panel separators">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-document"></i>
                <p>Matter Details</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <p v-if="matter.type_name">
              <b>Type:</b> {{ matter.type_name }}
            </p>
            <p v-if="matter.title">
              <b>Title:</b> {{ matter.title }}
            </p>
            <p v-if="matter.responsible_attorney">
              <b>Title:</b> {{ matter.responsible_attorney.full_name }}
            </p>
            <p v-if="matter.working_attorney">
              <b>Title:</b> {{ matter.working_attorney.full_name }}
            </p>
            <p v-if="matter.remarks">
              <b>Remarks:</b> {{ matter.remarks }}
            </p>
          </div>

          <div class="panel--header" v-if="matter.type_class === 2">
            <div class="title">
              <div class="heading">
                <i class="oa-folders"></i>
                <p>Patent Prosecution Information</p>
              </div>
            </div>
          </div>
          <div class="panel--content" v-if="matter.type_class === 2">
            <p v-if="matter.inventors">
              <b>Inventors:</b> {{ matter.inventors }}
            </p>
            <p v-if="matter.reference_number">
              <b>Client Reference Number:</b> {{ matter.reference_number }}
            </p>
            <p v-if="matter.patent_country">
              <b>Patent Country:</b> {{ matter.patent_country }}
            </p>
            <p v-if="matter.patent_type">
              <b>Patent Type:</b> {{ matter.patent_type }}
            </p>
            <p v-if="matter.patent_application_type">
              <b>Patent Application Type:</b> {{ matter.patent_application_type }}
            </p>
            <p v-if="matter.target_filing_date">
              <b>Target Filing Date:</b> {{ matter.target_filing_date | slashDate }}
            </p>
          </div>

          <div class="panel--header" v-if="matter.type_class === 3">
            <div class="title">
              <div class="heading">
                <i class="oa-receipt"></i>
                <p>Trademark Registration Information</p>
              </div>
            </div>
          </div>
          <div class="panel--content" v-if="matter.type_class === 3">
            <p v-if="matter.mark">
              <b>Mark:</b> {{ matter.mark }}
            </p>
            <p v-if="matter.class">
              <b>Class:</b> {{ matter.class }}
            </p>
            <p v-if="matter.mark_country">
              <b>Mark Country:</b> {{ matter.mark_country }}
            </p>
          </div>

          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-clipboard"></i>
                <p>Conflicts Check</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <p v-if="matter.narrative_summary">
              <b>Narrative Summary:</b> {{ matter.narrative_summary }}
            </p>
            <p v-if="matter.adverse_party">
              <b>Adverse Party/Parties:</b> {{ matter.adverse_party }}
            </p>
            <p v-if="matter.representation">
              <b>Nature of Representation:</b> {{ matter.representation }}
            </p>
            <p v-if="matter.keywords">
              <b>Keywords:</b> {{ matter.keywords }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        matter: {}
      }
    },

    watch: {
      id: function() {
        this.getMatter();
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      getMatter() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/matters/${this.id}`)
        .then(({data}) => {
          this.matter = data;
          this.$store.commit('setLoading', false)
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      deleteMatter() {
        swal({
          text: "Are you sure you want to delete this matter?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`/matters/${this.id}`)
            .then(() => {
              this.$toast.success('Matter was deleted successfully!');
              this.$router.push({name: 'allMatters'});
            })
          }
        });
      }
    },

    created() {
      this.getMatter()
    }
  }
</script>
