<template>
  <section class="people add">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allPeople'}">People</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Add
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Add New Person</h1>
        </div>
      </div>
    </header>

    <section class="form">
      <div class="column row">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-profile"></i>
                <p>Person</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <zf-abide @abide-submit.prevent="createPerson">
              <h4>Personal Details</h4>
              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="first_name">First Name</label>
                  <input type="text" id="first_name" v-model="user.first_name" required>
                  <span
                  v-text="errors.first_name"
                  class="form-error"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="last_name">Last Name</label>
                  <input type="text" id="last_name" v-model="user.last_name" required>
                  <span
                  v-text="errors.last_name"
                  class="form-error"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="email">Email</label>
                  <input type="email" id="email" v-model="user.email" required>
                  <span
                  v-text="errors.email"
                  class="form-error"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="title">Title</label>
                  <input type="text" id="title" v-model="user.title" required>
                  <span
                  v-text="errors.title"
                  class="form-error"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="hire_date">Hire Date</label>
                  <vue-datepicker
                  id="hire_date"
                  initial-view="year"
                  v-model="user.hire_date"
                  format="MMMM dsu yyyy"></vue-datepicker>
                  <span
                  v-if="errors.hire_date"
                  v-text="errors.hire_date"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="birthday">Birthday</label>
                  <vue-datepicker
                  id="birthday"
                  v-model="user.birthday"
                  initial-view="month"
                  maximum-view="month"
                  wrapper-class="birthday-picker"
                  format="MMMM dsu"></vue-datepicker>
                  <span
                  v-if="errors.birthday"
                  v-text="errors.birthday"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="emergency_contact">Emergency Contact</label>
                  <input type="text" id="emergency_contact" v-model="user.emergency_contact">
                  <span
                  v-text="errors.emergency_contact"
                  class="form-error"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="emergency_phone">Emergency Phone</label>
                  <input placeholder="(000) 000-0000" type="text" id="emergency_phone" v-model="user.emergency_phone">
                  <span
                  v-text="errors.emergency_phone"
                  class="form-error"></span>
                </div>
              </div>

              <div class="row align-middle">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="address">Home Address</label>
                  <input type="text" id="address" v-model="user.address">
                  <span
                  v-text="errors.address"
                  class="form-error"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns" v-if="user.address">
                  <checkbox
                  id="public_address"
                  v-model="user.public_address">
                    Show address on your public profile?
                  </checkbox>
                </div>
              </div>

              <hr>

              <h4>Work Details</h4>

              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns" v-if="$auth.check(['admin', 'marketing'])">
                  <label for="role_id">Role</label>
                  <vue-select
                  :search="false"
                  v-model="user.role_id"
                  id="role_id"
                  required>
                    <option
                    v-for="role in roles"
                    :value="role.id"
                    :key="role.id"
                    v-text="role.name"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="department_id">Department</label>
                  <vue-select
                  :search="false"
                  v-model="user.department_id"
                  id="department_id"
                  required>
                    <option
                    v-for="department in departments"
                    :value="department.id"
                    :key="department.id"
                    v-text="department.name"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="location_id">Location</label>
                  <vue-select
                  :search="false"
                  v-model="user.location_id"
                  id="location_id"
                  required>
                    <option
                    v-for="location in locations"
                    :value="location.id"
                    :key="location.id"
                    v-text="location.name"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="cell_phone">Cell Phone</label>
                  <input placeholder="(000) 000-0000" type="text" id="cell_phone" v-model="user.cell_phone">
                  <span
                  v-text="errors.cell_phone"
                  class="form-error"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="direct_phone">Direct Phone</label>
                  <input placeholder="(000) 000-0000" type="text" id="direct_phone" v-model="user.direct_phone">
                  <span
                  v-text="errors.direct_phone"
                  class="form-error"></span>
                </div>
              </div>

              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="people_supported_by">Supported By</label>
                  <vue-select
                  v-model="user.people_supported_by"
                  id="people_supported_by"
                  :options="{multiple: true}">
                    <option
                    v-for="person in people"
                    :value="person.id"
                    :key="person.id"
                    v-text="person.full_name"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="people_supporting">Supporting</label>
                  <vue-select
                  v-model="user.people_supporting"
                  id="people_supporting"
                  :options="{multiple: true}">
                    <option
                    v-for="person in people"
                    :value="person.id"
                    :key="person.id"
                    v-text="person.full_name"></option>
                  </vue-select>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="bar_numbers">Bar Numbers</label>
                  <textarea id="bar_numbers" v-model="user.bar_numbers" rows="3">
                  </textarea>
                  <span
                  v-text="errors.bar_numbers"
                  class="form-error"></span>
                </div>
              </div>

              <!--
              <hr>

              <h4>Self-Identification (optional)</h4>

              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="racial_identity">Racial Identity (Ethnicity)</label>
                  <vue-select
                  v-model="user.racial_identity"
                  id="racial_identity"
                  :options="{tags: true}">
                    <option
                    v-for="race in self_identification.racial_identity"
                    :value="race"
                    :key="race"
                    v-text="race"></option>
                  </vue-select>
                </div>
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="gender_identity">Gender Identity</label>
                  <vue-select
                  v-model="user.gender_identity"
                  id="gender_identity"
                  :options="{tags: true}">
                    <option
                    v-for="gender in self_identification.gender_identity"
                    :value="gender"
                    :key="gender"
                    v-text="gender"></option>
                  </vue-select>
                </div>
              </div>
              -->

              <hr>

              <h4>Quick Links</h4>

              <div class="row align-middle" v-for="(link, i) in user.quick_links" :key="i">
                <div class="column">
                  <div class="row">
                    <div class="large-6 infobar-6 medium-12 small-12 columns">
                      <label :for="`quick_links_${i}_name`">Name</label>
                      <input type="text" :id="`quick_links_${i}_name`" v-model="user.quick_links[i]['name']" required>
                      <span
                      v-text="errors.quick_links"
                      class="form-error form-error--file"></span>
                    </div>
                    <div class="large-6 infobar-6 medium-12 small-12 columns">
                      <label :for="`quick_links_${i}_link`">Link</label>
                      <div class="input-group">
                        <span class="input-group-label">http://</span>
                        <input type="text" :id="`quick_links_${i}_link`" v-model="user.quick_links[i]['link']" required>
                        <span
                        v-text="errors.quick_links"
                        class="form-error form-error--file"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column shrink no-padding">
                  <a class="icon button red" @click="removeQuickLink(i)">
                    <i class="oa-close"></i>
                  </a>
                </div>
              </div>

              <a class="goldenrod button" @click="addQuickLink">Add Quick Link</a>

              <hr>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        user: {
          people_supporting: [],
          people_supported_by: []
        },
        departments: [],
        locations: [],
        people: [],
        roles: [],
        self_identification: []
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      },
    },

    methods: {
      createPerson() {
        this.$store.commit('setLoading', true);

        this.user.hire_date = (new Date(this.user.hire_date)).toLocaleDateString();
        this.user.birthday = (new Date(this.user.birthday)).toLocaleDateString();

        this.$http.post('/people', this.user)
        .then((res) => {
          this.$toast.success('User was created successfully!');
          this.$store.commit('setLoading', false);
          this.$router.push({name: 'viewPerson', params: {id: res.data.id}});
        })
        .catch((res) => this._respondToErrors(res));
      },

      addQuickLink() {
        if (!this.user.quick_links) {
          this.$set(this.user, 'quick_links', []);
        }

        this.user.quick_links.push({
          name: '',
          link: ''
        });
      },

      removeQuickLink(link) {
        this.user.quick_links.splice(link, 1);
      },
    },

    created() {
      this.$http.get('/people/create')
      .then(({data}) => {
        this.roles               = data.roles;
        this.people              = data.people;
        this.locations           = data.locations;
        this.departments         = data.departments;
        this.self_identification = data.self_identification
      });
    }
  })
</script>
