<template>
  <section class="people">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <span class="show-for-sr">Current: </span> People
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>View All People</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row align-middle medium-unstack">
        <div class="column medium-order-2 text-right shrink" v-if="$auth.check(['admin', 'hr', 'marketing'])">
          <section class="padded">
            <button class="small teal dropdown action button" data-toggle="people-actions">
              Actions
              <zf-dropdown id="people-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'addPerson'}">
                    Add
                    <i class="oa-plus"></i>
                  </router-link>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>

        <div class="column medium-order-1">
          <input type="search" name="search" placeholder="Search..." v-model="sort.search">
        </div>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-profile"></i>
                <p>People</p>
              </div>
            </div>

            <button class="dropdown sort gray button" data-toggle="role-sort">
              <span>
                {{ sort.currentRole }}
              </span>
              <zf-dropdown id="role-sort">
                <ul>
                  <li @click="setSortRole(role.id, role.name)" v-for="role in roles" :key="role.id">
                    {{ role.name }}
                    <i class="oa-check" v-if="sort.role === role.id"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>

            <button class="dropdown sort gray button" data-toggle="location-sort">
              <span>
                {{ sort.currentLocation }}
              </span>
              <zf-dropdown id="location-sort">
                <ul>
                  <li @click="setSortLocation(location.id, location.name)" v-for="location in locations" :key="location.id">
                    {{ location.name }}
                    <i class="oa-check" v-if="sort.location === location.id"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </div>
          <table class="base table stack table--list unstriped links" v-if="people.length">
            <thead>
              <tr>
                <th colspan="2" class="sortable" @click="setSortOrder('last_name')">
                  <i
                  v-if="sort.order_by == 'last_name'"
                  :class="{
                    'oa-arrow-down': sort.order == 'asc',
                    'oa-arrow-up': sort.order == 'desc'
                    }">
                  </i>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Phone
                </th>
              </tr>
            </thead>
            <tbody>
              <router-link
              v-for="person in people"
              tag="tr"
              :to="{name: 'viewPerson', params: { id: person.id }}"
              :key="person.id">
                <td class="image">
                  <div
                  :style="{backgroundImage: person.image ? `url(${person.image})` : false}">
                  </div>
                </td>
                <td v-text="person.full_name"></td>
                <td v-text="person.email"></td>
                <td v-text="person.direct_phone"></td>
              </router-link>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !people.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        people: [],
        pagination: {},
        roles: [],
        locations: [],
        roles: [],
        sort: {
          role: null,
          location: null,
          search: null,
          order: 'asc',
          order_by: 'last_name',
          currentRole: 'Role',
          currentLocation: 'Location'
        }
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getPeople(page);
      },

      // people: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'allPeople'});
      //   }
      // },

      'sort.role': function() {
        this.getPeople();
      },

       'sort.location': function() {
        this.getPeople();
      },

      'sort.search': _.debounce(function(search) {
        if (search.length >=3 || search.length === 0) {
          this.getPeople();
        }
      }, 500),

      'sort.order_by': function(value) {
        this.sort.order = 'asc';
      }
    },

    methods: {
      getPeople(page) {
        this.$store.commit('setLoading', true);

        this.sort.page = page;

        this.$http.get('/people', {
          params: this.sort
        })
        .then(({data}) => {
          this.people     = data.people.data;
          this.locations  = data.locations;
          this.roles      = data.roles;
          this.pagination = data.people;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      setSortRole(role, name) {
        this.sort.role = (role === this.sort.role) ? null : role;
        this.sort.currentRole = (this.sort.currentRole === name) ? 'Role' : name;
      },

      setSortLocation(location, name) {
        this.sort.location = (location === this.sort.location) ? null : location;
        this.sort.currentLocation = (this.sort.currentLocation === name) ? 'Location' : name;
      },

      setSortOrder(column) {
        this.sort.order = this.sort.order == 'asc' ? 'desc' : 'asc';
        this.sort.order_by = column;

        this.getPeople();
      },

      goToPage(page) {
        this.$router.push({name: 'allPeople', query: {page: page}});
      }
    },

    created() {
      this.getPeople(this.$route.query.page);
    }
  }
</script>
