<template>
  <section class="people view" v-if="!loading">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allPeople'}">People</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> View
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>{{ person.full_name }}</h1>
          <three-dots></three-dots>
          <h1>{{ person.title }}</h1>
        </div>
      </div>
    </header>

    <section class="details">
      <div class="row" v-if="$auth.check(['admin', 'hr', 'marketing']) || person.is_auth">
        <div class="small-12 columns text-right">
          <section class="padded">
            <button class="small teal dropdown action button" data-toggle="people-actions">
              Actions
              <zf-dropdown id="people-actions">
                <ul>
                  <router-link
                  tag="li"
                  :to="{name: 'editPerson', params: { id: person.id }}">
                    Edit
                    <i class="oa-edit"></i>
                  </router-link>

                  <li
                  class="is-delete"
                  @click="deletePerson"
                  v-if="!person.is_auth">
                    Delete
                    <i class="oa-close"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>
      </div>

      <div class="row even-padding">
        <div class="large-3 infobar-4 medium-4 small-12 columns">
          <div class="panel">
            <div class="panel--header">
              <div class="image-box">
                <div
                class="image"
                :style="{backgroundImage: person.image ? `url(${person.image})` : false}"></div>
              </div>
            </div>

            <div class="panel--info">
              <div class="info-tag teal" v-if="person.cell_phone || person.direct_phone">
                <p v-if="person.cell_phone">Cell : {{ person.cell_phone }}</p>
                <p v-if="person.direct_phone">Direct : {{ person.direct_phone }}</p>
              </div>

              <div class="info-tag goldenrod">
                <p>{{ person.email }}</p>
              </div>

              <div class="info-tag red" v-if="person.public_address">
                <p>{{ person.address }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="large-9 infobar-8 medium-8 small-12 columns">
          <div class="panel">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-calendar-done"></i>
                  <p>Start Date: {{ person.hire_date | slashDate }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-smile"></i>
                  <p>Birthday: {{ person.birthday | slashDate(false) }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-help"></i>
                  <p>Info</p>
                </div>
              </div>
            </div>

            <div class="panel--content">
              <ul class="menu vertical dotted">
                <li v-if="person.department"><a><b>Department</b>: {{ person.department.name }}</a></li>
                <li v-if="person.location_id"><a><b>Location</b>: {{ person.location.name }}</a></li>
                <li v-if="person.emergency_contact && ($auth.check(['admin', 'hr']) || person.is_auth)"><a><b>Emergency Contact</b>: {{ person.emergency_contact }} - {{ person.emergency_phone }}</a></li>
                <li v-if="person.bar_numbers">
                  <a>
                    <b>Bar Numbers</b>:
                    <p>{{ person.bar_numbers }}</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel" v-if="person.people_supporting.length || person.people_supported_by.length">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-profile"></i>
                  <p>Employee Network</p>
                </div>
              </div>
            </div>

            <div class="panel--content">
              <h4 v-if="person.people_supporting.length">People Supporting</h4>
              <div class="row small-up-3 medium-up-3 infobar-up-5 large-up-4" v-if="person.people_supporting.length">
                <router-link
                v-for="item in person.people_supporting"
                :key="item.id"
                :to="{name: 'viewPerson', params: {id: item.id}}"
                tag="div"
                class="column avatar" >
                  <div
                  :style="{backgroundImage: item.image ? `url(${item.image})` : false}"
                  class="image"></div>
                  <div class="name" v-text="item.full_name"></div>
                </router-link>
              </div>

              <hr v-if="person.people_supported_by.length">

              <h4 v-if="person.people_supported_by.length">People Supported By</h4>
              <div class="row small-up-3 medium-up-3 infobar-up-5 large-up-4" v-if="person.people_supported_by.length">
                <router-link
                v-for="item in person.people_supported_by"
                :key="item.id"
                :to="{name: 'viewPerson', params: {id: item.id}}"
                tag="div"
                class="column avatar" >
                  <div
                  :style="{backgroundImage: item.image ? `url(${item.image})` : false}"
                  class="image"></div>
                  <div class="name" v-text="item.full_name"></div>
                </router-link>
              </div>
            </div>
          </div>

          <div class="panel" v-if="(person.self_evaluations.length ||
                                    person.employee_evaluations.length ||
                                    person.evaluation_reviews.length ||
                                    person.completed_evaluations.length) && (person.is_auth)">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-message"></i>
                  <p>Evaluations</p>
                </div>
              </div>
            </div>
            <table class="base table table--list unstriped">
              <tbody>
                <tr class="divider"  v-if="person.self_evaluations.length">
                  <td colspan="3">Self Evaluations</td>
                </tr>

                <router-link tag="tr" :to="{name: 'selfEvaluation', params: { id: evaluation.id }}" v-for="evaluation in person.self_evaluations" :key="evaluation.id">
                  <td>
                    <p>Evaluator(s)</p>
                    <small>
                      {{ evaluation.contributors | commaSeparated('full_name') }}
                    </small>
                  </td>
                  <td>
                    <p>Period</p>
                    <small>{{ evaluation.period_start | dotDate }} - {{ evaluation.period_end | dotDate }}</small>
                  </td>
                  <td class="has-button">
                    <span class="teal icon button">
                      <i class="oa-arrow-right"></i>
                    </span>
                  </td>
                </router-link>

                <tr class="divider" v-if="person.employee_evaluations.length">
                  <td colspan="3">Employee Evaluations</td>
                </tr>

                <router-link tag="tr" :to="{name: 'groupEvaluation', params: { id: evaluation.id }}" v-for="evaluation in person.employee_evaluations" :key="evaluation.id">
                  <td>
                    <p>Employee</p>
                    <small>{{ evaluation.employee.full_name }}</small>
                  </td>
                  <td>
                    <p>Period</p>
                    <small>{{ evaluation.period_start | dotDate }} - {{ evaluation.period_end | dotDate }}</small>
                  </td>
                  <td class="has-button">
                    <span class="teal icon button">
                      <i class="oa-arrow-right"></i>
                    </span>
                  </td>
                </router-link>

                <tr class="divider"  v-if="person.evaluation_reviews.length">
                  <td colspan="3">Evaluation Reviews</td>
                </tr>

                <router-link tag="tr" :to="{name: 'reviewEvaluation', params: { id: evaluation.id }}" v-for="evaluation in person.evaluation_reviews" :key="evaluation.id">
                  <td>
                    <p>Evaluator(s)</p>
                    <small>
                      {{ evaluation.contributors | commaSeparated('full_name') }}
                    </small>
                  </td>
                  <td>
                    <p>Period</p>
                    <small>{{ evaluation.period_start | dotDate }} - {{ evaluation.period_end | dotDate }}</small>
                  </td>
                  <td class="has-button">
                    <span class="teal icon button">
                      <i class="oa-arrow-right"></i>
                    </span>
                  </td>
                </router-link>

                <tr class="divider" v-if="person.completed_evaluations.length">
                  <td colspan="3">Completed Evaluations</td>
                </tr>

                <router-link tag="tr" :to="{name: 'reviewEvaluation', params: { id: evaluation.id }}" v-for="evaluation in person.completed_evaluations" :key="evaluation.id">
                  <td>
                    <p>Evaluator(s)</p>
                    <small>
                      {{ evaluation.contributors | commaSeparated('full_name') }}
                    </small>
                  </td>
                  <td>
                    <p>Period</p>
                    <small>{{ evaluation.period_start | dotDate }} - {{ evaluation.period_end | dotDate }}</small>
                  </td>
                  <td class="has-button">
                    <span class="teal icon button">
                      <i class="oa-arrow-right"></i>
                    </span>
                  </td>
                </router-link>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        person: {}
      }
    },

    watch: {
      id: function() {
        this.getPerson();
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      getPerson() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/people/${this.id}`)
        .then(({data}) => {
          this.person = data;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      deletePerson() {
        swal({
          text: "Are you sure you want to delete this person?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`/people/${this.id}`)
            .then(() => {
              this.$toast.success('User was deleted successfully!');
              this.$router.push({name: 'allPeople'});
            });
          }
        });
      }
    },

    created() {
      this.getPerson();
    }
  }
</script>
