<template>
  <section class="dashboard" v-if="!loading">
    <header>
      <div class="row column">
        <h5>Dashboard</h5>
        <div class="main">
          <h1 v-text="currentDay"></h1>
          <three-dots></three-dots>
          <h1 v-text="currentDate"></h1>
        </div>
        <h1><small>Welcome, {{ $auth.user().full_name }}</small></h1>
      </div>
    </header>

    <section class="intro">
      <div class="row column">
        <div class="welcome">
          <div class="panel">
            <div class="panel--header">
              <i class="oa-announcement"></i>
              Announcements
            </div>

            <div class="panel--content announcements">
              <vue-slick
              ref="announcementsSlider"
              :options="{
                slidesToShow: 1,
                arrows: false
              }"
              v-if="dashboard.announcements.length">
                <div v-for="announcement in dashboard.announcements" :key="announcement.id">
                  <p>{{ announcement.message }}</p>

                  <div>
                    <small>{{ announcement.created_at | slashDate }}</small>
                  </div>
                </div>
              </vue-slick>

              <div v-else class="text-center">
                <p class="text-center">
                  No announcements...
                </p>
              </div>
            </div>

            <div class="panel--footer" v-if="dashboard.announcements.length > 1">
              <a @click="nextAnnouncement">
                Older
                <i class="oa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="stats">
      <div class="row even-padding">
        <div class="large-4 infobar-4 medium-12 small-12 columns">
          <div class="box">
            <div class="icon">
              <i class="oa-gavel"></i>
            </div>

            <div class="stat">
              <span class="number">{{ dashboard.statistics.attorneys }}/{{ dashboard.statistics.employees }}</span>
              <span class="title">Attorneys/Employees</span>
            </div>
          </div>
        </div>
        <div class="large-4 infobar-4 medium-12 small-12 columns">
          <div class="box goldenrod">
            <div class="icon">
              <i class="oa-scale"></i>
            </div>

            <div class="stat">
              <span class="number">{{ dashboard.statistics.clients }}</span>
              <span class="title">Total Clients</span>
            </div>
          </div>
        </div>
        <div class="large-4 infobar-4 medium-12 small-12 columns">
          <div class="box red">
            <div class="icon">
              <i class="oa-court"></i>
            </div>

            <div class="stat">
              <span class="number">{{ dashboard.statistics.matters }}</span>
              <span class="title">Total Matters</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news" v-if="dashboard.articles.length">
      <div class="row column">
        <div class="panel">
          <div class="panel--header border-bottom">
            <div class="title">
              <div class="heading">
                <i class="oa-article"></i>
                <p>{{ dashboard.articles[0].title }}</p>
              </div>

              <div class="subheading">
                <h4>{{ dashboard.articles[0].author ? dashboard.articles[0].author.full_name : 'Anonymous'  }}</h4>
                <p>
                  <span v-if="dashboard.articles[0].category">
                    {{ dashboard.articles[0].category.name }} |
                  </span>
                  {{ dashboard.articles[0].published_at | slashDate }}
                </p>
              </div>
            </div>
          </div>

          <div class="panel--content">
            <p v-html="dashboard.articles[0].big_excerpt"></p>
          </div>

          <div class="panel--footer">
            <router-link
            :to="{name: 'viewArticle', params:{id: dashboard.articles[0].id}}"
            tag="button"
            class="teal icon button">
              <i class="oa-arrow-right"></i>
            </router-link>
          </div>
        </div>
      </div>

      <div class="row even-padding" v-if="dashboard.articles.length == 3">
        <div class="large-6 medium-6 small-12 columns">
          <div class="panel">
            <div class="panel--header border-bottom">
              <div class="title">
                <div class="heading">
                  <i class="oa-article"></i>
                  <p>{{ dashboard.articles[1].title }}</p>
                </div>

                <div class="subheading">
                  <h4>{{ dashboard.articles[1].author ? dashboard.articles[1].author.full_name : 'Anonymous' }}</h4>
                  <p>
                    <span v-if="dashboard.articles[1].category">
                      {{ dashboard.articles[1].category.name }} |
                    </span>
                    {{ dashboard.articles[1].published_at | slashDate }}
                  </p>
                </div>
              </div>
            </div>

            <div class="panel--content">
              <p v-html="dashboard.articles[1].excerpt"></p>
            </div>

            <div class="panel--footer">
              <router-link
              :to="{name: 'viewArticle', params:{id: dashboard.articles[1].id}}"
              tag="button"
              class="teal icon button">
                <i class="oa-arrow-right"></i>
              </router-link>
            </div>
          </div>
        </div>
        <div class="large-6 medium-6 small-12 columns">
          <div class="panel">
            <div class="panel--header border-bottom">
              <div class="title">
                <div class="heading">
                  <i class="oa-article"></i>
                  <p>{{ dashboard.articles[2].title }}</p>
                </div>

                <div class="subheading">
                  <h4>{{ dashboard.articles[2].author ? dashboard.articles[2].author.full_name : 'Anonymous' }}</h4>
                  <p>
                    <span v-if="dashboard.articles[2].category">
                      {{ dashboard.articles[2].category.name }} |
                    </span>
                    {{ dashboard.articles[2].published_at | slashDate }}
                  </p>
                </div>
              </div>
            </div>

            <div class="panel--content">
              <p v-html="dashboard.articles[2].excerpt"></p>
            </div>

            <div class="panel--footer">
              <router-link
              :to="{name: 'viewArticle', params:{id: dashboard.articles[2].id}}"
              tag="button"
              class="teal icon button">
                <i class="oa-arrow-right"></i>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="calendar">
      <div class="row column">
        <div class="panel">
          <div class="panel--header border-bottom">
            <div class="title">
              <div class="heading">
                <i class="oa-calendar"></i>
                <p>Calendar</p>
              </div>
            </div>
          </div>

          <div class="panel--content">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-links" v-if="dashboard.site_links.length">
      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-reply"></i>
                <p>Site Links</p>
              </div>
            </div>
          </div>
          <table class="base table table--list unstriped">
            <tbody>
              <tr v-link="item.link" v-for="(item, i) in dashboard.site_links" :key="i">
                <td>
                  {{ item.name }}
                </td>
                <td class="has-button">
                  <a :href="`//${item.link}`" target="_blank" class="teal icon button">
                    <i class="oa-arrow-right"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <div class="text-center">
      <five-dots></five-dots>
    </div>

    <footer class="main-footer">
      <div class="row">
        <div class="small-12 medium-6 large-8 columns">
          <div class="footer-content address">
            <p class="heading">
              <i class="oa-map-pin"></i>
              Locations
            </p>

            <div class="row large-up-3 medium-up-2 small-up-1">
              <div
              class="column block"
              v-for="location in dashboard.locations"
              :key="location.id">
                <span>
                  <strong>
                    {{ location.name }}
                  </strong>
                </span>
                <span>{{ location.address }} <br>{{ location.building }}</span>
                <span>
                  {{ location.city }},
                  {{ location.state }}
                  {{ location.zip }}
                </span>
                <span>{{ location.phone }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="small-12 medium-6 large-4 columns">
          <div class="footer-content">
            <p class="heading">
              <i class="oa-message"></i>
              Shout Outs
            </p>

            <div class="block">
              <vue-slick
              v-if="dashboard.shoutouts.length"
              ref="shoutoutsSlider"
              @beforeChange="updateCurrentShoutout"
              :options="{
                slidesToShow: 1,
                arrows: false
              }">
                <div
                v-for="shoutout in dashboard.shoutouts"
                :key="shoutout.id">
                  <span v-html="shoutout.message"></span>
                  <span v-if="!shoutout.anonymous">
                    &mdash; {{ shoutout.person.full_name }} | {{ shoutout.person.title }}
                  </span>
                  <span v-else>&mdash; Anonymous</span>
                </div>
              </vue-slick>

              <div v-else>
                <p>No shoutouts yet...</p>
              </div>

              <div class="row actions align-middle">
                <div class="column" v-if="dashboard.shoutouts.length && dashboard.shoutouts.length > 1">
                  <span class="count">
                    {{ currentShoutout }} / {{ dashboard.shoutouts.length }}
                    <a @click="nextShoutout">
                      <i class="oa-arrow-right"></i>
                    </a>
                  </span>
                </div>
                <div class="column text-right" v-if="$auth.check(['admin', 'hr', 'marketing'])">
                  <a class="button-link" @click="openShoutoutsModal">
                    Add Message
                    <i class="oa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <zf-reveal id="shoutouts-modal" class="animated info" v-if="$auth.check(['admin', 'hr', 'marketing'])">
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <header>
          <i class="oa-message"></i>
          <h3>Add a Shout Out</h3>
        </header>
        <section>
          <zf-abide @abide-submit.prevent="submitShoutout">
            <div class="row column">
              <label for="message" class="flex split">
                Message
                <small :class="{'getting-close': remainingCharacters <= 50}">
                  {{ remainingCharacters }} character<span v-if="remainingCharacters !== 1">s</span> left
                </small>
              </label>
              <textarea
                maxlength="200"
                required
                placeholder="Say something nice"
                id="message"
                v-model="shoutout.message"
                rows="8">
              </textarea>
              <span
              v-if="errors.message"
              v-text="errors.message"
              class="form-error is-visible"></span>

              <checkbox v-model="shoutout.anonymous" id="anonymity">
                Would you like to keep this anonymous?
              </checkbox>

              <div class="button-box text-center">
                <button class="goldenrod button">Submit</button>
              </div>
            </div>
          </zf-abide>
        </section>
      </zf-reveal>

      <div class="row column">
        <div class="copyright-info">
          <span>&copy; {{ currentYear }} Maschoff Brennan. All Rights Reserved.</span>
        </div>
      </div>
    </footer>
  </section>
</template>

<script>
  import moment from 'moment';
  import FormRequest from '../classes/FormRequest';

  export default FormRequest.extend ({
    data() {
      return {
        currentDay: '',
        currentDate: '',
        currentYear: '',
        shoutout: {
          message: '',
          anonymous: false
        },
        dashboard: {
          articles: [],
          shoutouts: [],
          announcements: [],
          locations: [],
          site_links: [],
          statistics: [],
          calendar: [],
        },
        currentShoutout: 1
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      },

      remainingCharacters() {
        return 200 - this.shoutout.message.length;
      }
    },

    props: [],
    components: {},
    methods: {
      getDashboard() {
        this.$store.commit('setLoading', true);

        return this.$http.get('dashboard')
          .then(({data}) => {
            this.$set(this.dashboard, 'articles', data.articles);
            this.$set(this.dashboard, 'shoutouts', data.shoutouts);
            this.$set(this.dashboard, 'announcements', data.announcements);
            this.$set(this.dashboard, 'locations', data.locations);
            this.$set(this.dashboard, 'site_links', data.site_links);
            this.$set(this.dashboard, 'statistics', data.statistics);
            this.$set(this.dashboard, 'calendar', data.calendar);

            this.$store.commit('setLoading', false);
          })
      },

      nextShoutout() {
        this.$refs.shoutoutsSlider.next();
      },

      updateCurrentShoutout(event, slick, currentSlide, nextSlide) {
        this.currentShoutout = nextSlide + 1;
      },

      openShoutoutsModal() {
        $('#shoutouts-modal').foundation('open');
      },

      submitShoutout() {
        this.$http.post('/shoutouts', this.shoutout)
          .then((res) => {
            $('#shoutouts-modal').foundation('close');
            this.shoutout.message = '';
            this.shoutout.anonymous = false;
            this.$auth.fetch();
            this.$toast.success('Shoutout was submitted successfully!');
          })
          .catch((res) => this._respondToErrors(res));
      },

      nextAnnouncement() {
        this.$refs.announcementsSlider.next();
      }
    },
    created() {
      this.currentDay  = moment().format('dddd');
      this.currentDate = moment().format('MMMM DD, Y');
      this.currentYear = moment().format('Y');
    },
    mounted() {
      this.getDashboard().then(() => {
        let vm = this
        $('#calendar').fullCalendar({
          events: vm.dashboard.calendar,
          header: {
            left: 'title',
            center: '',
            right: 'prev,today,next'
          },
          validRange: {
            start: '2019-03-01'
          }
        });
      });
    }
  })
</script>
