<template>
  <section class="announcements">
    <header>
      <div class="row column">
        <h5>Announcements</h5>
        <div class="main">
          <h1>View Announcements</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row column">
        <section class="padded text-right">
          <button class="small teal dropdown action button" data-toggle="announcement-actions">
            Actions
            <zf-dropdown id="announcement-actions">
              <ul>
                <li @click="createItem">
                  Add
                  <i class="oa-plus"></i>
                </li>
              </ul>
            </zf-dropdown>
          </button>
        </section>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-announcement"></i>
                <p>Announcements</p>
              </div>
            </div>
          </div>
          <table class="base table stack table--list unstriped links" v-if="announcements.length">
            <thead>
              <tr>
                <th>
                  From
                </th>
                <th colspan="2">
                  Message
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
              v-for="announcement in announcements"
              :key="announcement.id">
                <td v-text="announcement.person.full_name"></td>
                <td>{{ announcement.message | truncate }}</td>
                <td class="has-button">
                  <a @click="editItem(announcement)" class="button icon teal">
                    <i class="oa-edit"></i>
                  </a>
                  <a @click="deleteItem(announcement)" class="button icon red">
                    <i class="oa-close"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !announcements.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>

    <zf-reveal id="announcement-modal" class="animated info">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <header>
        <i class="oa-message"></i>
        <h3>Add an Announcement</h3>
        <small>Announcements will be visible for 1 month after they are created.</small>
      </header>
      <section>
        <zf-abide @abide-submit.prevent="saveItem">
          <div class="row column">
            <label for="message">Message</label>
            <textarea
              required
              placeholder="Announcement Message"
              id="message"
              v-model="announcement.message"
              rows="8">
            </textarea>
            <span
            v-if="errors.message"
            v-text="errors.message"
            class="form-error is-visible"></span>

            <div class="button-box text-center">
              <button class="goldenrod button">Submit</button>
            </div>
          </div>
        </zf-abide>
      </section>
    </zf-reveal>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        announcements: [],
        pagination: {},
        announcement: {
          message: '',
          person_id: this.$auth.user().id
        },
        method: 'post'
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getItems(page);
      },

      // announcements: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'announcements'})
      //   }
      // }
    },

    methods: {
      getItems(page) {
        this.$store.commit('setLoading', true);

        this.$http.get('/announcements', {
          params: {
            page: page
          }
        })
        .then(({data}) => {
          this.announcements  = data.announcements.data;
          this.pagination = data.announcements;
          this.$store.commit('setLoading', false)
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      createItem() {
        this.method = 'post';

        $('#announcement-modal').foundation('open');
      },

      saveItem() {
        this.$store.commit('setLoading', true);

        let endpoint = 'announcements';
        endpoint += (this.announcement.hasOwnProperty('id')) ? `/${this.announcement.id}` : '';

        this.$http(endpoint, {
            method: this.method,
            params: this.announcement
          }
        )
          .then((res) => {
            $('#announcement-modal').foundation('close');
            this.announcement.message = '';
            this.getItems(this.pagination.current_page);
            this.$store.commit('setLoading', false);
          })
          .catch((err) => this.$store.commit('setLoading', false))
      },

      editItem(item) {
        this.announcement = this.$util.clone(item);
        this.method = 'put';

        $('#announcement-modal').foundation('open');
      },

      deleteItem(announcement) {
        swal({
          text: "Are you sure you want to delete this announcement?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`announcements/${announcement.id}`)
            .then((res) => this.getItems(this.pagination.current_page));
          }
        });
      },

      goToPage(page) {
        this.$router.push({name: 'forms', query: {page: page}})
      }
    },

    created() {
      this.getItems(this.$route.query.page);

      $(document).on('closed.zf.reveal', '#announcement-modal', () => this.announcement = {});
    }
  })
</script>
