<template>
  <section class="categories">
    <header>
      <div class="row column">
        <h5>Categories</h5>
        <div class="main">
          <h1>View Categories</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row column">
        <section class="padded text-right">
          <button class="small teal dropdown action button" data-toggle="category-actions">
            Actions
            <zf-dropdown id="category-actions">
              <ul>
                <li @click="createItem">
                  Add
                  <i class="oa-plus"></i>
                </li>
              </ul>
            </zf-dropdown>
          </button>
        </section>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-receipt"></i>
                <p>Categories</p>
              </div>
            </div>

            <button class="dropdown sort gray button" data-toggle="categories-sort">
              <span>
                {{ currentFilter }}
              </span>
              <zf-dropdown id="categories-sort">
                <ul>
                  <li
                  v-for="type in types"
                  :key="type.id"
                  @click="setFilterType(type.slug, type.name)">
                    {{ type.name}}
                    <i class="oa-check" v-if="type.slug === filter"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </div>
          <table class="base table stack table--list unstriped links" v-if="categories.length">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th colspan="2">
                  Type
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
              v-for="category in categories"
              :key="category.id">
                <td v-text="category.name"></td>
                <td v-text="category.type"></td>
                <td class="has-button">
                  <a @click="editItem(category)" class="button teal icon">
                    <i class="oa-edit"></i>
                  </a>
                  <a @click="deleteItem(category)" class="button icon red">
                    <i class="oa-close"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !categories.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>

    <zf-reveal id="category-modal" class="animated info">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <header>
        <i class="oa-receipt"></i>
        <h3>
          <span v-if="method == 'post'">Add a</span>
          <span v-if="method == 'put'">Edit</span>
          Category
        </h3>
      </header>
      <section>
        <zf-abide @abide-submit.prevent="saveItem">
          <div class="row column">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              v-model="category.name"
              required>
            <span
            v-if="errors.name"
            v-text="errors.name"
            class="form-error is-visible"></span>

            <label>Category Type</label>
            <radio
            v-for="(type, i) in types"
            v-model="category.type"
            name="types"
            :key="i"
            :val="type.slug"
            :id="`type-${i}`">
              {{ type.name }}
            </radio>

            <div class="button-box text-center">
              <button class="goldenrod button">Submit</button>
            </div>
          </div>
        </zf-abide>
      </section>
    </zf-reveal>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';
  import _ from 'lodash';

  export default FormRequest.extend({
    data() {
      return {
        categories: [],
        pagination: {},
        category: {},
        method: 'post',
        types: [],
        filter: null,
        currentFilter: 'Filter Type'
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getItems(page);
      },

      // categories: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'categories'})
      //   }
      // },

      filter: function() {
        this.getItems();
      }
    },

    methods: {
      getItems(page) {
        this.$store.commit('setLoading', true);

        this.$http.get('categories', {
          params: {
            page: page,
            type: this.filter
          }
        })
        .then(({data}) => {
          this.categories  = data.categories.data;
          this.pagination = data.categories;
          this.types = data.departments;
          this.types.push({name: 'News & Events', slug: 'article'});
          this.types = _.orderBy(this.types, 'slug', 'desc');
          this.$store.commit('setLoading', false)
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      createItem() {
        this.method = 'post';

        $('#category-modal').foundation('open');
      },

      saveItem() {
        this.$store.commit('setLoading', true);
        let endpoint = 'categories';
        endpoint += (this.category.hasOwnProperty('id')) ? `/${this.category.id}` : '';

        this.$http(endpoint, {
            method: this.method,
            params: this.category
        })
        .then((res) => {
          $('#category-modal').foundation('close');
          this.category.message = '';
          this.getItems(this.pagination.current_page);
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false))
      },

      editItem(item) {
        this.category = this.$util.clone(item);
        this.method = 'put';

        $('#category-modal').foundation('open');
      },

      deleteItem(category) {
        swal({
          text: "Are you sure you want to delete this category?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`categories/${category.id}`)
            .then((res) => this.getItems(this.pagination.current_page));
          }
        });
      },

      setFilterType(type, name) {
        this.filter = (type === this.filter) ? null : type;
        this.currentFilter = (this.currentFilter === name) ? 'Filter Type' : name;
      },

      goToPage(page) {
        this.$router.push({name: 'forms', query: {page: page}})
      }
    },

    created() {
      this.getItems(this.$route.query.page);

      $(document).on('closed.zf.reveal', '#category-modal', () => this.category = {})
    }
  })
</script>
