<template>
  <section class="departments">
    <header>
      <div class="row column">
        <h5>Departments</h5>
        <div class="main">
          <h1>View Departments</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row column">
        <section class="padded text-right">
          <button class="small teal dropdown action button" data-toggle="department-actions">
            Actions
            <zf-dropdown id="department-actions">
              <ul>
                <li @click="createItem">
                  Add
                  <i class="oa-plus"></i>
                </li>
              </ul>
            </zf-dropdown>
          </button>
        </section>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-add-user"></i>
                <p>Departments</p>
              </div>
            </div>
          </div>
          <table class="base table stack table--list unstriped links" v-if="departments.length">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Slug
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
              v-for="department in departments"
              :key="department.id">
                <td v-text="department.name"></td>
                <td v-text="department.slug"></td>
                <td class="has-button">
                  <a @click="editItem(department)" class="button teal icon">
                    <i class="oa-edit"></i>
                  </a>
                  <a @click="deleteItem(department)" class="button icon red">
                    <i class="oa-close"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !departments.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>

    <zf-reveal id="department-modal" class="animated info">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <header>
        <i class="oa-add-user"></i>
        <h3>
          <span v-if="method == 'post'">Add a</span>
          <span v-if="method == 'put'">Edit</span>
          Department
        </h3>
      </header>
      <section>
        <zf-abide @abide-submit.prevent="saveItem">
          <div class="row column">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              v-model="department.name"
              required>
            <span
            v-if="errors.name"
            v-text="errors.name"
            class="form-error is-visible"></span>

            <div class="button-box text-center">
              <button class="goldenrod button">Submit</button>
            </div>
          </div>
        </zf-abide>
      </section>
    </zf-reveal>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';
  import { mapActions } from 'vuex';

  export default FormRequest.extend({
    data() {
      return {
        departments: [],
        pagination: {},
        department: {},
        method: 'post'
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getItems(page);
      },

      // departments: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'departments'})
      //   }
      // }
    },

    methods: {
      ...mapActions(['refreshResources']),

      getItems(page) {
        this.$store.commit('setLoading', true);

        this.$http.get('/departments', {
          params: {
            page: page
          }
        })
        .then(({data}) => {
          this.departments  = data.departments.data;
          this.pagination = data.departments;
          this.$store.commit('setLoading', false)
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      createItem() {
        this.method = 'post';

        $('#department-modal').foundation('open');
      },

      saveItem() {
        this.$store.commit('setLoading', true);
        let endpoint = 'departments';
        endpoint += (this.department.hasOwnProperty('id')) ? `/${this.department.id}` : '';

        this.$http(endpoint, {
            method: this.method,
            params: this.department
          }
        )
          .then((res) => {
            $('#department-modal').foundation('close');
            this.department.message = '';
            this.getItems(this.pagination.current_page);
            this.refreshResources();
            this.$store.commit('setLoading', false);
          })
          .catch((err) => this.$store.commit('setLoading', false))
      },

      editItem(item) {
        this.department = this.$util.clone(item);
        this.method = 'put';

        $('#department-modal').foundation('open');
      },

      deleteItem(department) {
        swal({
          text: "Are you sure you want to delete this department?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`departments/${department.id}`)
            .then((res) => {
              this.getItems(this.pagination.current_page)
              this.refreshResources();
            });
          }
        });
      },

      goToPage(page) {
        this.$router.push({name: 'forms', query: {page: page}})
      }
    },

    created() {
      this.getItems(this.$route.query.page);

      $(document).on('closed.zf.reveal', '#department-modal', () => this.department = {})
    }
  })
</script>
