<template>
  <section class="settings general">
    <header>
      <div class="row column">
        <h5>Settings</h5>
        <div class="main">
          <h1 v-cloak>
            Edit Settings
          </h1>
        </div>
      </div>
    </header>

    <div class="row column">
      <zf-tabs>
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title">Site Links</a>
          <div class="accordion-content" data-tab-content>
            <div class="panel">
              <div class="panel--header">
                <div class="title">
                  <div class="heading">
                    <p>Update Site Links</p>
                  </div>
                </div>
              </div>
              <div class="panel--content">
                <zf-abide @abide-submit.prevent="submitSetting('site_links')">
                  <div class="row align-middle" v-for="(link, i) in items.site_links" :key="i">
                    <div class="column">
                      <div class="row">
                        <div class="large-6 infobar-6 medium-12 small-12 columns">
                          <label :for="`site_links_${i}_name`">Name</label>
                          <input type="text" :id="`site_links_${i}_name`" v-model="items.site_links[i]['name']" required>
                          <span
                          v-text="errors.site_links"
                          class="form-error form-error--file"></span>
                        </div>
                        <div class="large-6 infobar-6 medium-12 small-12 columns">
                          <label :for="`site_links_${i}_link`">Link</label>
                          <div class="input-group">
                            <span class="input-group-label">http://</span>
                            <input type="text" :id="`site_links_${i}_link`" v-model="items.site_links[i]['link']" required>
                            <span
                            v-text="errors.site_links"
                            class="form-error form-error--file"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="column shrink no-padding" style="margin-top: 8px">
                      <a class="icon button red" @click="removeItem('site_links', i)">
                        <i class="oa-close"></i>
                      </a>
                    </div>
                  </div>

                  <div class="row column text-right">
                    <section class="padded padded--top">
                      <a class="teal icon button" @click="addItem('site_links', ['name', 'link'])">
                        <i class="oa-plus"></i>
                      </a>
                    </section>
                  </div>

                  <div class="button-box">
                    <button class="goldenrod button">Submit</button>
                  </div>
                </zf-abide>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">FAQs</a>
          <div class="accordion-content" data-tab-content>
            <div class="panel">
              <div class="panel--header">
                <div class="title">
                  <div class="heading">
                    <p>Update FAQs</p>
                  </div>
                </div>
              </div>
              <div class="panel--content">
                <zf-abide @abide-submit.prevent="submitSetting('faqs')">
                  <div class="row align-middle" v-for="(question, i) in items.faqs" :key="i">
                    <div class="column">
                      <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                          <label :for="`faqs_${i}_question`">Question</label>
                          <input type="text" :id="`faqs_${i}_question`" v-model="items.faqs[i]['question']" required>
                          <span
                          v-text="errors.faqs"
                          class="form-error form-error--file"></span>
                        </div>
                        <div class="large-12 medium-12 small-12 columns">
                          <label :for="`faqs_${i}_answer`">Answer</label>
                          <textarea :id="`faqs_${i}_answer`" v-model="items.faqs[i]['answer']" rows="6" required></textarea>
                          <span
                          v-text="errors.faqs"
                          class="form-error form-error--file"></span>
                        </div>
                      </div>
                    </div>

                    <div class="column shrink no-padding" style="margin-top: 8px">
                      <a class="icon button red" @click="removeItem('faqs', i)">
                        <i class="oa-close"></i>
                      </a>
                    </div>
                  </div>

                  <div class="row column text-right">
                    <section class="padded padded--top">
                      <a class="teal icon button" @click="addItem('faqs', ['question', 'answer'])">
                        <i class="oa-plus"></i>
                      </a>
                    </section>
                  </div>

                  <div class="button-box">
                    <button class="goldenrod button">Submit</button>
                  </div>
                </zf-abide>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Help Menu</a>
          <div class="accordion-content" data-tab-content>
            <div class="panel">
              <div class="panel--header">
                <div class="title">
                  <div class="heading">
                    <p>Help Menu Text</p>
                  </div>
                </div>
              </div>
              <div class="panel--content">
                <zf-abide @abide-submit.prevent="submitSetting('help_menu')">
                  <div>
                    <froala
                    :config="froalaConfig"
                    id="help_menu"
                    :tag="'textarea'"
                    v-model="items.help_menu"
                    required></froala>
                    <span
                    v-text="errors.help_menu"
                    class="form-error"></span>
                  </div>

                  <div class="button-box">
                    <button class="goldenrod button">Submit</button>
                  </div>
                </zf-abide>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Notifications</a>
          <div class="accordion-content" data-tab-content>
            <div class="panel">
              <div class="panel--header">
                <div class="title">
                  <div class="heading">
                    <p>Email Addresses for notifications</p>
                  </div>
                </div>
              </div>
              <div class="panel--content">
                <zf-abide @abide-submit.prevent="submitSetting('notifications')" v-if="items.notifications">
                  <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                      <label for="anaqua_export_email">Anaqua Export Email</label>
                      <input type="text" id="anaqua_export_email" v-model="items.notifications.anaqua_export_email" required>
                      <span
                      v-text="errors.anaqua_export_email"
                      class="form-error"></span>
                    </div>

                    <div class="large-12 medium-12 small-12 columns">
                      <label for="evaluation_email">Evaluation Email</label>
                      <input type="text" id="evaluation_email" v-model="items.notifications.evaluation_email" required>
                      <span
                      v-text="errors.evaluation_email"
                      class="form-error"></span>
                    </div>

                    <div class="large-12 medium-12 small-12 columns">
                      <label for="anaqua_export_email">Docketing Email</label>
                      <input type="text" id="docketing_email" v-model="items.notifications.docketing_email" required>
                      <span
                      v-text="errors.docketing_email"
                      class="form-error"></span>
                    </div>
                  </div>

                  <div class="button-box">
                    <button class="goldenrod button">Submit</button>
                  </div>
                </zf-abide>
              </div>
            </div>
          </div>
        </li>
      </zf-tabs>
    </div>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';
  import FroalaConfig from '../../classes/FroalaConfig';
  import { mapState } from 'vuex';

  export default FormRequest.extend({
    data() {
      return {
        items: {},
        froalaConfig: FroalaConfig,
      }
    },

    computed: {
      ...mapState(['loading']),

      settings() {
        return this.$store.state.settings;
      }
    },

    watch: {
      settings: function(settings) {
        this.items = this.$util.clone(settings);
      }
    },

    methods: {
      addItem(setting, fields) {
        if (!this.items[setting]) {
          this.$set(this.items, setting, []);
        }

        let item = {};

        fields.forEach((field, index) => item[field] = '');

        this.items[setting].push(item);
      },

      removeItem(setting, item) {
        this.items[setting].splice(item, 1);
      },

      submitSetting(setting) {
        this.$store.commit('setLoading', true)
        this.$http.post('settings', {
          key: setting,
          value: this.items[setting]
        })
        .then((res) => {
          this.$toast.success('Settings were updated sucessfully!');
          this.$store.commit('updateSetting', {key: setting, value: res.data.value});
          this.$store.commit('setLoading', false)
        })
        .catch(err => this.$store.commit('setLoading', false))
      }
    },

    created() {
      this.items = this.$util.clone(this.settings);
    }
  })
</script>
