<template>
  <section class="locations">
    <header>
      <div class="row column">
        <h5>Locations</h5>
        <div class="main">
          <h1>View Locations</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row column">
        <section class="padded text-right">
          <button class="small teal dropdown action button" data-toggle="location-actions">
            Actions
            <zf-dropdown id="location-actions">
              <ul>
                <li @click="createItem">
                  Add
                  <i class="oa-plus"></i>
                </li>
              </ul>
            </zf-dropdown>
          </button>
        </section>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-map-pin"></i>
                <p>Locations</p>
              </div>
            </div>
          </div>
          <table class="base table stack table--list unstriped links" v-if="locations.length">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Address
                </th>
                <th colspan="2">
                  Phone
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
              v-for="location in locations"
              :key="location.id">
                <td v-text="location.name"></td>
                <td>
                  {{ location.address}}
                  {{ location.building }}
                  {{ location.city }} {{ location.state }}, {{ location.zip }}
                </td>
                <td v-text="location.phone"></td>
                <td class="has-button">
                  <a @click="editItem(location)" class="button teal icon">
                    <i class="oa-edit"></i>
                  </a>
                  <a @click="deleteItem(location)" class="button icon red">
                    <i class="oa-close"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !locations.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>

    <zf-reveal id="location-modal" class="animated info">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <header>
        <i class="oa-map-pin"></i>
        <h3>
          <span v-if="method == 'post'">Add a</span>
          <span v-if="method == 'put'">Edit</span>
          Location
        </h3>
      </header>
      <section>
        <zf-abide @abide-submit.prevent="saveItem">
          <div class="row column">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              v-model="location.name"
              required>
            <span
            v-if="errors.name"
            v-text="errors.name"
            class="form-error is-visible"></span>

            <label for="address">Address</label>
            <input
              type="text"
              id="address"
              v-model="location.address"
              required>
            <span
            v-if="errors.address"
            v-text="errors.address"
            class="form-error is-visible"></span>

            <label for="building">Building #</label>
            <input
              type="text"
              id="building"
              v-model="location.building"
              required>
            <span
            v-if="errors.building"
            v-text="errors.building"
            class="form-error is-visible"></span>

            <label for="city">City</label>
            <input
              type="text"
              id="city"
              v-model="location.city"
              required>
            <span
            v-if="errors.city"
            v-text="errors.city"
            class="form-error is-visible"></span>

            <label for="state">State</label>
            <input
              maxlength="2"
              type="text"
              id="state"
              v-model="location.state"
              required>
            <span
            v-if="errors.state"
            v-text="errors.state"
            class="form-error is-visible"></span>

            <label for="zip">Zip</label>
            <input
              type="text"
              id="zip"
              v-model="location.zip"
              required>
            <span
            v-if="errors.zip"
            v-text="errors.zip"
            class="form-error is-visible"></span>

            <label for="phone">Phone</label>
            <input
              type="text"
              id="phone"
              v-model="location.phone"
              required>
            <span
            v-if="errors.phone"
            v-text="errors.phone"
            class="form-error is-visible"></span>

            <div class="button-box text-center">
              <button class="goldenrod button">Submit</button>
            </div>
          </div>
        </zf-abide>
      </section>
    </zf-reveal>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        locations: [],
        pagination: {},
        location: {},
        method: 'post'
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getItems(page);
      },

      // locations: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'locations'})
      //   }
      // }
    },

    methods: {
      getItems(page) {
        this.$store.commit('setLoading', true);

        this.$http.get('/locations', {
          params: {
            page: page
          }
        })
        .then(({data}) => {
          this.locations  = data.locations.data;
          this.pagination = data.locations;
          this.$store.commit('setLoading', false)
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      createItem() {
        this.method = 'post';

        $('#location-modal').foundation('open');
      },

      saveItem() {
        this.$store.commit('setLoading', true);
        let endpoint = 'locations';
        endpoint += (this.location.hasOwnProperty('id')) ? `/${this.location.id}` : '';

        this.$http(endpoint, {
            method: this.method,
            params: this.location
          }
        )
          .then((res) => {
            $('#location-modal').foundation('close');
            this.location.message = '';
            this.getItems(this.pagination.current_page);
            this.$store.commit('setLoading', false);
          })
          .catch((err) => this.$store.commit('setLoading', false))
      },

      editItem(item) {
        this.location = this.$util.clone(item);
        this.method = 'put';

        $('#location-modal').foundation('open');
      },

      deleteItem(location) {
        swal({
          text: "Are you sure you want to delete this location?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`locations/${location.id}`)
            .then((res) => this.getItems(this.pagination.current_page));
          }
        });
      },

      goToPage(page) {
        this.$router.push({name: 'forms', query: {page: page}})
      }
    },

    created() {
      this.getItems(this.$route.query.page);

      $(document).on('closed.zf.reveal', '#location-modal', () => this.location = {})
    }
  })
</script>
