<template>
  <section class="shoutouts">
    <header>
      <div class="row column">
        <h5>Shout Outs</h5>
        <div class="main">
          <h1>View/Approve Shout Outs</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-message"></i>
                <p>Shout Outs</p>
              </div>
            </div>
          </div>
          <table class="base table stack table--list unstriped links" v-if="shoutouts.length">
            <thead>
              <tr>
                <th>
                  From
                </th>
                <th colspan="2">
                  Message
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
              v-for="shoutout in shoutouts"
              :key="shoutout.id">
                <td v-text="shoutout.person.full_name"></td>
                <td>{{ shoutout.message }}</td>
                <td class="has-button">
                  <a
                  v-if="!shoutout.approved"
                  class="button icon teal"
                  @click="approveItem(shoutout)">
                    <i class="oa-check-bold"></i>
                  </a>
                  <a @click="deleteItem(shoutout)" class="button icon red">
                    <i class="oa-close"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !shoutouts.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        shoutouts: [],
        pagination: {}
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getItems(page);
      },

      // shoutouts: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'shoutOuts'})
      //   }
      // }
    },

    methods: {
      getItems(page) {
        this.$store.commit('setLoading', true);

        this.$http.get('/shoutouts', {
          params: {
            page: page
          }
        })
        .then(({data}) => {
          this.shoutouts  = data.data;
          this.pagination = data;
          this.$store.commit('setLoading', false)
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      approveItem(shoutout) {
        swal({
          text: "Shout outs will be visible for 1 month after they are approved. Are you sure you want to approve this shoutout?",
          icon: "success",
          buttons: true,
          className: 'success',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.post(`shoutouts/${shoutout.id}/approve`)
            .then((res) => {
              this.$auth.fetch();
              this.getItems(this.pagination.current_page);
            });
          }
        });
      },

      deleteItem(shoutout) {
        swal({
          text: "Are you sure you want to delete this shoutout?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`shoutouts/${shoutout.id}`)
            .then((res) => {
              this.$auth.fetch();
              this.getItems(this.pagination.current_page);
            });
          }
        });
      },

      goToPage(page) {
        this.$router.push({name: 'forms', query: {page: page}})
      }
    },

    created() {
      this.getItems(this.$route.query.page);
    }
  }
</script>
