<template>
  <div class="input-toggle checkbox">
    <input
    type="checkbox"
    :id="id"
    :checked="value"
    @change="$emit('input', $event.target.checked)">
    <label :for="id">
      <span class="indicator"></span>
      <span class="input-label" v-if="$slots.default">
        <slot></slot>
      </span>
    </label>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        required: false,
      },
      id: {
        type: String,
        required: true
      }
    }
  }
</script>
