<template>
  <div class="ui-dots five-dots">
    <span class="teal"></span>
    <span class="goldenrod"></span>
    <span class="red"></span>
    <span class="goldenrod"></span>
    <span class="teal"></span>
  </div>
</template>
