<template>
  <div class="loading">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.614 35.614">
      <g id="Group_192" data-name="Group 192" transform="translate(-367.994 -668.994)">
        <g id="Group_191" data-name="Group 191">
          <circle id="Ellipse_215" data-name="Ellipse 215" class="cls-1" cx="2.134" cy="2.134" r="2.134" transform="translate(374.634 700.383) rotate(-135)"/>
          <circle id="Ellipse_219" data-name="Ellipse 219" class="cls-2" cx="2.134" cy="2.134" r="2.134" transform="translate(371.013 689.518) rotate(-135)"/>
          <circle id="Ellipse_222" data-name="Ellipse 222" class="cls-2" cx="2.134" cy="2.134" r="2.134" transform="translate(386.103 704.609) rotate(-135)"/>
          <circle id="Ellipse_218" data-name="Ellipse 218" class="cls-2" cx="2.134" cy="2.134" r="2.134" transform="translate(396.365 678.653) rotate(-135)"/>
          <circle id="Ellipse_216" data-name="Ellipse 216" class="cls-3" cx="2.134" cy="2.134" r="2.134" transform="translate(375.238 679.256) rotate(-135)"/>
          <circle id="Ellipse_220" data-name="Ellipse 220" class="cls-1" cx="2.134" cy="2.134" r="2.134" transform="translate(385.5 675.031) rotate(-135)"/>
          <circle id="Ellipse_221" data-name="Ellipse 221" class="cls-3" cx="2.134" cy="2.134" r="2.134" transform="translate(400.59 690.122) rotate(-135)"/>
          <circle id="Ellipse_217" data-name="Ellipse 217" class="cls-1" cx="2.134" cy="2.134" r="2.134" transform="translate(395.761 699.78) rotate(-135)"/>
        </g>
      </g>
    </svg>
  </div>
</template>
