<template>
  <div class="input-toggle radio">
    <input
    type="radio"
    :checked="val == value"
    :value="val"
    :name="name"
    :id="id"
    :required="required"
    :disabled="disabled"
    @change="$emit('input', $event.target.value)">
    <label :for="id">
      <span class="indicator"></span>
      <span class="input-label" v-if="$slots.default">
        <slot></slot>
      </span>
    </label>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        required: false,
      },
      val: {
        required: false,
      },
      name: {
        type: String,
        required: true
      },
      id: {
        type: String,
        required: true
      },
      required: {
        required: false
      },
      disabled: {
        required: false
      }
    }
  }
</script>
