<template>
  <select
  v-model="selected">
    <slot></slot>
  </select>
</template>

<script>
  export default {
    data() {
      return {
        selected: null,
        noResults: 'No results found',
        defaultOptions: {
          width: '100%',
          dropdownParent: $(this.$root.$el),
          language: {
            noResults: () => {
              return this.noResults;
            }
          },
        }
      }
    },

    props: {
      value: {
        default: null,
      },
      options: {
        type: Object,
        default: function() {
          return {};
        }
      },
      search: {
        type: Boolean,
        default: function() {
          return true;
        }
      }
    },

    watch: {
      value: function(value) {
        this.selected = value;

        if (value === null || value == undefined || !value) {
          $(this.$el).val('').trigger('change')
        }
      }
    },

    created() {
      if (this.search == false) {
        this.defaultOptions.minimumResultsForSearch = Infinity;
      }

      this.defaultOptions = Object.assign(this.defaultOptions, this.options);
    },

    mounted() {
      // Set selected value from component v-model
      this.selected = this.value;

      // Initialize Select2 and watch for events
      $(this.$el)
      .select2(this.defaultOptions)
      .on('select2:select', (event) => {
        if (this.options.multiple) {
          this.selected.push(event.params.data.id);
          this.$emit('input', this.selected);
        } else {
          this.$emit('input', this.selected = event.target.value);
        }
      })
      .on('select2:unselect', (event) => {
        if (this.options.multiple) {
          this.selected = this.selected.filter(item => item != event.params.data.id)
          this.$emit('input', this.selected);
        }
      });

      // Set/Remove Foundation Abide error classes
      $(this.$el)
      .on('invalid.zf.abide', () => $(this.$el).next().addClass('is-invalid-input'))
      .on('valid.zf.abide', () => $(this.$el).next().removeClass('is-invalid-input'));
    },

    beforeDestroy() {
      $(this.$el).select2('destroy');
    }
  }
</script>
