<template>
  <section class="clients">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <span class="show-for-sr">Current: </span> Clients
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>View All Clients</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row align-middle medium-unstack">
        <div class="column medium-order-2 text-right shrink" v-if="this.$auth.check(['admin', 'docket'])">
          <section class="padded">
            <button class="small teal dropdown action button" data-toggle="clients-actions">
              Actions
              <zf-dropdown id="clients-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'addClient'}">
                    Add
                    <i class="oa-plus"></i>
                  </router-link>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>

        <div class="column medium-order-1">
          <input type="search" name="search" placeholder="Search..." v-model="sort.search">
        </div>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-briefcase"></i>
                <p>Clients</p>
              </div>
            </div>

            <button class="dropdown sort gray button" data-toggle="clients-sort">
              <span>
                {{ sort.currentType }}
              </span>
              <zf-dropdown id="clients-sort">
                <ul>
                  <li @click="setSortType(type.id, type.name)" v-for="type in types" :key="type.id">
                    {{ type.name }}
                    <i class="oa-check" v-if="sort.type === type.id"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </div>
          <table
          :class="{'is-loading': loading}"
          class="base table stack table--list unstriped links"
          v-if="clients.length">
            <thead>
              <tr>
                <th class="sortable" @click="setSortOrder('name')">
                  <i
                  v-if="sort.order_by == 'name'"
                  :class="{
                    'oa-arrow-down': sort.order == 'asc',
                    'oa-arrow-up': sort.order == 'desc'
                    }">
                  </i>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Phone
                </th>
                <th>
                  Contact Name
                </th>
              </tr>
            </thead>
            <tbody>
              <router-link
              v-for="client in clients"
              tag="tr"
              :to="{name: 'viewClient', params: { id: client.id }}"
              :key="client.id">
                <td>
                  {{ client.name }}
                  <p style="margin-bottom: 0" v-if="client.dba">
                    <small><span class="bold">DBA:</span> {{ client.dba }}</small>
                  </p>
                </td>
                <td v-text="client.contact_email"></td>
                <td v-text="client.contact_phone"></td>
                <td v-text="client.contact_name"></td>
              </router-link>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !clients.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        clients: [],
        pagination: {},
        types: {},
        sort: {
          type: null,
          search: null,
          order_by: 'name',
          order: 'asc',
          currentType: 'Filter'
        }
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getClients(page);
      },

      // clients: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'allClients'})
      //   }
      // },

      'sort.type': function() {
        this.getClients();
      },

      'sort.search': _.debounce(function(search) {
        if (search.length >=3 || search.length === 0) {
          this.getClients();
        }
      }, 500),

      'sort.order_by': function(value) {
        this.sort.order = 'asc';
      }
    },

    methods: {
      getClients(page) {
        this.$store.commit('setLoading', true);

        this.sort.page = page;

        this.$http.get('/clients', {
          params: this.sort
        })
        .then(({data}) => {
          this.clients = data.clients.data;
          this.types = data.types;
          this.pagination = data.clients;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      setSortType(type, name) {
        this.sort.type = (this.sort.type === type) ? null : type;
        this.sort.currentType = (this.sort.currentType === name) ? 'Filter' : name;
      },

      setSortOrder(column) {
        this.sort.order = this.sort.order == 'asc' ? 'desc' : 'asc';
        this.sort.order_by = column;

        this.getClients();
      },

      goToPage(page) {
        this.$router.push({name: 'allClients', query: {page: page}})
      }
    },

    created() {
      this.getClients(this.$route.query.page);
    }
  }
</script>
