<template>
  <section class="clients add">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allClients'}">Clients</router-link>
            </li>
            <li>
              <router-link :to="{name: 'viewClient', params: { id: client.id }}">View</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Edit
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Edit {{ client.name }}</h1>
        </div>
      </div>
    </header>

    <section class="form">
      <div class="column row">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-profile"></i>
                <p>Image</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <zf-abide @abide-submit.prevent="updateImage">
              <div class="row align-middle align-center medium-unstack">
                <div class="columns shrink text-center">
                  <label for="image" class="button goldenrod">
                    <span >Choose Image</span>
                  </label>
                  <input type="file" id="image" class="hide" @change="attachFile">
                  <span
                  v-text="errors.image"
                  class="form-error form-error--file"></span>
                  <div v-if="tempFile">
                    <hr>
                    <button class="button goldenrod">Submit</button>
                  </div>
                </div>

                <div class="columns shrink text-center">
                  <div
                  class="current-image"
                  :style="{backgroundImage: `url(${tempImagePath})`}"></div>
                </div>
              </div>
            </zf-abide>
          </div>
        </div>

        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-briefcase"></i>
                <p>Client</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <zf-abide @abide-submit.prevent="updateClient">
              <div class="row">
                <div class="large-6 infobar-6 medium-6 small-12 columns">
                  <label for="name">Client Name</label>
                  <input type="text" id="name" v-model="client.name" required>
                  <span
                  v-if="errors.name"
                  v-text="errors.name"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-6 small-12 columns">
                  <label for="dba">DBA (if any)</label>
                  <input type="text" id="dba" v-model="client.dba">
                  <span
                  v-if="errors.dba"
                  v-text="errors.dba"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="number">Client Number</label>
                  <input type="text" id="number" v-model="client.number">
                  <span
                  v-if="errors.number"
                  v-text="errors.number"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="originating_attorney">Originating Attorney</label>
                  <vue-select
                  v-model="client.originating_attorney"
                  id="originating_attorney"
                  required>
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    :key="attorney.id"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="billing_attorney">Billing Attorney</label>
                  <vue-select
                  v-model="client.billing_attorney"
                  id="billing_attorney">
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    :key="attorney.id"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="working_attorney">Working Attorney</label>
                  <vue-select
                  v-model="client.working_attorney"
                  id="working_attorney">
                    <option
                    v-for="attorney in attorneys"
                    :value="attorney.id"
                    v-text="attorney.full_name"
                    :key="attorney.id"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="street_address">Street Address</label>
                  <input type="text" id="street_address" v-model="client.street_address" required>
                  <span
                  v-if="errors.street_address"
                  v-text="errors.street_address"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="city">City</label>
                  <input type="text" id="city" v-model="client.city" required>
                  <span
                  v-if="errors.city"
                  v-text="errors.city"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <div class="row">
                    <div class="large-6 infobar-6 medium-12 small-12 columns">
                      <label for="state">State</label>
                      <input type="text" id="state" v-model="client.state" required>
                      <span
                      v-if="errors.state"
                      v-text="errors.state"
                      class="form-error is-visible"></span>
                    </div>

                    <div class="large-6 infobar-6 medium-12 small-12 columns">
                      <label for="zip">Zip</label>
                      <input type="text" id="zip" v-model="client.zip" required>
                      <span
                      v-if="errors.zip"
                      v-text="errors.zip"
                      class="form-error is-visible"></span>
                    </div>
                  </div>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="originating_attorney">Country</label>
                  <vue-select
                  v-model="client.country"
                  id="country"
                  required>
                    <option
                    v-for="(label, value) in countries"
                    :value="value"
                    v-text="label"
                    :key="value"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="contact_name">Contact Name</label>
                  <input type="text" id="contact_name" v-model="client.contact_name">
                  <span
                  v-if="errors.contact_name"
                  v-text="errors.contact_name"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="contact_phone">Contact Phone</label>
                  <input
                  placeholder="(000) 000-0000"
                  type="text"
                  id="contact_phone"
                  v-model="client.contact_phone">
                  <span
                  v-if="errors.contact_phone"
                  v-text="errors.contact_phone"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="contact_email">Contact Email</label>
                  <input type="email" id="contact_email" v-model="client.contact_email">
                  <span
                  v-if="errors.contact_email"
                  v-text="errors.contact_email"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="billing_phone">Billing Phone</label>
                  <input
                  placeholder="(000) 000-0000"
                  type="text"
                  id="billing_phone"
                  v-model="client.billing_phone">
                  <span
                  v-if="errors.billing_phone"
                  v-text="errors.billing_phone"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="billing_email">Billing Email</label>
                  <input type="email" id="billing_email" v-model="client.billing_email">
                  <span
                  v-if="errors.billing_email"
                  v-text="errors.billing_email"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="details">Details</label>
                  <textarea
                    placeholder="How did you hear about us...?"
                    id="details"
                    v-model="client.details"
                    rows="3">
                  </textarea>
                  <span
                  v-if="errors.details"
                  v-text="errors.details"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        types: [],
        client: {},
        attorneys: [],
        countries: [],
        tempFile: false,
        tempImagePath: '/img/profile-image.jpg',
      }
    },

    watch: {
      id: function() {
        this.tempImagePath = '/img/profile-image.jpg';
        this.getClient();
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      getClient() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/clients/${this.id}/edit`)
        .then(({data}) => {
          this.types     = data.types;
          this.client    = data.client;
          this.attorneys = data.attorneys
          this.countries = data.countries;
          if (this.client.image) {
            this.tempImagePath = this.client.image;
            this.client.image = '';
          }
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      updateClient() {
        this.$store.commit('setLoading', true);

        this.$http.put(`/clients/${this.id}`, this.client)
        .then((res) => {
          this.$toast.success('Client was updated successfully!');
          this.$store.commit('setLoading', false);
          this.$router.push({name: 'viewClient', params: {id: this.id }});
        })
        .catch((res) => this._respondToErrors(res));
      },

      attachFile(event) {
        this.tempImagePath = URL.createObjectURL(event.target.files[0]);
        this.tempFile = event.target.files[0];
      },

      updateImage() {
        let formData = new FormData();

        formData.append('image', this.tempFile);

        this.$http.post(`/clients/${this.id}/image`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then((res) => {
          this.tempFile = false;
          this.client.image = '';
        })
        .catch((res) => this._respondToErrors(res))
      }
    },

    created() {
      this.getClient();
    }
  })
</script>
