<template>
  <section class="clients view" v-if="!loading">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allClients'}">Clients</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> View
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>{{ client.name }}</h1>
        </div>
      </div>
    </header>

    <section class="details">
      <div class="row">
        <div class="small-12 columns text-right">
          <section class="padded"  v-if="$auth.check(['admin', 'docket'])">
            <button class="small teal dropdown action button" data-toggle="client-actions">
              Actions
              <zf-dropdown id="client-actions">
                <ul>
                  <!-- Client Management section -->
                  <router-link
                  v-if="this.$auth.check(['admin', 'docket'])"
                  tag="li"
                  :to="{name: 'editClient', params: { id: client.id }}">
                    Edit
                    <i class="oa-edit"></i>
                  </router-link>

                  <li class="is-delete" @click="deleteClient">
                    Delete
                    <i class="oa-close"></i>
                  </li>

                  <!-- Client Approval/Rejection section -->
                  <li
                  class="divider"
                  v-if="client.type.slug === 'potential-client'">
                  </li>

                  <li
                  @click="approveClient"
                  v-if="client.type.slug === 'potential-client'">
                    Approve
                    <i class="oa-check"></i>
                  </li>

                  <li
                  class="is-delete"
                  @click="rejectClient"
                  v-if="client.type.slug === 'potential-client'">
                    Reject
                    <i class="oa-alert-circle"></i>
                  </li>

                  <!-- Client Number section -->
                  <li
                  class="divider"
                  v-if="(client.type.slug === 'current-client' && client.status === 'docketing')">
                  </li>

                  <router-link
                  v-if="(client.type.slug === 'current-client' && client.status === 'docketing') &&
                  !client.number"
                  tag="li"
                  :to="{name: 'editClient', params: { id: client.id }}">
                    Client No.
                    <i class="oa-plus"></i>
                  </router-link>

                  <!-- Client Data Export section -->
                  <li
                  class="divider"
                  v-if="(client.type.slug === 'current-client' &&
                        client.status === 'exporting') &&
                        (!client.anaqua || !client.imanage)">
                  </li>

                  <li
                  @click="downloadFile('anaqua')"
                  v-if="(client.type.slug === 'current-client' &&
                        client.status === 'exporting' &&
                        !client.anaqua)">
                    Anaqua
                    <i class="oa-document"></i>
                  </li>

                  <li
                  @click="downloadFile('imanage')"
                  v-if="(client.type.slug === 'current-client' &&
                        client.status === 'exporting' &&
                        !client.imanage)">
                    iManage
                    <i class="oa-document"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>
      </div>

      <div class="row even-padding">
        <div class="large-3 infobar-4 medium-4 small-12 columns">
          <div class="panel">
            <div class="panel--header" v-if="client.image">
              <div class="image-box">
                <div
                class="image"
                :style="{backgroundImage: client.image ? `url(${client.image})` : false}"></div>
              </div>
            </div>

            <div class="panel--info">
              <h3 class="bold">Contact Information</h3>

              <div class="info-tag teal" v-if="client.contact_phone || client.billing_phone">
                <p v-if="client.contact_phone">Contact: {{ client.contact_phone }}</p>
                <p v-if="client.billing_phone">Billing: {{ client.billing_phone }}</p>
              </div>

              <div class="info-tag goldenrod" v-if="client.contact_email || client.billing_email">
                <p v-if="client.contact_email">Contact: {{ client.contact_email }}</p>
                <p v-if="client.billing_email">Billing: {{ client.billing_email }}</p>
              </div>

              <div class="info-tag red">
                <p v-if="client.contact_name">{{ client.contact_name }}</p>
                <p>{{ client.billing_address }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="large-9 infobar-8 medium-8 small-12 columns">
          <div class="panel">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-gavel"></i>
                  <p>Attorneys</p>
                </div>
              </div>
            </div>
            <div class="panel--content">
              <p v-if="client.originating_attorney">
                <b>Originating Attorney:</b> {{ client.originating_attorney.full_name }}
              </p>
              <p v-if="client.billing_attorney">
                <b>Billing Attorney:</b> {{ client.billing_attorney.full_name }}
              </p>
              <p v-if="client.working_attorney">
                <b>Working Attorney:</b> {{ client.working_attorney.full_name }}
              </p>
            </div>
          </div>

          <div class="panel" v-if="client.details">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-help"></i>
                  <p>Info</p>
                </div>
              </div>
            </div>
            <div class="panel--content">
              <p>{{ client.details }}</p>
            </div>
          </div>

          <div class="panel" v-if="client.matters.length">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <i class="oa-scale"></i>
                  <p>Matters</p>
                </div>
              </div>
            </div>
            <table class="base table table--list unstriped">
              <tbody>
                <router-link tag="tr" :to="{name: 'viewMatter', params: { id: matter.id }}" v-for="matter in client.matters" :key="matter.id">
                  <td>
                    <p>{{ matter.title }}</p>
                    <small>
                      {{ matter.remarks }}
                    </small>
                  </td>
                  <td class="has-button">
                    <span class="teal icon button">
                      <i class="oa-arrow-right"></i>
                    </span>
                  </td>
                </router-link>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        client: {}
      }
    },

    watch: {
      id: function() {
        this.getClient();
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      getClient() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/clients/${this.id}`)
        .then(({data}) => {
          this.client = data;
          this.$store.commit('setLoading', false)
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      approveClient() {
        swal({
          text: "Are you sure you want to approve this client?",
          icon: "success",
          buttons: true,
          className: 'success',
        })
        .then((confirmApprove) => {
          if (confirmApprove) {
            this.$http.put(`/clients/${this.id}/approve`)
            .then(({data}) => {
              this.$toast.success('Client is now approved for new matter requests!');
              this.client = data;
            })
          }
        });
      },

      rejectClient() {
        swal({
          text: "Are you sure you want to reject this client?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
          className: 'warning',
        })
        .then((confirmApprove) => {
          if (confirmApprove) {
            this.$http.put(`/clients/${this.id}/reject`)
            .then(({data}) => {
              this.$toast.info('Client status has been set to Firm Contact!');
              this.client = data;
            })
          }
        });
      },

      deleteClient() {
        swal({
          text: "Are you sure you want to delete this client?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`/clients/${this.id}`)
            .then(() => {
              this.$toast.success('Client was deleted successfully!');
              this.$router.push({name: 'allClients'});
            })
          }
        });
      },

      downloadFile(service) {
        this.$http.get(`/clients/${this.id}/${service}`, {
          responseType: 'blob'
        })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download',  `client_${this.id}_${service}.csv`);
          link.click();
          window.URL.revokeObjectURL(url);

          this.client[service] = true;
        });
      }
    },

    created() {
      this.getClient()
    }
  }
</script>
