<template>
  <aside
  class="infobar"
  :class="{'is-visible': infoBarVisible}"
  v-if="$auth.check()">
    <nav class="infobar-toggle hide-for-infobar">
      <a @click="toggleInfobar">
        <i class="oa-arrow-right"></i>
      </a>
    </nav>

    <section class="user-info box" :class="{ 'is-active': userMenuOpen }">
      <section class="info-bar">
        <div class="image" :style="{
          backgroundImage: $auth.user().image ? 'url('+$auth.user().image+')' : false
        }" @click="toggleUserMenu"></div>
        <div class="name" @click="toggleUserMenu">
          {{ $auth.user().full_name }}
        </div>
        <div class="actions">
          <i class="oa-angle-down toggle-user-menu" @click="toggleUserMenu"></i>
          <i class="oa-question toggle-help-menu" data-toggle="help-menu" v-show="settings.help_menu"></i>
          <zf-dropdown class="menu-bubble" id="help-menu" :options="{ vOffset: 10, hOffset: -16 }">
            <header>
              Need some help?
            </header>

            <section v-html="settings.help_menu"></section>
          </zf-dropdown>

          <i :class="{'has-notifications': hasNotifications}"
          class="oa-notification toggle-notifications-menu"
          data-toggle="notifications-menu"></i>
          <zf-dropdown class="menu-bubble" id="notifications-menu" :options="{ vOffset: 10, hOffset: -16 }">
            <header>
              Notifications
            </header>

            <section class="list" v-if="hasNotifications">
              <router-link v-for="evaluation in $auth.user().self_evaluations"
              :key="evaluation.id"
              :to="{name: 'selfEvaluation', params: {id: evaluation.id}}">
                <i class="oa-angle-right"></i>
                <span>
                  Complete Self Evaluation
                </span>
              </router-link>

              <router-link v-for="evaluation in $auth.user().employee_evaluations"
              :key="evaluation.id"
              :to="{name: 'groupEvaluation', params: {id: evaluation.id}}">
                <i class="oa-message"></i>
                <span>
                  Evaluation for {{ evaluation.employee.full_name }}
                </span>
              </router-link>

              <router-link v-for="evaluation in $auth.user().evaluation_reviews"
              :key="evaluation.id"
              :to="{name: 'reviewEvaluation', params: {id: evaluation.id}}">
                <i class="oa-angle-right"></i>
                <span>
                  Review Your Evaluation
                </span>
              </router-link>

              <router-link
              v-if="$auth.user().approvable_shoutouts > 0"
              :to="{name: 'shoutOuts'}">
                <i class="oa-angle-right"></i>
                <span>
                  <b>{{ $auth.user().approvable_shoutouts }}</b> Shoutout(s) Need Approval
                </span>
              </router-link>
            </section>

            <section v-else>
              No Notifications
            </section>
          </zf-dropdown>
        </div>
      </section>

      <ul class="icon menu vertical user-menu" style="display:none">
        <li>
          <router-link :to="{ name: 'viewPerson', params: {id: $auth.user().id} }">
            <i class="oa-watch"></i>
            View Profile
          </router-link>
        </li>

        <li>
          <router-link :to="{ name: 'editPerson', params: {id: $auth.user().id} }">
            <i class="oa-edit"></i>
            Edit Profile
          </router-link>
        </li>

        <li>
          <a @click="logout">
            <i class="oa-logout"></i>
            Logout
          </a>
        </li>
      </ul>
    </section>

    <section class="search box">
      <div class="search-field">
        <form>
          <input type="search" placeholder="Search..." v-model="search">
        </form>
      </div>
    </section>

    <section class="search-results box" v-if="searchResults.length">
      <div v-for="resource in searchResults" v-if="resource.results.length">
        <span class="title">{{ resource.title }}</span>
        <ul class="menu dotted vertical">
          <li v-for="item in resource.results">
            <router-link :to="{name: resource.route, params: {id: item.id}}" v-if="resource.route">
              {{ item[resource.property] }}
            </router-link>

            <a :href="item.path" target="_blank" v-else>
              {{ item[resource.property] }}
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="quick-links box" v-if="$auth.user().quick_links.length">
      <span class="title">
        Quick Links
        <router-link :to="{ name: 'editPerson', params: {id: $auth.user().id} }">
          <i class="oa-edit"></i>
        </router-link>
      </span>

      <ul class="menu dotted vertical">
        <li v-for="link in $auth.user().quick_links">
          <a :href="'//'+link.link" target="_blank">{{ link.name }}</a>
        </li>
      </ul>
    </section>

    <section class="faqs box" v-if="settings.faqs && settings.faqs.length">
      <span class="title">How Do I...?</span>
      <div class="panel">
        <ul class="vertical line menu">
          <li v-for="(faq, i) in activeFaqs" :key="i">
            <a href="#" :data-toggle="`faq-${i}`">{{ faq.question }}</a>

            <zf-dropdown class="menu-bubble full" :id="`faq-${i}`">
              <section>
                {{ faq.answer }}
              </section>
            </zf-dropdown>
          </li>
          <li class="inactive" v-if="settings.faqs && settings.faqs.length != activeFaqs.length && settings.faqs.length > 3" @click="getActiveFaqs"><a>Show more</a></li>
        </ul>
      </div>
    </section>
  </aside>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';

  export default {
    data() {
      return {
        search: '',
        searchResults: [],
        activeFaqs: []
      }
    },

    watch: {
      search(query) {
        this.getSearchResults(query);
      },

      'settings.faqs': function() {
        this.activeFaqs = [];
        this.getActiveFaqs();
      },
      hasNotifications(notifications) {
        if (notifications) {
          this.showMenuIfNotifications();
        }
      }
    },

    computed: {
      ...mapState(['userMenuOpen', 'infoBarVisible', 'settings']),

      hasNotifications() {
        return this.$auth.check() && (
          this.$auth.user().self_evaluations.length ||
          this.$auth.user().employee_evaluations.length ||
          this.$auth.user().approvable_shoutouts > 0
        );
      }
    },

    methods: {
      ...mapMutations(['toggleUserMenu', 'toggleInfobar']),

      getSearchResults: _.debounce(function(query) {
          if (query.length >= 3) {
            this.$http.post('search', {search: this.search})
              .then(res => this.searchResults = res.data);
          }

          if (query.length === 0) {
            this.searchResults = [];
          }
      }, 500),

      getActiveFaqs() {
        let start = this.activeFaqs.length;
        let end = start == 0 ? 3 : start + 3;

        let next = [];

        if (!this.settings.faqs) {
          return;
        }

        next = this.settings.faqs.slice(start, end);

        this.activeFaqs = [...this.activeFaqs, ...next];
      },

      logout() {
        swal({
          text: "Are you sure you want to logout?",
          icon: "info",
          buttons: true,
          dangerMode: true,
          className: 'info',
        })
        .then((confirmLogout) => {
          if (confirmLogout) {
            this.searchResults = '';
            this.search = '';
            this.$toast.destroy();
            this.toggleUserMenu();
            this.$auth.logout({
              makeRequest: true,
              redirect: '/login'
            });
          }
        });
      },

      showMenuIfNotifications() {
        if (this.hasNotifications) {
          this.$nextTick(() => $('#notifications-menu').foundation('open'));
        }
      }
    },

    mounted() {
      setInterval(() => {
        let notification = this.hasNotifications;
        this.$auth.fetch({
          success: () => {
            if (notification < this.hasNotifications) {
              this.showMenuIfNotifications();
            }
          }
        });
      }, 60000);
    }
  }
</script>
