<template>
  <nav
  class="navbar"
  v-on:department-added="this.getNavBarItems()"
  :class="{'is-visible': navBarVisible}"
  v-if="$auth.check()">
    <ul>
      <router-link class="logo show-for-medium" tag="li" :to="{name: 'dashboard'}" exact>
        <a><oa-logo></oa-logo></a>
      </router-link>

      <router-link tag="li" :to="{ name: 'dashboard' }" exact>
        <a>
          <i class="oa-home"></i>
          Home
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'addMatter' }" v-if="$auth.check(['admin', 'marketing', 'user'])">
        <a>
          <i class="oa-clipboard"></i>
          Requests
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'allClients' }">
        <a>
          <i class="oa-briefcase"></i>
          Clients
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'allMatters' }">
        <a>
          <i class="oa-scale"></i>
          Matters
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'allPeople' }">
        <a>
          <i class="oa-profile"></i>
          People
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'allEvaluations' }" v-if="$auth.check(['admin', 'hr'])">
        <a>
          <i class="oa-message"></i>
          Evaluations
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'allArticles' }">
        <a href="#">
          <i class="oa-article"></i>
          News &amp; Events
        </a>
      </router-link>

      <li
      :class="{ 'is-active': isActiveRoute('resources') }"
      class="has-submenu">
        <a>
          <i class="oa-folders"></i> Resources
        </a>

        <ul class="menu dotted vertical" style="display:none">
          <router-link
          v-for="resource in resources"
          :key="resource.id"
          tag="li"
          :to="{ name: 'allResources', params: { resource: resource.slug }}">
            <a href="#">{{ resource.name }}</a>
          </router-link>
        </ul>
      </li>

      <li
      v-if="$auth.check(['admin', 'hr', 'marketing'])"
      :class="{ 'is-active': isActiveRoute('settings') }"
      class="has-submenu">
        <a>
          <i class="oa-settings"></i> Settings
        </a>
        <ul class="menu dotted vertical" style="display:none">
          <router-link tag="li" :to="{ name: 'general' }">
            <a href="#">General</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'announcements' }">
            <a href="#">Announcements</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'shoutOuts' }">
            <a href="#">Shout Outs</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'locations' }">
            <a href="#">Locations</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'departments' }">
            <a href="#">Departments</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'categories' }">
            <a href="#">Categories</a>
          </router-link>
        </ul>
      </li>
    </ul>

    <img src="/img/mabr-logo.svg" alt="MABR" class="bottom-logo">
  </nav>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    computed: {
      ...mapState(['navBarVisible', 'resources']),

      isAuth() {
        return this.$auth.check();
      }
    },

    watch: {
      isAuth(isAuth) {
        if (isAuth)
          this.refreshResources();
      }
    },

    methods: {
      ...mapActions(['refreshResources']),

      isActiveRoute(parent) {
        let route = this.$route.path;
        return route.includes(parent);
      }
    },

    mounted() {
      this.refreshResources();

      // Toggle active nav menu item
      $(document).on('click', 'nav.navbar > ul > li > a', function() {
        let item       = $(this).parent();
        let subMenus   = $('nav.navbar > ul > li.has-submenu > ul.menu');
        let activeItem = $('nav.navbar > ul > li.is-active');

        if ($('ul.menu', activeItem).length) {
          activeItem.removeClass('is-active');
          $('ul.menu', activeItem).slideUp();
        } else {
          activeItem.removeClass('is-active');
        }

        subMenus.slideUp();

        item.addClass('is-active');
        if ($('ul.menu', item).length) {
          $('ul.menu', item).slideDown();
        }
      });
    }
  }
</script>
