<template>
  <nav>
    <div
    class="infobar-toggle hide-for-infobar"
    v-if="$auth.check()">
      <a @click="toggleInfobar">
        <i class="oa-arrow-left"></i>
      </a>
    </div>

    <div
    class="title-bar show-for-small-only"
    v-if="$auth.check()">
      <div class="title-bar-left">
        <router-link class="logo" :to="{name: 'dashboard'}">
          <oa-logo></oa-logo>
        </router-link>
      </div>

      <div class="title-bar-right">
        <ul class="menu">
          <li class="nav-icon" @click="toggleNavbar">
            <div class="bar"></div>
          </li>

          <li class="info-icon" @click="toggleInfobar">
            <a>
              <i class="oa-arrow-left"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  import { mapMutations } from 'vuex';

  export default {
    methods: {
      ...mapMutations(['toggleInfobar', 'toggleNavbar'])
    }
  }
</script>
