// Breadcrumbs
ul.breadcrumbs {
  li {
    &:not(:last-child) {
      &::after {
        content: $oa-next;
        font-family: 'office-action';
        font-size: rem-calc(5);
        color: $teal;
      }
    }
  }
}
