.button {
  transition: .125s;
  font-weight: bold;

  &:not(.dropdown) {
    @extend .hollow;
    min-width: rem-calc(140);

    &.large {
      min-width: rem-calc(185);
    }

    &.small {
      min-width: rem-calc(100);
    }

    @each $button, $color in $foundation-palette {
      &.hollow.#{$button} {
        &:hover {
          color: $white;
          border-color: $color;
          background: $color !important;
        }

        &.hover-text-teal {
          &:hover {
            color: $teal;
          }
        }

        &.hover-text-red {
          &:hover {
            color: $red;
          }
        }

        &.hover-text-goldenrod {
          &:hover {
            color: $goldenrod;
          }
        }

        &.hover-text-slate {
          &:hover {
            color: $slate;
          }
        }
      }
    }
  }

  &.dropdown {
    border: 2px solid transparent !important;
    position: relative;

    &,&:hover, &:focus {
      color: $white;
    }

    &.action,
    &.sort {
      padding-right: 1.5rem;
      text-align: left;

      &::after {
        font-family: 'office-action';
        margin-left: .75rem;
        border: none;
      }
    }

    &.action {
      min-width: rem-calc(88);

      &::after {
        content: $oa-angle-down;
        font-size: rem-calc(9);
        top: .05rem;
      }
    }

    &.sort {
      width: rem-calc(185);
      font-weight: normal;
      padding-left: 1.5rem;
      margin-left: .5rem;
      position: relative;

      > span {
        white-space: nowrap;
        overflow-y: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
        display: block;
      }

      .dropdown-pane {
        border-radius: 0 0 rem-calc(23.5) rem-calc(23.5);

        ul {
          li {
            font-size: rem-calc(13);
            padding: .8125rem .75;
          }
        }
      }

      &::after {
        content: $oa-sort;
        font-size: rem-calc(15);
        position: absolute;
        top: .8rem;
        right: 1.25em;
      }
    }

    &[aria-expanded="true"] {
      z-index: 1;

      &::before {
        content: '';
        width: calc(100% + 4px);
        height: 50%;
        background: inherit;
        bottom: -2px;
        left: -2px;
        z-index: -1;
        position: absolute;
      }
    }

    .dropdown-pane {
      background: inherit;
      width: calc(100% + 4px);
      max-height: 300px;
      overflow: scroll;

      ul {
        @include menu-base;
        flex-direction: column;

        li {
          padding: 1rem 1rem;
          transition: .125s;
          font-size: 0.9375rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          transition: .125s;
          line-height: 1;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.selected {
            background: $white;
            color: $medium-gray;

            &::after {
              display: none;
            }

            + li {
              &::after {
                display: none;
              }
            }
          }

          &:hover:not(.selected) {
            background: rgba($white, .25);
            &::after {
              display: none;
            }

            + li {
              &::after {
                display: none;
              }
            }
          }

          &.is-delete {
            &:hover {
              background: $red;
            }
          }

          i {
            margin-left: .5rem;
          }

          &::after {
            content: '';
            position: absolute;
            width: 90%;
            height: 1px;
            background: rgba($white, .25);
            top: 1px;
            left: 0;
          }

          &.divider {
            padding: .125rem !important;
            background: rgba($white, .5);

            &::after {
              display: none;
            }

            + li {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    &.small {
      .dropdown-pane {
        ul {
          li {
            padding: .75rem .75rem;
            font-size: rem-calc(11);

            &.selected {
              color: $teal;
            }

            &.has-link {
              padding: 0;

              a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .75rem;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  &.icon {
    min-width: rem-calc(38);
    width: rem-calc(38);
    height: rem-calc(38);
    padding: 0;
    position: relative;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &.is-invalid-label {
    @extend .red;
  }
}

.button-group {
  .button {
    min-width: rem-calc(100);

    &:not(:first-child) {
      margin-left: .5rem;
    }
  }
}
