form {
  .vdp-datepicker {
    &.right {
      .vdp-datepicker__calendar {
        right: 0;
      }
    }

    &__calendar {
      z-index: 1001;
      background: $light-slate;
      border: 2px solid $teal;

      span.cell {
        border: none !important;
        &:hover:not(.disabled):not(.blank) {
          background: $slate;
        }

        &.disabled {
          color: $sealgray;
        }

        &.today {
          background: $teal;
        }

        &.selected {
          background: $slate;
        }
      }

      header {
        span {
          &:hover {
            background: $slate !important;
          }
        }

        span.prev {
          &::after {
            border-right-color: $teal;
          }
        }

        span.next {
          &::after {
            border-left-color: $teal;
          }
        }
      }
    }
  }
}
