// UI Dots

.ui-dots {
  span {
    display: inline-block;
    width: rem-calc(6);
    height: rem-calc(6);
    background: gray;
    border-radius: 100%;
    margin: 0 .125rem;

    &.teal {
      background: $teal;
    }

    &.goldenrod {
      background: $goldenrod
    }

    &.red {
      background: $red;
    }
  }
}
