.vue-dropzone {
  border: 2px dashed $sealgray;
  background: $light-slate;
  min-height: auto;
  margin-bottom: 1rem;
  border-radius: rem-calc(23.5);
  padding: 1.25rem;

  .dz-message {
    color: $white;
    font: {
      size: rem-calc(13);
      weight: bold;
    }
  }

  .dz-preview {
    margin: .5rem;

    .dz-success-mark,
    .dz-error-mark {
      top: 25%;
    }

    .dz-progress {
      .dz-upload {
        background: $teal;
      }
    }

    .dz-image {
      width: rem-calc(100);
      height: rem-calc(100);

      &.dz-image {
        border-radius: 0;
      }
    }

    .dz-details {
      background: $slate;
    }

    &:hover {
      .dz-details {
        background-color: rgba($teal, .6);
      }
    }
  }

  &:hover {
    border-color: $teal;
    background: transparent;
  }
}
