footer.main-footer {
  margin-top: 3rem;

  .footer-content {
    @include breakpoint(medium) {
      &.address {
        border-right: 1px solid $sealgray;
      }
    }

    &.address {
      .block {
        margin-bottom: 1rem;
      }
    }

    .heading {
      display: flex;
      align-items: center;
      margin-bottom: .75rem;

      i {
        color: $goldenrod;
        font-size: 1.25rem;
        margin-right: .5rem;
      }

      font: {
        weight: bold;
        size: rem-calc(13);
      }
    }

    .block {
      span {
        display: block;
        margin-bottom: .75rem;
        font: {
          size: rem-calc(11);
        }
      }
    }

    .actions {
      margin-top: 1.5rem;

      .count {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-weight: bold;

        a {
          line-height: 1;

          &:hover {
            i {
              border-radius: rem-calc(16);
              background: rgba($teal, .2);
            }
          }

          i {
            transition: .125s;
            padding: .5rem;
            color: $teal;
            font-size: .75rem;
            margin-left: .25rem;
          }
        }
      }

      .button-link {
        padding: .5rem;
        border-radius: rem-calc(16);
        transition: .125s;
        font: {
          size: rem-calc(11);
          weight: bold;
        }

        i {
          color: $teal;
          margin-left: .5rem;
        }

        &:hover {
          background: rgba($teal, .2);
        }
      }
    }
  }

  .copyright-info {
    margin-top: 3rem;
    margin-bottom: 0;
    text-align: center;
    position: relative;

    > span {
      background: $light-gray;
      font-size: rem-calc(11);
      padding: 0 1rem;
      font-weight: bold;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      height: 1px;
      width: 100%;
      background: $sealgray;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
