// Switch
.switch {
  &.large {
    .switch-paddle {
      width: 5.5rem;
    }

    input:checked ~ .switch-paddle::after {
      left: 3.25rem;
    }
  }
  .switch-paddle {
    width: 7rem;

    .switch-inactive {
      right: 20%;
    }

    .switch-active {
      left: 20%;
      font-size: 1.125rem;
    }
  }
}

input[name='search'] {
  height: rem-calc(35);
  color: $medium-gray;
  font-weight: bold;

  @include breakpoint(medium) {
    max-width: rem-calc(350);
  }

  &::-webkit-input-placeholder {
    color: $medium-gray;
    font-weight: normal;
  }
  &:-moz-placeholder {
    color: $medium-gray;
    opacity: 1;
    font-weight: normal;
  }
  &::-moz-placeholder {
    color: $medium-gray;
    opacity: 1;
    font-weight: normal;
  }
  &:-ms-input-placeholder {
    color: $medium-gray;
    font-weight: normal;
  }
}

form {
  #{text_inputs()} {
    height: rem-calc(47);
  }

  #{text_inputs()},
  textarea:not(:focus) {
    &.is-invalid-input {
      background-color: transparent;
      color: $white;
    }
  }

  .input-group {
    #{text_inputs()} {
      margin-bottom: 0;
      border-radius: 0 rem-calc(23.5) rem-calc(23.5) 0;
      padding-left: .5rem;
    }

    .input-group-label {
      background: $slate;
      color: $white;
      border: none;
      font-size: rem-calc(13);
    }
  }

  textarea {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .button-box {
    margin-top: 1rem;
  }

  .form-error,
  label {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  small.getting-close {
    font-weight: bold;
    color: $goldenrod;
  }

  span.form-error {
    margin-top: 0;

    &--header {
      display: block;
      text-align: center;
      margin: 0;
      font-size: rem-calc(15);
    }

    &--info {
      text-align: center;
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: 2px solid $red;
    }

    &--file {
      margin: 0;
    }
  }
}
