$icomoon-font-path: '../icons' !default;

$oa-add-user: '\e900';
$oa-alert-circle: '\e901';
$oa-angle-down: '\e902';
$oa-angle-left: '\e903';
$oa-angle-right: '\e904';
$oa-angle-up: '\e905';
$oa-announcement: '\e906';
$oa-arrow-down: '\e907';
$oa-arrow-left: '\e908';
$oa-arrow-right: '\e909';
$oa-arrow-up: '\e90a';
$oa-article: '\e90b';
$oa-attachment: '\e90c';
$oa-bar-chart: '\e90d';
$oa-barcode: '\e90e';
$oa-block: '\e90f';
$oa-briefcase: '\e910';
$oa-calendar-done: '\e911';
$oa-calendar: '\e912';
$oa-chat-square: '\e913';
$oa-chat: '\e914';
$oa-check-bold: '\e915';
$oa-check: '\e916';
$oa-clipboard: '\e917';
$oa-close: '\e918';
$oa-court: '\e919';
$oa-document: '\e91a';
$oa-edit: '\e91b';
$oa-folders: '\e91c';
$oa-gavel: '\e91d';
$oa-heart: '\e91e';
$oa-help: '\e91f';
$oa-home: '\e920';
$oa-logout: '\e921';
$oa-mail: '\e922';
$oa-map-pin: '\e923';
$oa-media: '\e924';
$oa-message: '\e925';
$oa-next: '\e926';
$oa-notification: '\e927';
$oa-plus: '\e928';
$oa-previous: '\e929';
$oa-profile: '\e92a';
$oa-question: '\e92b';
$oa-receipt: '\e92c';
$oa-refresh: '\e92d';
$oa-remove-circle: '\e92e';
$oa-reply: '\e92f';
$oa-scale: '\e930';
$oa-search: '\e931';
$oa-settings: '\e932';
$oa-smile: '\e933';
$oa-sort: '\e934';
$oa-stopwatch: '\e935';
$oa-unlock: '\e936';
$oa-warning: '\e937';
$oa-watch: '\e938';

@font-face {
  font-family: 'office-action';
  src:
    url('#{$icomoon-font-path}/office-action.ttf?ra7vi6') format('truetype'),
    url('#{$icomoon-font-path}/office-action.woff?ra7vi6') format('woff'),
    url('#{$icomoon-font-path}/office-action.svg?ra7vi6#office-action') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="oa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'office-action' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oa-add-user {
  &:before {
    content: $oa-add-user;
  }
}
.oa-alert-circle {
  &:before {
    content: $oa-alert-circle;
  }
}
.oa-angle-down {
  &:before {
    content: $oa-angle-down;
  }
}
.oa-angle-left {
  &:before {
    content: $oa-angle-left;
  }
}
.oa-angle-right {
  &:before {
    content: $oa-angle-right;
  }
}
.oa-angle-up {
  &:before {
    content: $oa-angle-up;
  }
}
.oa-announcement {
  &:before {
    content: $oa-announcement;
  }
}
.oa-arrow-down {
  &:before {
    content: $oa-arrow-down;
  }
}
.oa-arrow-left {
  &:before {
    content: $oa-arrow-left;
  }
}
.oa-arrow-right {
  &:before {
    content: $oa-arrow-right;
  }
}
.oa-arrow-up {
  &:before {
    content: $oa-arrow-up;
  }
}
.oa-article {
  &:before {
    content: $oa-article;
  }
}
.oa-attachment {
  &:before {
    content: $oa-attachment;
  }
}
.oa-bar-chart {
  &:before {
    content: $oa-bar-chart;
  }
}
.oa-barcode {
  &:before {
    content: $oa-barcode;
  }
}
.oa-block {
  &:before {
    content: $oa-block;
  }
}
.oa-briefcase {
  &:before {
    content: $oa-briefcase;
  }
}
.oa-calendar-done {
  &:before {
    content: $oa-calendar-done;
  }
}
.oa-calendar {
  &:before {
    content: $oa-calendar;
  }
}
.oa-chat-square {
  &:before {
    content: $oa-chat-square;
  }
}
.oa-chat {
  &:before {
    content: $oa-chat;
  }
}
.oa-check-bold {
  &:before {
    content: $oa-check-bold;
  }
}
.oa-check {
  &:before {
    content: $oa-check;
  }
}
.oa-clipboard {
  &:before {
    content: $oa-clipboard;
  }
}
.oa-close {
  &:before {
    content: $oa-close;
  }
}
.oa-court {
  &:before {
    content: $oa-court;
  }
}
.oa-document {
  &:before {
    content: $oa-document;
  }
}
.oa-edit {
  &:before {
    content: $oa-edit;
  }
}
.oa-folders {
  &:before {
    content: $oa-folders;
  }
}
.oa-gavel {
  &:before {
    content: $oa-gavel;
  }
}
.oa-heart {
  &:before {
    content: $oa-heart;
  }
}
.oa-help {
  &:before {
    content: $oa-help;
  }
}
.oa-home {
  &:before {
    content: $oa-home;
  }
}
.oa-logout {
  &:before {
    content: $oa-logout;
  }
}
.oa-mail {
  &:before {
    content: $oa-mail;
  }
}
.oa-map-pin {
  &:before {
    content: $oa-map-pin;
  }
}
.oa-media {
  &:before {
    content: $oa-media;
  }
}
.oa-message {
  &:before {
    content: $oa-message;
  }
}
.oa-next {
  &:before {
    content: $oa-next;
  }
}
.oa-notification {
  &:before {
    content: $oa-notification;
  }
}
.oa-plus {
  &:before {
    content: $oa-plus;
  }
}
.oa-previous {
  &:before {
    content: $oa-previous;
  }
}
.oa-profile {
  &:before {
    content: $oa-profile;
  }
}
.oa-question {
  &:before {
    content: $oa-question;
  }
}
.oa-receipt {
  &:before {
    content: $oa-receipt;
  }
}
.oa-refresh {
  &:before {
    content: $oa-refresh;
  }
}
.oa-remove-circle {
  &:before {
    content: $oa-remove-circle;
  }
}
.oa-reply {
  &:before {
    content: $oa-reply;
  }
}
.oa-scale {
  &:before {
    content: $oa-scale;
  }
}
.oa-search {
  &:before {
    content: $oa-search;
  }
}
.oa-settings {
  &:before {
    content: $oa-settings;
  }
}
.oa-smile {
  &:before {
    content: $oa-smile;
  }
}
.oa-sort {
  &:before {
    content: $oa-sort;
  }
}
.oa-stopwatch {
  &:before {
    content: $oa-stopwatch;
  }
}
.oa-unlock {
  &:before {
    content: $oa-unlock;
  }
}
.oa-warning {
  &:before {
    content: $oa-warning;
  }
}
.oa-watch {
  &:before {
    content: $oa-watch;
  }
}
