.input-toggle {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  > input {
    display: none;

    &.is-invalid-input + label {
      .indicator {
        &::before {
          border-color: $red;
        }
      }
    }

    &:checked + label {
      .indicator {
        background: $goldenrod;
        &::after {
          content: $oa-check-bold;
          color: $light-slate;
          opacity: 1;
          font: {
            family: 'office-action';
            size: .75rem;
          }
        }
      }
    }
  }

  > label {
    margin: 0;
    height: $input-toggle-width;
    display: flex;
    align-items: center;

    .indicator {
      width: $input-toggle-width;
      height: $input-toggle-width;
      display: inline-block;
      position: relative;
      border-radius: 50%;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $input-toggle-color;
        border-radius: 100px;
      }

      &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: .25s;
        opacity: 0;
      }
    }

    .input-label {
      margin-left: .75rem;
      margin-right: .25rem;

      &:empty {
        display: none;
      }
    }
  }
}

.input-toggle-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &.inline {
    justify-content: flex-start;
  }

  .input-toggle {
    margin-left: .5rem;
    margin-right: .5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
