// Loading Spiner
.loading {
  text-align: center;
  padding: 2rem 0;
  position: fixed;
  width: rem-calc(200);
  height: rem-calc(200);
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba($white, .8);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  border-radius: rem-calc(23.5);

  svg {
    animation: spin 1.5s linear infinite;
    width: rem-calc(60);
    height: rem-calc(60);

    .cls-1 {
      fill: $teal;
    }

    .cls-2 {
      fill: $goldenrod;
    }

    .cls-3 {
      fill: $red;
    }
  }
}
