// Dotted List
ul.menu.dotted {
  li {
    a {
      padding: .25rem 1rem;
      font-size: rem-calc(11);
      padding-left: 1rem;
      position: relative;

      &::before {
        content: '•';
        position: absolute;
        color: $white;
        left: 0;
      }
    }

    &.bold {
      span {
        color: $goldenrod;
      }
    }

    &.description {
      margin-bottom: 1rem;
      margin-left: 2rem;

      @include breakpoint(medium) {
        max-width: 80%;
      }

      @include breakpoint(large) {
        max-width: 65%;
      }
    }
  }

  &.attachment {
    li {
      a {
        padding-left: 1.5rem;

        &::before {
          content: $oa-attachment;
          font-family: 'office-action';
          color: $teal;
        }
      }
    }
  }
}
