nav.navbar,
aside.infobar {
  position: fixed;
  height: 100vh;
  top: 0;
  background: $slate;
  z-index: 1000;
  overflow: scroll;
}

nav.navbar {
  left: -$navbar-width;
  width: $navbar-width;
  transition: left .375s;
  display: flex;
  flex-direction: column;

  img.bottom-logo {
    display: block;
    width: 40%;
    margin: auto auto 1.5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;

    li {
      &.logo {
        a {
          display: block;
          text-align: center;

          svg {
            fill: $white;
            width: rem-calc(116);
          }
        }
      }

      &:hover,
      &.is-active {
        &:not(.logo) {
          a, span.title {
            background: $goldenrod;

            i {
              color: $white;
            }
          }
        }
      }

      &.is-active {
        ul.menu {
          display: block !important;
        }
      }

      span.title {
        cursor: pointer;
      }

      a, span.title {
        display: flex;
        align-items: center;
        padding: 1rem;
        color: $white;
        font-size: rem-calc(13);

        &,i {
          transition: .125s;
        }

        i {
          font-size: 1rem;
          margin-right: .5rem;
          color: $teal;
          width: rem-calc(18);
          text-align: center;
        }
      }

      ul.menu.dotted {
        li {
          a {
            padding-left: 2rem;

            &::before {
              left: 1.25rem;
            }
          }
          &:last-child {
            a {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  &.is-visible {
    left: 0;
  }

  @include breakpoint(small only) {
    top: $titlebar-height;
  }
}

aside.infobar {
  right: -$infobar-width;
  width: 0;
  transition: .375s;

  &.is-visible {
    width: $infobar-width;
    right: 0;
  }

  ul.dotted.menu {
    margin-left: 1.25rem;

    li {
      a {
        color: $goldenrod;
        transition: .125s;
      }

      &:hover {
        a {
          font-weight: bold;
        }
      }
    }
  }

  nav.infobar-toggle {
    padding-top: 1rem;
    padding-bottom: 0;
    margin: 0 1rem;
    justify-content: flex-start;

    i {
      color: $white;
    }

    @include breakpoint(small only) {
      display: block;

      i {
        font-size: 1.5rem;
      }
    }
  }

  .box {
    margin-left: 1rem;
    margin-right: 1rem;

    &:not(:last-child) {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $light-slate;
    }

    &:first-of-type{
      padding-top: 1rem;
    }

    .title {
      display: inline-block;
      color: $white;
      padding-left: 1.25rem;
      margin-bottom: 1rem;
      @include flex;
      justify-content: space-between;
      align-items: center;
      font: {
        weight: bold;
        size: rem-calc(13);
      }

      i {
        color: $teal;
      }
    }
  }

  section.user-info.box {
    transition: background .125s .3s, margin 0s .35s, padding 0s .35s;

    .info-bar {
      @include flex;
      align-items: center;
    }

    // &.is-active {
    //   transition: background .125s;
    //   margin-left: 0;
    //   margin-right: 0;
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    // }

    .image {
      height: rem-calc(50);
      width: rem-calc(50);
      border-radius: rem-calc(50);
      margin-right: .5rem;
      cursor: pointer;
      background: {
        size: cover;
        position: center center;
        color: $light-gray;
        image: url('../img/profile-image.jpg');
      }
    }

    .name {
      height: rem-calc(50);
      line-height: rem-calc(50);
      cursor: pointer;
      color: $white;
      flex-grow: 1;
      font: {
        size: rem-calc(11);
        weight: bold;
      }
    }

    .actions {
      margin-left: auto;
      color: $white;
      @include flex;
      align-items: center;

      i {
        padding: .375rem;
        cursor: pointer;

        &.toggle-user-menu {
          font-size: .5rem;
        }

        &.toggle-help-menu {
          font-size: .75rem;
        }

        &.toggle-notifications-menu {
          font-size: .875rem;

          &.has-notifications {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 0px;
              right: 4px;
              width: 8px;
              height: 8px;
              background: $red;
              border-radius: 8px;
              box-shadow: 0px 0px 0px 3px rgba($slate, 1);
            }
          }
        }
      }
    }

    ul.icon.menu.user-menu {
      margin-left: 0;
      margin-right: 0;
      padding-top: 1rem;
      li {
        a {
          font-size: rem-calc(11);
          color: $white;
          @include flex;
          align-items: center;
          transition: .125s;

          i {
            font-size: rem-calc(13);
            width: rem-calc(20);
            margin-right: .5rem;
            color: $teal;
          }
        }

        &:hover {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }

  section.search.box {
    padding-bottom: 0;

    .search-field {
      position: relative;
      &::after {
        content: $oa-search;
        font: {
          family: 'office-action';
          size: rem-calc(13);
        }
        color: $teal;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    input {
      margin-bottom: 0;
      border: none;
      padding: 0 1rem 0 0;
      font-size: rem-calc(11);
    }
  }

  section.search-results.box {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 0;

    .resource {
      color: $white;
      text-transform: uppercase;
      font: {
        weight: bold;
        size: rem-calc(15);
      }
    }

    ul.menu {
      margin-bottom: 1rem;
    }
  }

  section.faqs {
    .panel {
      padding: 0;

      ul.line.menu {
        li {
          a {
            padding: 1rem;
            font-size: rem-calc(11);
            color: $white;
            position: relative;
            transition: .125s;
          }

          &.inactive {
            a {
              color: $sealgray;
              position: relative;

              &::after {
                content: $oa-arrow-down;
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
                color: $teal;
                font: {
                  family: 'office-action';
                  size: rem-calc(13);
                }
              }
            }

          }

          &:hover {
            a[href] {
              font-weight: bold;
            }
          }

          &:not(:last-child) {
            a {
              &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 95%;
                height: 1px;
                background: $sealgray;
              }
            }
          }
        }
      }
    }
  }
}

div.infobar-toggle {
  padding-top: 1rem;
  @include flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;

  i {
    color: $teal;
  }

  @include breakpoint(small only) {
    display: none;
  }
}

div.title-bar {
  background: $slate;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0;
  height: $titlebar-height;
  width: 100%;

  .title-bar-left {
    flex-grow: 0;

    .logo {
      display: block;
      @include flex;
      align-items: center;
      padding: 0 1rem;

      svg {
        width: rem-calc(150);
        fill: $white;
      }
    }
  }

  .title-bar-right {
    padding-right: 1rem;

    .menu {
      align-items: center;

      $bar-width: 30px;
      $bar-height: 3px;
      $bar-spacing: 11px;
      $bar-color: $white;
      $transition-speed: .25s;

      li.nav-icon {
        width: $bar-width;
        height: $bar-height + $bar-spacing*2;
        cursor: pointer;
        position: relative;
        margin-left: auto;

        .bar {
          transform: translateY($bar-spacing);
          background: $bar-color;
          width: $bar-width;
          height: $bar-height;
          transition: all .125s;
          border-radius: 5px;

          &.is-active {
            background: transparent;
          }

          &::before,
          &::after {
            content: '';
            background: $bar-color;
            width: 100%;
            height: $bar-height;
            position: absolute;
            left: 0;
            border-radius: 5px;
          }

          &::before {
            bottom: $bar-spacing;
            transition: bottom $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
          }

          &::after {
            top: $bar-spacing;
            transition: top $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
          }

          &.is-active {
            &::before {
              bottom: 0;
              width: $bar-width;
              transform: rotate(-45deg);
              transition: bottom $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
            }

            &::after {
              top: 0;
              transform: rotate(45deg);
              transition: top $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
            }
          }
        }
      }

      li.info-icon {
        margin-left: 1rem;

        a {
          font-size: 1.5rem;
          color: $white;
          padding: 0;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

@include breakpoint(small only) {

}

@include breakpoint(medium) {
  nav.navbar {
    left: 0;
  }
}

@include breakpoint($infobar-breakpoint) {
  aside.infobar {
    right: 0;
    width: $infobar-width;
  }
}

// Menu Bubble
.dropdown-pane.menu-bubble {
  background: $white;
  color: $black;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  border-radius: rem-calc(16);
  overflow-x: hidden;
  width: 90%;
  right: 0 !important;
  left: 5% !important;

  &.full {
    width: 100%;
    left: 0 !important;
  }

  header {
    padding: 1.25rem 0;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 95%;
      background: $light-slate;
      opacity: .25;
    }
  }

  section {
    text-align: center;
    padding: 1.25rem;
    font-size: rem-calc(11);

    a {
      color: $teal;
    }

    &.list {
      text-align: left;
      padding: 0;

      a {
        padding: 1.25rem .25rem;
        display: flex;
        align-items: center;
        transition: .125s;
        position: relative;

        i {
          position: absolute;
          left: 1rem;
          padding: 0;
        }

        &:not(:last-child) {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 95%;
            background: $light-slate;
            opacity: .25;
          }
        }

        &:hover {
          background: $teal;
          color: $white;

          &::after {
            display: none;
          }
        }

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 3rem;
        }
      }
    }
  }
}
