// Pagination
ul.pagination {
  li {
    &:not([class^="pagination-"]) {
      min-width: rem-calc(40);
      text-align: center;
    }

    &.current {
      font-weight: bold;
    }

    &:hover {
      a {
        color: $teal;
      }
    }

    &.pagination {
      &-next {
        &,a {
          padding: 0;

          &::after {
            font-size: rem-calc(24);
            position: relative;
            top: 2px;
          }
        }
      }

      &-previous {
        &,a {
          padding: 0;

          &::before {
            font-size: rem-calc(24);
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}
