.panel {
  background: $light-slate;
  border-radius: rem-calc(16);
  margin-bottom: 1rem;

  &.separators {
    .panel--content {
      position: relative;

      &::after {
        content: '';
        width: 95%;
        height: 3px;
        background: $sealgray;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .panel--content {
      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }

  &--header {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;

    @include breakpoint(small only) {
      flex-direction: column;
      align-items: flex-start;

      .heading {
        margin-bottom: 1rem;
      }
    }

    &.border-bottom {
      position: relative;
      padding-bottom: 1rem;

      &::after {
        content: '';
        position: absolute;
        width: 95%;
        height: 2px;
        background: $sealgray;
        bottom: 0;
        left: 0;
      }
    }

    .title {
      flex-grow: 1;
    }

    .heading {
      @include flex;
      align-items: center;

      p {
        margin-bottom: 0;
        font-size: rem-calc(18);
        color: $white;
      }

      i {
        color: $goldenrod;
        font-size: rem-calc(25);
        margin-right: 1rem;
        width: rem-calc(30);
        text-align: center;
      }

      span.number-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        background: $goldenrod;
        color: $light-slate;
        border-radius: 100px;
        font: {
          size: 1.5rem;
          weight: bold;
        }
      }
    }

    .subheading {
      color: $white;
      margin-top: 1.5rem;

      h4 {
        margin-bottom: 0;
      }

      p {
        color: $goldenrod;
      }

      span {
        color: $white;
      }
    }

    button.button {
      margin-bottom: 0;
    }
  }

  &--content {
    color: $white;
    margin-top: 1rem;
    padding: 0 1rem 1rem;
    // overflow-x: hidden;
    // text-overflow: ellipsis;

    ul.menu.dotted {
      li {
        a {
          color: $white;
          font-size: 1rem;
        }
      }
    }

    &.no-padding {
      padding: 0;
    }
  }

  &--footer {
    padding: 0 1rem 1rem;
    @include flex;

    .button {
      margin-left: auto;
    }
  }

  &--info {
    padding: 1rem 0 2rem 0;

    h3 {
      padding: 1rem 1.5rem;
      font-weight: bold;
      color: $white;
    }

    .info-tag {
      position: relative;
      padding-left: 5rem;
      min-height: rem-calc(52);
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
        color: $white;
        font: {
          size: rem-calc(15);
        }
      }

      hr {
        margin: .5rem 0;
      }

      &::before {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        height: rem-calc(52);
        border-radius: 0 rem-calc(16) rem-calc(16) 0;
        font: {
          family: 'office-action';
          size: 1.25rem;
        }
      }

      &.teal {
        &::before {
          content: $oa-chat;
          background: $teal;
        }
      }

      &.goldenrod {
        &::before {
          content: $oa-mail;
          background: $goldenrod;
        }
      }

      &.red {
        &::before {
          content: $oa-map-pin;
          background: $red;
        }
      }
    }
  }

  @include breakpoint(medium) {
    &--header {
      padding: 2rem;
    }

    &--content,
    &--footer {
      padding: 0 2rem 2rem;
    }
  }
}
