.reveal {
  &.modal {
    padding: 3rem 0;
    color: $white;

    button.close-button {
      color: $white;
      font-size: 2.5rem;
      font-weight: bold;
    }

    header {
      text-align: center;

      i {
        font-size: 3rem;
      }

      h3 {
        font-size: rem-calc(25);
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }
    section {
      margin-top: 1.5rem;
      padding: 0 1rem;

      h3 {
        margin-bottom: 1.5rem;
      }

      form {
        padding: 0 1rem;

        #{text_inputs()},
        textarea {
          border-color: $white;

          &.is-invalid-input {
            border-color: $red;
          }

          &::-webkit-input-placeholder {
            color: $white;
          }
          &:-moz-placeholder {
            color: $white;
            opacity: 1;
          }
          &::-moz-placeholder {
            color: $white;
            opacity: 1;
          }
          &:-ms-input-placeholder {
            color: $white;
          }
        }

        .select2-container--default {
          .select2-selection--single {
            border-color: $white;

            &[aria-expanded="true"] {
              border-color: $white;

              .select2-selection {
                &__arrow {
                  &::after {
                    color: $white;
                  }
                }
              }
            }

            .select2-selection {
              &__rendered {
                color: $white;
              }

              &__arrow {
                &::after {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }

    &.info {
      background: $teal;
    }

    &.error {
      background: $red;
    }

    @include breakpoint(medium) {
      max-width: 90vw;

      section {
        form {
          padding: 0 3rem;
        }
      }
    }

    @include breakpoint(large) {
      section {
        form {
          padding: 0 7rem;
        }
      }
    }
  }
}

.m-bottom-2 {
  margin-bottom: 2rem;
}
