.select2-container--default {
  margin-bottom: 1rem;

  &.is-invalid-input {
    background: transparent;

    .select2-selection--single {
      border-color: $red;

      .select2-selection {
        &__arrow {
          &::after {
            color: $red;
          }
        }
      }
    }
  }

  &.select2-container--focus {
    .select2-selection--multiple,
    .select2-selection--single {
      border: 2px solid $teal;
    }
  }

  .select2-selection--multiple {
    background-color: transparent;
    border-radius: 23.5px;
    border: 2px solid $medium-gray;

    .select2-selection {
      &__rendered {
        padding: 1rem;

        .select2-search {
          input {
            margin-bottom: 0;
            margin-top: 0;
            height: rem-calc(40);
            margin-top: 5px;
            font-size: rem-calc(13);
          }
        }
      }

      &__choice {
        background: $light-slate;
        border-color: $sealgray;
        border-radius: 50px;
        border-width: 2px;
        font-size: rem-calc(13);
        padding: .5rem .5rem .5rem 1rem;
        display: flex;

        span {
          order: 2;
          color: $teal;
          margin-left: .5rem;

          &:hover {
            color: $teal;
          }
        }
      }
    }
  }

  .select2-selection--single {
    background-color: transparent;
    border: 2px solid $medium-gray;
    border-radius: 23.5px;
    height: rem-calc(47);
    transition: border-color .125s;

    &[aria-expanded="true"] {
      border-color: $teal;

      .select2-selection {
        &__arrow {
          &::after {
            transform: translateY(-50%) rotate(-180deg);
            color: $teal;
          }
        }
      }
    }

    .select2-selection {
      &__rendered {
        line-height: rem-calc(43);
        color: $white;
        font-size: rem-calc(13);
        padding: 0 1.5rem;
        text-transform: capitalize;
      }

      &__placeholder {
        color: $white;
      }

      &__arrow {
        height: rem-calc(43);
        right: 1.5rem;
        top: 2px;

        &::after {
          content: $oa-angle-down;
          font-family: 'office-action';
          font-size: rem-calc(11);
          color: $medium-gray;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: .25s;
        }

        b {
          display: none;
        }
      }
    }
  }
}

.select2-container--default {
  .select2-dropdown {
    border-color: $teal;
    border-width: 2px;
    overflow: hidden;
    border-radius: rem-calc(23.5);

    &--above {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--below {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .select2-search {
      // display: none;

      &--dropdown {
        background: $light-slate;

        input {
          border: 2px solid $teal;
          height: rem-calc(37);
          margin: .5rem 0;
          padding-left: 1rem;
        }
      }
    }

    .select2-results {
      &__option {
        background: $light-slate;
        color: $white;
        padding: .75rem 1.5rem;
        font-size: rem-calc(13);
        text-transform: capitalize;

        &[aria-selected="true"] {
          background: $slate;
        }

        &--highlighted {
          background: $teal;
        }
      }
    }

    &.is-modal {
      border-color: $white;

      &.info {
        .select2-results {
          &__option {
            background: $teal;

            &[aria-selected="true"] {
              background: rgba($teal, .65);
            }

            &--highlighted {
              background: rgba($teal, .65);
            }
          }
        }
      }

      &.error {
        .select2-results {
          &__option {
            background: $red;

            &[aria-selected="true"] {
              background: rgba($red, .65);
            }

            &--highlighted {
              background: rgba($red, .65);
            }
          }
        }
      }
    }
  }
}
