.swal {
  &-modal {

  }

  &-footer {
    // text-align: center;
  }

  &-text {
    text-align: center;
  }

  &-icon {
    &--success {
      border-color: $teal;

      &__line {
        background: $teal;
      }

      &__ring {
        border-color: rgba($teal, .2);
      }
    }
  }

  &-button {
    border-radius: rem-calc(23.5);
    background: transparent;
    transition: .125s;
    min-width: initial;

    &--cancel {
      border: 2px solid $sealgray;

      &:hover {
        color: $white;
        background: $sealgray;
      }
    }

    &--confirm {
      border: 2px solid $teal;
      color: $teal;
    }

    &--danger {
      border: 2px solid $red;
      color: $red;

      &:hover {
        background: $red;
        color: $white;
      }
    }
  }
}
