table.base {
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  @extend .hover;

  &.is-loading {
    opacity: .5;
  }

  thead {
    tr {
      &,&:hover {
        background: $light-slate !important;
      }

      th {
        vertical-align: middle;

        &.sortable {
          cursor: pointer;
        }

        i {
          font-size: .5rem;
          opacity: .5;
        }
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid #A0A8B1;
      font-size: rem-calc(13);
      cursor: pointer;

      &.divider {
        td {
          padding: .5rem 2rem;
          background: darken($table-background, $table-hover-scale * 1.75);
        }
      }

      td {
        color: $white;

        &.has-button {
          white-space: nowrap;
          text-align: right;

          a.button {
            display: inline-block;
          }
        }

        @include breakpoint(medium) {
          &.has-button {
            width: 1px;
          }
        }

        a {
          display: block;

          &,&:hover {
            color: $white;
          }

          &:not(:first-child) {
            margin-left: .5rem;
          }
        }

        &.image {
          width: 1px;
          white-space: nowrap;
          text-align: right;

          > div {
            width: rem-calc(50);
            height: rem-calc(50);
            border-radius: 100px;
            background: {
              image: url('../img/profile-image.jpg');
              size: cover;
              position: center center;
            }
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    tr {
      td,th {
        &:first-child {
          padding-left: 2rem;
        }

        &:last-child {
          padding-right: 2rem;
        }
      }
    }
  }


  &.table {
    &--data {
      tbody {
        td {
          padding-top: .875rem;
          padding-bottom: .875rem;
        }
      }
    }
    &--list {
      tbody {
        td {
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
        }
      }
    }

    @include breakpoint(small only) {
      tbody {
        tr {
          td {
            padding-top: .5rem;
            padding-bottom: .5rem;
          }
        }
      }
    }
  }

  &.borders {
    tr {
      td, th {
        &:not(:last-child) {
          border-right: 1px solid #A0A8B1;
        }
      }
    }
  }

  &.links {
    tbody {
      td {
        cursor: pointer;
      }
    }
  }
}


.fc.fc-unthemed table {
  table {
    margin-bottom: 0;
  }
}

.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td,
.fc .fc-row .fc-helper-skeleton td {
  border-color: #ddd !important;
  background: darken($light-slate, 7.5%);
}

.fc-unthemed td.fc-today {
  background: rgba($white, .1) !important;
}

.fc-unthemed .fc-disabled-day {
  background: transparent;
}

.fc-event,
.fc-event-dot {
  background-color: $teal !important;
  border-color: $teal !important;
  // margin: 0 !important;
  // padding: 0 3px;
}

.fc-button {
  @extend .button;
  @extend .teal;

  &.fc-today-button {
    border-radius: 0;
    text-transform: capitalize;
    min-width: 100px;
    border-right: none !important;
    border-left: none !important;
  }

  &.fc-state-disabled {
    &:hover {
      background: transparent !important;
    }
  }
}

.fc-button.fc-state-default.fc-corner-left
.fc-button.fc-state-default.fc-corner-right {
  border-radius: 3.125rem !important;
}

.fc-button.fc-state-default {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.fc-button-group {
  button.fc-button {
    min-width: auto;

    &.fc-prev-button {
      border-radius: 3.125rem 0 0 3.125rem;
    }

    &.fc-next-button {
      border-radius: 0 3.125rem 3.125rem 0;
    }
  }
}
