// Tabs/Accordion
.tabs {
  li {
    &.is-active {
      > a {
        box-shadow: inset 0 -2px 0 0 $teal;
      }
    }

    > a {
      font-weight: bold;
      transition: .125s;
    }

    &:hover {
      > a {
        color: $body-font-color;
      }
    }
  }
}
