<template>
  <form
  data-abide
  novalidate
  @submit="abideSubmit">
    <slot></slot>
  </form>
</template>

<script>
  export default {
    data() {
      return {
        defaultOptions: {}
      }
    },

    methods: {
      abideSubmit($event) {
        let validEvent = 'formvalid.zf.abide';

        $(this.$el)
        .unbind(validEvent)
        .one(validEvent, () => {
          this.$emit('abide-submit', $event)
        })
      }
    },

    props: {
      options: Object
    },

    created() {
      this.defaultOptions = Object.assign(this.defaultOptions, this.options);
    },

    mounted() {
      let elem = new Foundation.Abide($(this.$el), this.defaultOptions);
    },

    beforeDestroy() {
      // $(this.$el).foundation('_destroy');
    }
  }
</script>
