<template>
  <nav aria-label="Pagination" v-if="data.last_page > 1">
    <ul class="pagination">
      <li
      class="pagination-previous"
      :class="{ 'disabled': isCurrent(1) }">
        <span v-if="isCurrent(1)"></span>

        <a
        aria-label="Previous page"
        @click="goToPage(--data.current_page)"
        v-else>
        </a>
      </li>

      <li
      :class="{ 'current': isCurrent(page)}"
      v-for="page in getPages()">
        <span v-if="isCurrent(page)">
          {{ page }}
        </span>

        <a
        @click="goToPage(page)"
        v-else>{{ page }}</a>
      </li>

      <li
      class="pagination-next"
      :class="{ 'disabled': isCurrent(data.last_page) }">
        <span v-if="isCurrent(data.last_page)"></span>

        <a
        aria-label="Next page"
        @click="goToPage(++data.current_page)"
        v-else>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    props: {
      data: {
  			type: Object,
  			default: function() {
  				return {
  					current_page: 1,
  					data: [],
  					from: 1,
  					last_page: 1,
  					next_page_url: null,
  					per_page: 10,
  					prev_page_url: null,
  					to: 1,
  					total: 0,
  				}
  			}
  		}
    },
    methods: {
      goToPage: function(page) {
        if (page === '...') {
  				return;
  			}

        this.$emit('paginate', parseInt(page));
      },

      isCurrent(page) {
        return parseInt(this.data.current_page) == parseInt(page);
      },

      getPages: function() {
  			let current = this.data.current_page,
  				last  = this.data.last_page,
  				delta = 1,
  				left  = current - delta,
  				right = current + delta + 1,
  				range = [],
  				pages = [],
  				l;

  			for (let i = 1; i <= last; i++) {
  				if (i == 1 || i == last || (i >= left && i < right)) {
  					range.push(i);
  				}
  			}

  			range.forEach(function (i) {
  				if (l) {
  					if (i - l === 2) {
  						pages.push(l + 1);
  					} else if (i - l !== 1) {
  						pages.push('...');
  					}
  				}
  				pages.push(i);
  				l = i;
  			});

  			return pages;
  		}
    },
  }
</script>
