<template>
  <div class="reveal modal" :id="id" data-reveal>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        defaultOptions: {
          appendTo: $(this.$root.$el),
          animationIn: 'fade-in',
          animationOut: 'fade-out'
        }
      }
    },

    props: {
      id: {
        type: String,
        required: true
      },
      options: Object
    },

    created() {
      this.defaultOptions = Object.assign(this.defaultOptions, this.options);
    },

    mounted() {
      let elem = new Foundation.Reveal($(this.$el), this.defaultOptions);
    },

    beforeDestroy() {
      $(this.$el).foundation('_destroy').remove();
    }
  }
</script>
