<template>
  <div class="switch large round">
    <input
    class="switch-input"
    :id="id" type="checkbox"
    :name="name"
    :checked="value"
    @change="$emit('input', $event.target.checked)">
    <label class="switch-paddle" :for="id">
      <i class="oa-check switch-active" aria-hidden="true"></i>
      <i class="oa-close switch-inactive" aria-hidden="true"></i>
    </label>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        required: false
      },
      id: {
        type: String,
        required: true
      },
      name: {
        type: String,
        default: function() {
          return this.id
        }
      }
    },
  }
</script>

<style>

</style>
