<template>
  <ul class="accordion"
  data-allow-all-closed="true"
 :data-responsive-accordion-tabs="defaultOptions.responsiveAccordionTabs">
    <slot></slot>
  </ul>
</template>

<script>
  export default {
    data() {
      return {
        defaultOptions: {
          responsiveAccordionTabs: "accordion medium-tabs",
          allowAllClosed: true,
        }
      }
    },

    props: {
      options: Object
    },

    created() {
      this.defaultOptions = Object.assign(this.defaultOptions, this.options);
    },

    mounted() {
      let elem = new Foundation.ResponsiveAccordionTabs($(this.$el), this.defaultOptions);
    },

    beforeDestroy() {
      $(this.$el).foundation('_destroy');
    }
  }
</script>
