section.news-articles {
  .article {
    span.label {
      color: $white;
      border-radius: rem-calc(15);
      margin-left: .5rem;
    }
    .related-attorneys {
      @include flex;

      .image {
        margin-right: 1rem;
        width: rem-calc(120);
        height: rem-calc(120);
        border-radius: 100px;
        background: {
          image: url('../img/profile-image.jpg');
          size: cover;
          position: center center;
        }
      }
    }
  }

  .panel--content {
    .article-entry {
      *:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    ul.dotted.menu {
      li {
        a {
          color: $white;
        }
      }
    }

    .attached-files {
      margin: .5rem 1.5rem;

      ul.dotted.menu {
        li {
          @include flex;
          align-items: center;
          justify-content: space-between;

          i {
            color: $teal;
            font-size: .5rem;
            cursor: pointer;
          }
        }
      }
    }

    &.extra {
      h4 {
        margin: 2rem 0;
      }
    }
  }
}
