main.auth {
  section.form {
    display: flex;
    height: 100vh;

    .form-box {
      background: $slate;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      padding: 3rem rem-calc(15);

      .oa-logo {
        width: rem-calc(288);
        margin-bottom: 2rem;

        svg {
          fill: $white;
        }
      }

      p {
        color: $white;
        font-size: rem-calc(15);

        &.bold {
          font-weight: bold;
          margin-top: auto;
          margin-bottom: 0;
          text-align: center;
          display: flex;
          align-items: flex-end;

          img {
            height: 30px;
            margin-right: 1rem;
          }

          @include breakpoint(small only) {
            flex-direction: column;
            align-items: center;

            img {
              margin: 0;
              margin-top: 1rem;
              order: 2;
            }
          }
        }
      }

      .three-dots {
        margin-top: 2rem;
      }

      form {
        width: 100%;
      }

      a:not(.button),
      p.light {
        color: $white;
        font-size: rem-calc(13);
        font-weight: bold;
      }

      .oauth-login {
        margin-top: 1.5rem;

        .button {
          margin-top: .5rem;
          margin-right: .5rem;

          i {
            margin-left: .25rem;
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    section.form {
      .form-box {
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 50vw;
        min-width: rem-calc(460);

        form {
          width: 80%;
          max-width: rem-calc(460);
        }
      }

      .image {
        flex-grow: 1;
        background: {
          image: url('../img/auth-image.jpg');
          size: cover;
          position: center right;
        }
      }
    }
  }
}
