section.clients {
  section.details {
    .image-box {
      width: 100%;
      margin: 0 auto;
    }

    .image {
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      padding-bottom: 50%;
      height: 0;
      border-radius: 10px;
      background: {
        size: 90%;
        position: center center;
        color: $light-gray;
        repeat: no-repeat;
      }
    }
  }

  section.form {
    .current-image {
      width: rem-calc(200);
      height: rem-calc(200);
      background: {
        size: 90%;
        position: center center;
        repeat: no-repeat;
      }
    }
  }
}
