section.dashboard {
  section.intro {
    margin-bottom: 1rem;

    .welcome {
      @include flex;
      justify-content: flex-end;
      border-radius: rem-calc(16);
      position: relative;
      background: {
        image: url('../img/dashboard-image.jpg');
        size: cover;
        position: bottom center;
      }
    }

    h2 {
      position: absolute;
      font-weight: bold;
      top: 2rem;
      left: 2rem;
      color: $light-gray;
    }

    .panel {
      width: 90%;
      background: rgba($light-slate, .95);
      padding: 1.5rem 0 0 0;
      margin: 7rem auto 3rem auto;

      &--header {
        color: $white;
        padding: 0 2rem;
        font-size: rem-calc(18);
        justify-content: flex-start;
        align-items: center;
        letter-spacing: 1px;

        i {
          margin-right: 1rem;
          color: $goldenrod;
          font-size: 1.75rem;
        }
      }

      .announcements {
        padding: 1rem;
        margin-top: 0;
      }

      &--footer {
        position: relative;
        padding: .75rem 1rem;
        text-align: right;
        display: block;

        a {
          color: $white;
          @include flex;
          align-items: center;
          justify-content: flex-end;

          font: {
            size: rem-calc(13);
            weight: bold;
          }

          i {
            color: $teal;
            margin-left: .5rem;
          }
        }

        &::before {
          content: '';
          position: absolute;
          height: 2px;
          width: 95%;
          background: $sealgray;
          top: 0;
          left: 0;
        }
      }
    }

    @include breakpoint(medium) {
      .panel {
        margin: 7rem 4rem;
        max-width: rem-calc(287);
      }
    }
  }

  section.stats {
    margin-bottom: 1rem;

    @include breakpoint(medium down) {
      margin-bottom: 0;

      .box {
        margin-bottom: 1rem;
      }
    }

    .box {
      padding: 1.5rem;
      background: $teal;
      border-radius: rem-calc(16);
      @include flex;

      &.goldenrod {
        background: $goldenrod;
      }

      &.red {
        background: $red;
      }

      .icon {
        min-width: rem-calc(95);
        min-height: rem-calc(95);
        @include flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $white;
        border-radius: rem-calc(100);
        margin-right: 1rem;

        i {
          color: $white;
          font-size: 2.5rem;
        }
      }

      .stat {
        @include flex;
        flex-direction: column;
        justify-content: center;

        span {
          color: $white;

          &.number {
            font-size: rem-calc(32);
            font-weight: 100;
            margin-bottom: .75rem;
          }

          &.title {
            font-size: rem-calc(15);
            word-break: break-all;
          }
        }
      }
    }
  }
}
