section.evaluations {
  &.group {
    .panel {
      .evaluation-table {
        header {
          padding: 1rem 2rem;
          margin-bottom: 0;
          font: {
            size: rem-calc(18);
          }
        }

        section {
          .title {
            background: lighten($slate, 6%);
            padding: .75rem 2.5rem;

            span {
              font-weight: bold;
            }

            &.scale {
              display: flex;
              justify-content: space-between;
              text-align: center;

              span {
                width: rem-calc(30);
                margin: 0 .5rem;
                text-align: center;
              }
            }
          }

          .question {
            padding: 1rem 2.5rem;
          }

          .score {
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            .input-toggle-group {
              .radio {
                margin: 0 .5rem;
              }
            }
          }
        }

        footer {
          padding: 1rem 2.5rem;
        }
      }
    }
  }
}
