* {
  outline: none;
}

main.view {
  flex-grow: 1;
  min-height: 100vh;
  // overflow: scroll;

  @include breakpoint(small only) {
    &.app {
      padding-top: $titlebar-height;
      margin-top: 2rem;
    }
  }

  &.app {
    @include breakpoint(medium) {
      margin-left: $navbar-width;
      padding: 1rem;
    }

    @include breakpoint($infobar-breakpoint) {
      margin-right: $infobar-width;
      padding: 2rem;
    }

    >section > header {
      margin-bottom: 1rem;

      div.main {
        @include flex;
        align-items: center;
        flex-wrap: wrap;

        h1 {
          margin-bottom: 0;
          font-weight: 100;
        }

        .three-dots {
          margin: 0 1rem;
        }
      }
    }

    section.view {
      .panel--content {
        margin-top: 0;
      }
    }
  }
}

.oa-logo {
  line-height: 0;
}

section.padded {
  padding-bottom: 1rem;

  &--top {
    padding-top: 1rem;
  }

  &--bottom {
    padding-bottom: 1rem;
  }
}

.text-white {
  color: $white;
}

.margin-bottom {
  margin-bottom: 1rem;
}

@include breakpoint(medium) {
  .row.even-padding {
    .columns {
      &:not(:last-child) {
        padding-right: 0;
      }
    }
  }
}

.column,
.columns {
  &.shrink {
    @include breakpoint(medium) {
      flex: 0 0 auto !important;
    }
  }
}

section.list {
  .padded.flex.split {
    .input-toggle {
      margin-bottom: 0;
    }

    label {
      .input-label {
        color: $body-font-color;
      }
    }
  }
}

.inline-options {
  span.select2 {
    margin-bottom: 0;
  }

  p {
    padding: 1rem;
    margin-bottom: 0;
  }
}
