section.people {
  section.details {
    .image-box {
      width: 100%;
      max-width: rem-calc(200);
      margin: 0 auto;
    }

    .image {
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      padding-bottom: 100%;
      height: 0;
      border-radius: 100%;
      background: {
        size: cover;
        position: center center;
        color: $light-gray;
        image: url('../img/profile-image.jpg');
      }
    }

    .column.avatar {
      cursor: pointer;

      .image {
        margin-top: .75rem;
        height: 0px;
        padding-bottom: 100%;
      }

      .name {
        margin-top: .75rem;
        text-align: center;

        font: {
          size: rem-calc(12);
        }
      }
    }
  }

  section.form {
    .current-image {
      margin: 1rem auto;
      width: rem-calc(200);
      height: rem-calc(200);
      border-radius: 100%;
      background: {
        size: cover;
        position: center center;
        color: $light-gray;
      }
    }
  }

  &.add,
  &.edit {
    .input-toggle {
      padding-top: 26px;
    }

    .column.shrink.no-padding {
      padding: 0;
      margin-top: 8px;
    }

    .birthday-picker {
      header {
        display: none;
      }
    }
  }
}
