<template>
  <section class="people add">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allEvaluations'}">Evaluations</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Add
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Add New Evaluation</h1>
        </div>
      </div>
    </header>

    <section class="form">
      <div class="column row">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-briefcase"></i>
                <p>Evaluation</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <zf-abide @abide-submit.prevent="createEvaluation">
              <div class="row">
                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="person_id">Employee</label>
                  <vue-select
                  v-model="evaluation.person_id"
                  id="person_id"
                  required>
                  <option
                  v-for="person in people"
                  :value="person.id"
                  v-text="person.full_name"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="type">Type</label>
                  <vue-select
                  :search="false"
                  v-model="evaluation.type"
                  id="type"
                  required>
                    <option value="1">Adminstrative</option>
                    <option value="2">Litigation</option>
                    <option value="3">Prosecution</option>
                  </vue-select>
                </div>

                <div class="large-12 infobar-12 medium-12 small-12 columns">
                  <label for="contributors">Evaluators</label>
                  <vue-select
                  :options="{multiple: true}"
                  v-model="evaluation.contributors"
                  id="contributors"
                  required>
                    <option
                    v-for="person in people"
                    :value="person.id"
                    v-text="person.full_name"></option>
                  </vue-select>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="period_start">Period Start</label>
                  <vue-datepicker ref="datepicker"
                  id="period_start"
                  v-model="evaluation.period_start"
                  format="MM.dd.yyyy"
                  required></vue-datepicker>

                  <span v-if="errors.period_start"
                  v-text="errors.period_start"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-6 infobar-6 medium-12 small-12 columns">
                  <label for="period_end">Period End</label>
                  <vue-datepicker ref="datepicker"
                  id="period_end"
                  v-model="evaluation.period_end"
                  format="MM.dd.yyyy"
                  required></vue-datepicker>

                  <span v-if="errors.period_end"
                  v-text="errors.period_end"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        evaluation: {
          contributors: []
        },
        people: []
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      createEvaluation() {
        this.$store.commit('setLoading', true);

        this.evaluation.period_start = (new Date(this.evaluation.period_start)).toLocaleDateString();
        this.evaluation.period_end = (new Date(this.evaluation.period_end)).toLocaleDateString();

        this.$http.post('/evaluations', this.evaluation)
        .then((res) => {
          this.$toast.success('Evaluation was created successfully!');
          this.$store.commit('setLoading', false);
          this.$router.push({name: 'allEvaluations'});
          this.$auth.fetch(); // If you add an evaluation for yourself
        })
        .catch((res) => this._respondToErrors(res));
      }
    },

    created() {
      this.$http.get('/evaluations/create')
      .then(({data}) => {
        this.people = data.people;
      });
    }
  })
</script>
