<template>
  <section class="evaluations">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <span class="show-for-sr">Current: </span> Evaluations
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>View All Evaluations</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row align-middle medium-unstack">
        <div class="column medium-order-2 text-right shrink">
          <section class="padded">
            <button class="small teal dropdown action button" data-toggle="evaluations-actions">
              Actions
              <zf-dropdown id="evaluations-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'addEvaluation'}">
                    Add
                    <i class="oa-plus"></i>
                  </router-link>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>

        <div class="column medium-order-1">
          <input type="search" name="search" placeholder="Search..." v-model="sort.search">
        </div>
      </div>

      <div class="row column">

        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-message"></i>
                <p>Evaluations</p>
              </div>
            </div>

            <button class="dropdown sort gray button" data-toggle="types-sort">
              <span>
                {{ sort.currentType }}
              </span>
              <zf-dropdown id="types-sort">
                <ul>
                  <li @click="setSortType(1, 'Administrative')">
                    Administrative
                    <i class="oa-check" v-if="sort.type === 1"></i>
                  </li>
                  <li @click="setSortType(2, 'Litigation')">
                    Litigation
                    <i class="oa-check" v-if="sort.type === 2"></i>
                  </li>
                  <li @click="setSortType(3, 'Prosecution')">
                    Prosecution
                    <i class="oa-check" v-if="sort.type === 3"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </div>
          <table class="base table stack table--list unstriped links" v-if="evaluations.length">
            <thead>
              <tr>
                <th>
                  Employee
                </th>
                <th>
                  Evaluator(s)
                </th>
                <th>
                  Type
                </th>
                <th>
                  Period
                </th>
              </tr>
            </thead>
            <tbody>
              <router-link
              v-for="evaluation in evaluations"
              tag="tr"
              :to="{name: 'reviewEvaluation', params: { id: evaluation.id }}"
              :key="evaluation.id">
                <td v-text="evaluation.employee.full_name"></td>
                <td>
                  {{ evaluation.contributors | commaSeparated('full_name') }}
                </td>
                <td v-text="typeName(evaluation.type)"></td>
                <td>
                  {{ evaluation.period_start | slashDate }}
                  to
                  {{ evaluation.period_end | slashDate }}
                </td>
              </router-link>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !evaluations.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        evaluations: [],
        pagination: {},
        sort: {
          type: null,
          search: null,
          currentType: 'Filter'
        }
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      },
    },

    watch: {
      '$route.query.page': function(page) {
        this.getEvaluations(page);
      },

      // evaluations: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'allEvaluations'})
      //   }
      // },

      'sort.type': function() {
        this.getEvaluations();
      },

      'sort.search': _.debounce(function(search) {
        if (search.length >=3 || search.length === 0) {
          this.getEvaluations();
        }
      }, 500)
    },

    methods: {
      getEvaluations(page) {
        this.$store.commit('setLoading', true);

        this.$http.get('/evaluations', {
          params: {
            page: page,
            type: this.sort.type,
            search: this.sort.search
          }
        })
        .then(({data}) => {
          this.evaluations = data.data;
          this.pagination = data;
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      typeName(type) {
        switch (type) {
          case 1:
            return 'Administrative';
            break;

          case 2:
            return 'Litigation';
            break;

          case 3:
            return 'Prosecution';
            break;
          default:
        }
      },

      setSortType(type, name) {
        this.sort.type = (type === this.sort.type) ? null : type;
        this.sort.currentType = (name === this.sort.currentType) ? 'Filter' : name;
      },

      goToPage(page) {
        this.$router.push({name: 'allEvaluations', query: {page: page}})
      }
    },

    created() {
      this.getEvaluations(this.$route.query.page);
    }
  }
</script>
