<template>
  <section class="evaluations group">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allEvaluations'}">Evaluations</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Employee Evaluation
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Start Employee Evaluation</h1>
        </div>
      </div>
    </header>

    <section class="form" v-if="!loading">
      <zf-abide  @abide-submit.prevent="updateGroupEvaluation">
        <div class="column row">
          <div class="panel separators">
            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <span class="number-circle">1</span>
                  <p>Details</p>
                </div>
              </div>
            </div>
            <div class="panel--content">
              <div class="row medium-unstack">
                <div class="column">
                  <p class="bold">Evaluee</p>
                  <p>{{ evaluation.employee.full_name }}</p>
                </div>
                <div class="column">
                  <p class="bold">Evaluation Period</p>
                  <p>{{ evaluation.period_start | slashDate }} - {{ evaluation.period_end | slashDate}}</p>
                </div>
              </div>

              <p class="bold">Strengths</p>
              <p>{{ evaluation.self_eval.strengths }}</p>

              <p class="bold">Growth</p>
              <p>{{ evaluation.self_eval.growth }}</p>

              <p class="bold">Goals</p>
              <p>{{ evaluation.self_eval.goals }}</p>
            </div>

            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <span class="number-circle">2</span>
                  <p>Rating System Scale</p>
                </div>
              </div>
            </div>
            <div class="panel--content">
              <ul class="dotted menu vertical">
                <li class="bold"><a><span>5 (Highest)</span> : Significantly Exceeds Expectations</a></li>
                <li class="description">Performance is consistently and substantially above expectations in all areas.</li>

                <li class="bold"><a><span>4</span> : Exceeds Expectations</a></li>
                <li class="description">Performance exceeds expectations.</li>

                <li class="bold"><a><span>3</span> : Meets Expectations</a></li>
                <li class="description">Performance is consistently good and meets all expectations.</li>

                <li class="bold"><a><span>2</span> : Partially Meets Expectations</a></li>
                <li class="description">Although performance may sometimes meet expectations, this rating indicates certain areas require attention and improved performance.</li>

                <li class="bold"><a><span>1 (Lowest)</span> : Below Expectations</a></li>
                <li class="description">Performance does not meet expectations and requires improvement. A Performance Improvement Plan (“PIP”) outlining goals and steps to establish improvement by a specific date should be established.</li>

                <li class="bold"><a><span>N/A</span> : Not Applicable</a></li>
                <li class="description">Does not apply to this individual.</li>
              </ul>
            </div>

            <div class="panel--header">
              <div class="title">
                <div class="heading">
                  <span class="number-circle">3</span>
                  <p>Evaluation Questionnaire</p>
                </div>
              </div>
            </div>
            <div class="panel--content no-padding">
              <div class="evaluation-table" v-for="(group, g) in types[evaluation.type - 1].groups" :key="g">
                <header v-if="group.title">
                  <span v-text="group.title"></span>
                </header>

                <section>
                  <div class="group" v-for="(item, i) in group.items" :key="i">
                    <div class="row collapse">
                      <div class="column">
                        <div class="title">
                          <span>{{ item.title }}</span>
                        </div>
                      </div>
                      <div class="column shrink">
                        <div class="title scale">
                          <span>1</span>
                          <span>2</span>
                          <span>3</span>
                          <span>4</span>
                          <span>5</span>
                          <span>N/A</span>
                        </div>
                      </div>
                    </div>

                    <div class="row collapse align-middle" v-for="(question, q) in item.questions" :key="q">
                      <div class="column">
                        <div class="question">
                          <span>{{ question }}</span>
                        </div>
                      </div>
                      <div class="column shrink">
                        <div class="score">
                          <div class="input-toggle-group">
                           <radio
                           type="radio"
                           v-for="(val, s) in 6"
                           v-model="evaluation.questionnaire[`${g}:${i}:${q}`]"
                           :disabled="completed"
                           :required="true"
                           :name="`question_${g}:${i}:${q}`"
                           :key="s"
                           :id="`question_${g}:${i}:${q}:${s}`"
                           :val="val > 5 ? 0 : val">
                           </radio>
                         </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <footer>
                  <label :for="'comments_' + g">
                    Comments<span v-if="group.title"> on {{ group.title }}</span>
                  </label>
                  <textarea
                  :readonly="completed"
                  v-model="evaluation.questionnaire[`comment:${g}`]"
                  :id="'comments_' + g"
                  rows="5"></textarea>
                </footer>
              </div>
            </div>

            <div class="panel--header" v-if="!completed">
              <div class="title">
                <div class="heading">
                  <span class="number-circle">4</span>
                  <p>Submit Evaluation</p>
                </div>
              </div>
            </div>
            <div class="panel--content" v-if="!completed">
              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </zf-abide>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';
  import administrative from './types/administrative';
  import litigation from './types/litigation';
  import prosecution from './types/prosecution';

  export default FormRequest.extend({
    data() {
      return {
        evaluation: {},
        types: [
          administrative,
          litigation,
          prosecution
        ]
      }
    },

    watch: {
      id: function() {
        this.getEvaluation();
      },

      'evaluation': function(evaluation) {

        if (!evaluation.self_eval) {
          this.$router.push({'name': 'allEvaluations'});
          this.$toast.warning('The self evaluation has not been completed yet.');
          return;
        }

        let contributors = [];

        evaluation.contributors.forEach((person, index) => contributors.push(person.id));

        if (!contributors.includes(this.$auth.user().id)) {
          this.$router.push({'name': 'error403'});
          this.$toast.warning('You are not listed as a contributor on this evaluation.');
          return;
        }

        if (this.$auth.check(['admin', 'hr'])) {
          return;
        }
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      },

      completed() {
        let user = this.evaluation.contributors.find(person => person.is_auth);

        if (!user) {
          return false;
        }

        return user.pivot.completed;
      }
    },

    methods: {
      updateGroupEvaluation() {
        this.$store.commit('setLoading', true);

        this.$http.put(`/evaluations/${this.id}/group`, this.evaluation)
        .then(({data}) => {
          this.evaluation = data;
          this.$toast.success('Thanks for completing the employee evaluation!');
          this.$store.commit('setLoading', false);
          this.$auth.fetch();
        })
        .catch((res) => this._respondToErrors(res));
      },

      getEvaluation() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/evaluations/${this.id}/edit`)
        .then(({data}) => {
          this.$set(this, 'evaluation', data);
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },
    },

    created() {
      this.getEvaluation();
    }
  })
</script>
