<template>
  <section class="evaluations group">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allEvaluations'}">Evaluations</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Review Evaluation
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Review Employee Evaluation <br v-if="completed"> <small v-if="completed">Average Score: {{ evaluation.average_score }}</small></h1>
        </div>
      </div>
    </header>

    <section class="form" v-if="!loading">
      <div class="row" v-if="$auth.check(['admin', 'hr']) /*&& !beingEvaluated*/">
        <div class="small-12 columns text-right">
          <section class="padded">
            <button class="small teal dropdown action button" data-toggle="evaluation-actions">
              Actions
              <zf-dropdown id="evaluation-actions">
                <ul>
                  <li
                  v-if="evaluation.completed !== null"
                  @click="exportEvaluation">
                    Export
                    <i class="oa-clipboard"></i>
                  </li>
                  <li
                  class="is-delete"
                  @click="deleteEvaluation">
                    Delete
                    <i class="oa-close"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>
      </div>

      <div class="column row">
        <div class="panel separators">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <span class="number-circle">1</span>
                <p>Details</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <div class="row medium-unstack">
              <div class="column">
                <p class="bold">Evalutors</p>
                <ul class="dotted vertical menu">
                  <li v-for="(evaluator, e) in evaluation.contributors" :key="e">
                    <a><p>{{ evaluator.full_name }}</p></a>
                  </li>
                </ul>
              </div>
              <div class="column">
                <p class="bold">Evaluation Period</p>
                <p>{{ evaluation.period_start | slashDate }} - {{ evaluation.period_end | slashDate}}</p>
              </div>
            </div>

            <div class="row medium-unstack" v-if="completed && evaluation.acknowledged">
              <div class="column">
                <p class="bold">Acknowledged On:</p>
                <p>{{ evaluation.acknowledged | slashDate }}</p>
              </div>
              <div class="column" v-if="evaluation.review_comments">
                <p class="bold">Employee Comments:</p>
                <p>{{ evaluation.review_comments }}</p>
              </div>
            </div>
          </div>

          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <span class="number-circle">2</span>
                <p>Rating System Scale</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <ul class="dotted menu vertical">
              <li class="bold"><a><span>5 (Highest)</span> : Significantly Exceeds Expectations</a></li>
              <li class="description">Performance is consistently and substantially above expectations in all areas.</li>

              <li class="bold"><a><span>4</span> : Exceeds Expectations</a></li>
              <li class="description">Performance exceeds expectations.</li>

              <li class="bold"><a><span>3</span> : Meets Expectations</a></li>
              <li class="description">Performance is consistently good and meets all expectations.</li>

              <li class="bold"><a><span>2</span> : Partially Meets Expectations</a></li>
              <li class="description">Although performance may sometimes meet expectations, this rating indicates certain areas require attention and improved performance.</li>

              <li class="bold"><a><span>1 (Lowest)</span> : Below Expectations</a></li>
              <li class="description">Performance does not meet expectations and requires improvement. A Performance Improvement Plan (“PIP”) outlining goals and steps to establish improvement by a specific date should be established.</li>

              <li class="bold"><a><span>N/A</span> : Not Applicable</a></li>
              <li class="description">Does not apply to this individual.</li>
            </ul>
          </div>

          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <span class="number-circle">3</span>
                <p>Evaluation Questionnaire</p>
              </div>
            </div>
          </div>
          <div class="panel--content no-padding">
            <div class="evaluation-table" v-for="(group, g) in types[evaluation.type - 1].groups" :key="g">
              <header v-if="group.title">
                <span v-text="group.title"></span>
              </header>

              <section>
                <div class="group" v-for="(item, i) in group.items" :key="i">
                  <div class="row collapse">
                    <div class="column">
                      <div class="title">
                        <span>{{ item.title }}</span>
                      </div>
                    </div>
                    <div class="column shrink">
                      <div class="title">
                        <span>Average Rating</span>
                      </div>
                    </div>
                  </div>

                  <div class="row collapse align-middle" v-for="(question, q) in item.questions" :key="q">
                    <div class="column">
                      <div class="question">
                        <span>{{ question }}</span>
                      </div>
                    </div>
                    <div class="column shrink">
                      <div class="score">
                       <span>
                         {{ formatResultRating(evaluation.results[`${g}:${i}:${q}`]) }} / 5
                       </span>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <footer>
                <h4>Comments:</h4>

                <div>
                  <div v-for="(comment, c) in evaluation.comments[`comment:${g}`]" :key="c">
                    <p class="bold">{{ comment.name}} said:</p>
                    <p>{{ comment.comment }}</p><br>
                  </div>
                </div>
              </footer>
            </div>
          </div>

          <!-- <div class="panel--header" v-if="!completed && evaluation.person_id.is_auth">
            <div class="title">
              <div class="heading">
                <span class="number-circle">4</span>
                <p>Acknowledge Evaluation</p>
              </div>
            </div>
          </div>
          <div class="panel--content" v-if="completed && evaluation.employee.is_auth && !evaluation.acknowledged">
            <p>I acknowledge receipt of this evaluation. I recognize my signature does not signify acceptance of the scores or comments provided in the evaluation, and understand I have the opportunity to provide a written response to the evaluation.</p>
            <br>
            <label for="comments">Comments</label>
            <textarea
              id="comments"
              v-model="evaluation.review_comments"
              rows="3">
            </textarea>

            <div class="button-box">
              <button class="goldenrod button" @click="acknowledgeEvaluation">Submit</button>
            </div>
          </div> -->
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';
  import administrative from './types/administrative';
  import litigation from './types/litigation';
  import prosecution from './types/prosecution';

  export default FormRequest.extend({
    data() {
      return {
        evaluation: {
          review_comments: ''
        },
        types: [
          administrative,
          litigation,
          prosecution
        ]
      }
    },

    watch: {
      id: function() {
        this.getEvaluation();
      },

      'evaluation.employee.id': function(id) {
        if (this.$auth.user().id !== id && !this.$auth.check(['admin', 'hr'])) {
          this.$router.push({'name': 'error403'});
        }
      },

      evaluation: function() {
        if (!this.completed) {
          this.$toast.warning('This evaluation has not been completed yet');
          this.$router.push({name: 'allEvaluations'});
        }
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      },

      completed() {
        return this.evaluation.self_eval && this.evaluation.group_eval;
      },

      beingEvaluated() {
        return this.evaluation.employee.id === this.$auth.user().id;
      }
    },

    methods: {
      getEvaluation() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/evaluations/${this.id}/edit`)
        .then(({data}) => {
          this.$set(this, 'evaluation', data);
          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      approveEvaluation() {
        swal({
          title: "Approve Evaluation",
          text: "You are approving this evaluation and are ready to review it with the employee. Are you sure you want to proceed?",
          icon: "success",
          buttons: true,
          className: 'success',
        })
        .then((confirmApprove) => {
          if (confirmApprove) {
            this.$http.put(`/evaluations/${this.id}/approve`)
            .then(({data}) => {
              this.evaluation = data;
              this.$toast.success('Thanks for approving the employee evaluation!');
              this.$auth.fetch();
            })
            .catch((res) => this._respondToErrors(res));
          }
        });
      },

      exportEvaluation() {
        this.$http.get(`/evaluations/${this.id}/export`)
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download',  `evaluation-${this.id}.csv`);
          link.click();
          window.URL.revokeObjectURL(url);
        })
        .catch((res) => this._respondToErrors(res));
      },

      acknowledgeEvaluation() {
        swal({
          title: "Confirm Evaluation",
          text: "You agree that the answers and ratings given in this evaluation are accurate?",
          icon: "success",
          buttons: true,
          className: 'success',
        })
        .then((confirmApprove) => {
          if (confirmApprove) {
            this.$http.put(`/evaluations/${this.id}`, this.evaluation)
            .then(({data}) => {
              this.evaluation = data;
              this.$toast.success('Thanks for completing the employee evaluation!');
              this.$auth.fetch();
            })
            .catch((res) => this._respondToErrors(res));
          }
        });
      },

      deleteEvaluation() {
        swal({
          text: "Are you sure you want to delete this evaluation?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`/evaluations/${this.id}`)
            .then(() => {
              this.$toast.success('Evaluation was deleted successfully!');
              this.$router.push({name: 'allEvaluations'});
            });
          }
        });
      },

      formatResultRating(score) {
        if (!score || score === undefined) {
          return 'N/A';
        }

        return score.toFixed(3);
      }
    },

    created() {
      this.getEvaluation();
    }
  })
</script>
