<template>
  <section class="evaluations self">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allEvaluations'}">Evaluations</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Self Evaluation
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Start Self Evaluation</h1>
        </div>
      </div>
    </header>

    <section class="form">
      <div class="column row">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-message"></i>
                <p>Self Evaluation</p>
              </div>
            </div>
          </div>
          <div class="panel--content" v-if="!loading">
            <zf-abide @abide-submit.prevent="updateSelfEvaluation">
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <label for="strengths">Strengths</label>
                  <textarea
                    :readonly="completed"
                    id="strengths"
                    v-model="evaluation.self_eval.strengths"
                    rows="3"
                    required>
                  </textarea>
                  <span
                  v-if="errors.self_eval"
                  v-text="errors.self_eval"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="growth">Growth</label>
                  <textarea
                    :readonly="completed"
                    id="growth"
                    v-model="evaluation.self_eval.growth"
                    rows="3"
                    required>
                  </textarea>
                  <span
                  v-if="errors.self_eval"
                  v-text="errors.self_eval"
                  class="form-error is-visible"></span>
                </div>

                <div class="large-12 medium-12 small-12 columns">
                  <label for="goals">Goals</label>
                  <textarea
                    :readonly="completed"
                    id="goals"
                    v-model="evaluation.self_eval.goals"
                    rows="3"
                    required>
                  </textarea>
                  <span
                  v-if="errors.self_eval"
                  v-text="errors.self_eval"
                  class="form-error is-visible"></span>
                </div>
              </div>

              <div class="button-box" v-if="!completed">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        evaluation: {
          self_eval: {}
        },
        completed: false
      }
    },

    watch: {
      id: function() {
        this.getEvaluation();
      },

      'evaluation.employee.id': function(id) {
        if (this.$auth.user().id !== id && !this.$auth.check(['admin', 'hr'])) {
          this.$router.push({'name': 'error403'});
        }
      }
    },

    props: {
      id: {
        required: true
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      },
    },

    methods: {
      getEvaluation() {
        this.$store.commit('setLoading', true);

        this.$http.get(`/evaluations/${this.id}/edit`)
        .then(({data}) => {
          this.evaluation = data;

          if (!data.self_eval) {
            this.completed = false;
            this.evaluation.self_eval = {};
          } else {
            this.completed = true;
          }

          this.$store.commit('setLoading', false);
        })
        .catch((err) => this.$store.commit('setLoading', false));
      },

      updateSelfEvaluation() {
        this.$store.commit('setLoading', true);

        this.$http.put(`/evaluations/${this.id}/self`, this.evaluation)
        .then((res) => {
          this.completed = true;
          this.$toast.success('Thanks for completing the self evaluation!');
          this.$store.commit('setLoading', false);
          this.$auth.fetch();
        })
        .catch((res) => this._respondToErrors(res));
      }
    },

    created() {
      this.getEvaluation();
    }
  })
</script>
