<template>
  <section class="form">
    <div class="form-box">
      <oa-logo></oa-logo>
      <p>Login to access your account</p>
      <three-dots></three-dots>
      <zf-abide
      @abide-submit.prevent="login"
      method="post">
        <label for="email">E-mail</label>
        <input autofocus type="email" id="email" placeholder="user@example.com" v-model="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" v-model="password" required>

        <div class="flex split">
          <button type="submit" class="goldenrod button">Sign In</button>
          <router-link :to="{ name: 'passwordReset' }">Forgot Password</router-link>
        </div>

        <hr>

        <div class="oauth-login">
          <p class="light">
            Click here to log in with a Microsoft Azure/Active Directory account
          </p>
          <a @click="oauthLogin('azure')" class="goldenrod button">
            Login with Azure

            <i class="fa fa-windows"></i>
          </a>
        </div>

        <span
        v-if="error"
        v-text="error"
        class="form-error is-visible form-error--info"></span>
      </zf-abide>

      <p class="bold">
        <img src="/img/mabr-logo.svg" alt="MABR">
        &copy;2018 Maschoff Brennan. All Rights Reserved.
      </p>
    </div>

    <div class="image"></div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        password: null,
        error: false
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    methods: {
      login() {
        this.error = false;

        this.$store.commit('setLoading', true)

        this.$auth.login({
          params: {
            email: this.email,
            password: this.password
          },
          success: function (res) {
            this.$toast.success('You are now logged in!');
            this.$store.commit('setLoading', false)
          },
          error: function ({response}) {
            this.error = response.status >= 500 ? 'There was a server error. Try again.' : response.data.msg;
            this.$store.commit('setLoading', false)
          },
          rememberMe: true,
          redirect: '/',
          fetchUser: true,
        });
      },

      oauthLogin(provider) {
        this.$auth.oauth2({
          provider
        })
      }
    }
  }
</script>
