<template>
  <loading></loading>
</template>

<script>
export default {
  data() {
    return  {
      code: this.$route.query.code
    }
  },

  props: ['provider'],

  mounted() {
    if (this.code) {
      this.$auth.oauth2({
        code: true,
        provider: this.provider,
        params: {
          code: this.code
        },
        rememberMe: true
      });
    }
  }
}
</script>

<style>

</style>
