<template>
  <section class="form">
    <div class="form-box">
      <router-link :to="{ name: 'login' }">
        <oa-logo></oa-logo>
      </router-link>
      <p>Enter your email and we'll send you a password reset link.</p>
      <three-dots></three-dots>
      <zf-abide
      v-if="!token && !success"
      @abide-submit.prevent="sendResetEmail"
      method="post">
        <label for="email">E-mail</label>
        <input autofocus type="email" id="email" placeholder="user@example.com" v-model="email" required>

        <button type="submit" class="goldenrod button">Send Email</button>

        <span
        v-if="error"
        v-text="error"
        class="form-error is-visible form-error--info"></span>
      </zf-abide>

      <p v-if="success">{{ success }}</p>

      <zf-abide
      v-if="token"
      @abide-submit.prevent="resetPassword"
      method="post">
        <label for="email">E-mail</label>
        <input autofocus type="email" id="email" placeholder="user@example.com" v-model="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" v-model="password" required>

        <label for="password_confirmation">Confirm PasswordPassword</label>
        <input type="password" id="password_confirmation" v-model="password_confirmation" data-equalto="password" required>

        <button type="submit" class="goldenrod button">Reset Password</button>
        <span
        v-if="error"
        v-text="error"
        class="form-error is-visible form-error--info"></span>
      </zf-abide>

      <p class="bold">
        <img src="/img/mabr-logo.svg" alt="MABR">
        &copy;2018 Maschoff Brennan. All Rights Reserved.
      </p>
    </div>

    <div class="image"></div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        password: null,
        password_confirmation: null,
        error: false,
        success: false,
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    props: {
      token: String
    },

    methods: {
      sendResetEmail() {
        this.$store.commit('setLoading', true);

        this.error = false;
        this.success = false;

        this.$http.post('/auth/password/remind', {
          email: this.email
        })
        .then((res) => {
          this.success = 'A password reset email has been sent to you.';
          this.$store.commit('setLoading', false);
        })
        .catch((error) => {
          this.error = error.response.data.msgl;
          this.$store.commit('setLoading', false)
        })
      },

      resetPassword() {
        this.$store.commit('setLoading', true);

        this.error = false;
        this.success = false;

        this.$http.post('/auth/password/reset', {
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
          token: this.token
        })
        .then((res) => {
          this.$toast.success('Awesome! Your password was reset.');
          this.$auth.login({
            params: {
              email: this.email,
              password: this.password
            },
            success: function() {
              this.$store.commit('setLoading', false);
            },
            error: function (error) {
              this.error = error.response.data.msg;
              this.$store.commit('setLoading', false);
            },
            rememberMe: true,
            redirect: '/',
            fetchUser: true,
          });
        })
        .catch((error) => {
          this.error = error.response.data.msg || 'There was an error. Please, try again.';
          this.$store.commit('setLoading', false);
        });
      },
    },
  }
</script>
