<template>
  <section class="resources">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <router-link :to="{name: 'allResources', params: { resource: resource }}">Resources ({{ department.name }})</router-link>
            </li>
            <li>
              <span class="show-for-sr">Current: </span> Add
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>Add New Resource</h1>
        </div>
      </div>
    </header>

    <section class="form">
      <div class="column row">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-document"></i>
                <p>Upload Resource</p>
              </div>
            </div>
          </div>
          <div class="panel--content">
            <zf-abide @abide-submit.prevent="addResource">
              <div class="row medium-unstack">
                <div class="columns">
                  <label for="name">
                    Name
                  </label>
                  <input type="text" id="name" v-model="item.name" required>
                  <span
                  v-if="errors.name"
                  v-text="errors.name"
                  class="form-error is-visible"></span>
                </div>
                <div class="column">
                  <label for="category">
                    Category
                  </label>
                  <vue-select
                  @input="verifyCategory"
                  v-model="item.category_id"
                  id="category"
                  :options="{tags: true}">
                    <option
                    :value="option.id"
                    v-text="option.name"
                    v-for="option in categories"
                    :key="option.id"></option>
                  </vue-select>
                </div>
              </div>

              <div class="row align-middle">
                <div class="column">
                  <div class="input-toggle-group inline">
                    <radio
                    type="radio"
                    v-model="item.source"
                    name="resource_file"
                    id="resource_file"
                    val="file">
                      File Upload
                    </radio>

                    <radio
                    type="radio"
                    v-model="item.source"
                    name="resource_url"
                    id="resource_url"
                    val="url">
                      File URL
                    </radio>
                  </div>
                </div>
              </div>

              <div class="row align-middle" v-if="item.source == 'file'">
                <div class="small-12 large-12 columns margin-bottom">
                  <label for="path" class="button goldenrod">
                    <span v-if="!item.path">Choose File</span>
                    <i class="oa-check" v-if="item.path"></i>
                  </label>
                  <input type="file" id="path" class="hide" @change="attachFile">
                  <small v-if="originalName">{{ originalName }}</small>
                </div>
              </div>

              <div class="row medium-unstack" v-if="item.source == 'url'">
                <div class="columns">
                  <label for="file_url">
                    File URL
                  </label>
                  <input type="text" id="file_url" v-model="item.path">
                </div>
              </div>

              <div class="button-box">
                <button class="goldenrod button">Submit</button>
              </div>
            </zf-abide>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FormRequest from '../../classes/FormRequest';

  export default FormRequest.extend({
    data() {
      return {
        item: {
          type: this.resource,
          source: 'file'
        },
        originalName: null,
        categories: [],
        department: {},
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

     props: {
      resource: {
        required: true
      }
    },

    methods: {
      addResource() {
        this.$store.commit('setLoading', true);

        let formData = new FormData();

        for (let name in this.item) {
          formData.append(name, this.item[name]);
        }

        this.$http.post('/resources', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then((res) => {
          this.$toast.success('Form was added successfully!');
          this.$store.commit('setLoading', false);
          this.$router.push({name: 'allResources', params: {resource: this.resource}});
        })
        .catch((err) => {
          this._respondToErrors(err)
        });
      },

      attachFile(event) {
        this.item.path = event.target.files[0];
        this.originalName = event.target.value.split(/(\\|\/)/g).pop();
      },

      verifyCategory(value) {
        if (!parseInt(value)) {
          this.item.add_category = true;
        } else {
          delete this.item.add_category;
        }
      }
    },

    created() {
      this.$http.get('resources/create', {
        params: {
          type: this.item.type
        }
      })
      .then(({data}) => {
        this.categories = data.categories;
        this.department = data.department;
      })
      .catch((err) => {
        if (err.response.status == 404) {
          this.$router.push({name: 'error404'});
        }
      });
    }
  })
</script>
