<template>
  <section class="resources">
    <header>
      <div class="row column">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li>
              <span class="show-for-sr">Current: </span> Resources ({{ department.name }})
            </li>
          </ul>
        </nav>
        <div class="main">
          <h1>View All Items</h1>
        </div>
      </div>
    </header>

    <section class="list">
      <div class="row align-middle medium-unstack">
        <div class="column medium-order-2 text-right shrink" v-if="$auth.check(['admin', 'marketing'])">
          <section class="padded">
            <button class="small teal dropdown action button" data-toggle="resources-actions">
              Actions
              <zf-dropdown id="resources-actions">
                <ul>
                  <router-link tag="li" :to="{name: 'addResource', params: { resource: this.resource } }">
                    Add
                    <i class="oa-plus"></i>
                  </router-link>
                </ul>
              </zf-dropdown>
            </button>
          </section>
        </div>

        <div class="column medium-order-1">
          <input type="search" name="search" placeholder="Search..." v-model="sort.search">
        </div>
      </div>

      <div class="row column">
        <div class="panel">
          <div class="panel--header">
            <div class="title">
              <div class="heading">
                <i class="oa-document"></i>
                <p>Resources for {{ department.name }}</p>
              </div>
            </div>

            <button class="dropdown sort gray button" data-toggle="resources-sort" v-if="categories.length">
              <span>
                {{ sort.currentCategory }}
              </span>
              <zf-dropdown id="resources-sort">
                <ul>
                  <li
                  v-for="category in categories"
                  :key="category.id"
                  @click="setSortCategory(category.id, category.name)">
                    {{ category.name}}
                    <i class="oa-check" v-if="category.id === sort.category"></i>
                  </li>
                </ul>
              </zf-dropdown>
            </button>
          </div>
          <table class="base table stack table--list unstriped links" v-if="resources.length">
            <thead>
              <tr>
                <th class="sortable" @click="setSortOrder('name')">
                  <i
                  v-if="sort.order_by == 'name'"
                  :class="{
                    'oa-arrow-down': sort.order == 'asc',
                    'oa-arrow-up': sort.order == 'desc'
                    }">
                  </i>
                  Name
                </th>
                <th>
                  Category
                </th>
                <th colspan="4">
                  Date Added
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
              v-for="resource in resources"
              :key="resource.id">
                <td v-text="resource.name" @click="viewResource(resource.path)"></td>
                <td v-if="resource.category" v-text="resource.category.name" @click="viewResource(resource.path)"></td>
                <td v-else @click="viewResource(resource.path)">Uncategorized</td>
                <td v-text="resource.created_at" @click="viewResource(resource.path)"></td>
                <td class="has-button">
                  <a class="button icon teal" @click="viewResource(resource.path)">
                    <i class="oa-watch"></i>
                  </a>
                  <a v-if="$auth.check(['admin', 'hr', 'marketing'])" @click="deleteResource(resource)" class="button icon red">
                    <i class="oa-close"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <section class="padded" v-if="!loading && !resources.length">
            <div class="column row text-center">
              <h5 class="text-white">Nothing here...</h5>
            </div>
          </section>
        </div>

        <zf-pagination
        @paginate="goToPage"
        :data="pagination">
        </zf-pagination>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        resources: [],
        categories: [],
        pagination: {},
        department: {},
        sort: {
          search: null,
          type: this.resource,
          category: null,
          order: 'asc',
          order_by: 'name',
          currentCategory: 'Category'
        }
      }
    },

    computed: {
      loading() {
        return this.$store.state.loading;
      }
    },

    props: {
      resource: {
        required: true
      }
    },

    watch: {
      '$route.query.page': function(page) {
        this.getResources(page);
      },

      // resources: function(items) {
      //   if (!items.length) {
      //     this.$router.push({name: 'allResources', params: {resource: this.resource}})
      //   }
      // },

      resource: function() {
        this.sort.type = this.resource;
        this.getResources();
      },

      'sort.category': function() {
        this.getResources()
      },

      'sort.search': _.debounce(function(search) {
        if (search.length >=3 || search.length === 0) {
          this.getResources();
        }
      }, 500)
    },

    methods: {
      getResources(page) {
        this.$store.commit('setLoading', true);

        this.sort.page = page;

        this.$http.get('resources', {
          params: this.sort
        })
        .then(({data}) => {
          this.resources  = data.resources.data;
          this.categories = data.categories;
          this.pagination = data.resources;
          this.department = data.department;
          this.$store.commit('setLoading', false)
        })
        .catch((err) => {
          if (err.response.status == 404) {
            this.$router.push({name: 'error404'});
          }

          this.$store.commit('setLoading', false);
        });
      },

      setSortCategory(category, name) {
        this.sort.category = (category === this.sort.category) ? null : category;
        this.sort.currentCategory = (name === this.sort.currentCategory) ? 'Category' : name;
      },

      setSortOrder(column) {
        this.sort.order = this.sort.order == 'asc' ? 'desc' : 'asc';
        this.sort.order_by = column;

        this.getResources();
      },

      viewResource(path) {
        window.open(path, '_blank');
      },

      deleteResource(resource) {
        swal({
          text: "Are you sure you want to delete this item?",
          icon: "error",
          buttons: true,
          dangerMode: true,
          className: 'error',
        })
        .then((confirmDelete) => {
          if (confirmDelete) {
            this.$http.delete(`resources/${resource.id}`)
            .then((res) => this.getResources(this.pagination.current_page));
          }
        });
      },

      goToPage(page) {
        this.$router.push({name: 'allResources', query: { page: page, resource: this.resource }})
      }
    },

    created() {
      this.getResources(this.$route.query.page);
    }
  }
</script>
